[2017-12-18 23:11] Pechalka commented on #441
https://github.com/react-materialize/react-materialize/pull/442

[2017-12-18 23:38] Pechalka commented on #372
I create test project with latest version react-materialize and
$ create-react-app --version
1.4.1
https://github.com/Pechalka/create-react-app__react-materialize
It work for me.

How I can reproduce problem?

[2017-12-19 00:54] jimmdd commented on #439
It's the same issue where here discussed in here: [](https://github.com/react-materialize/react-materialize/issues/433), I saw it after I post this. The solution is to using `“react”: “^16.2.0",“react-dom”: “^16.2.0",“react-materialize”: “^1.0.6",`as dependencies.

[2017-12-19 07:53] alextrastero commented on #439
Thanks @jimmdd

[2017-12-19 07:54] alextrastero commented on #317
Hey @AleF83, how did you en up solving this? Thanks!

[2017-12-19 07:55] alextrastero commented on #422
No worries @nya1 :)

[2017-12-19 08:03] alextrastero commented on #441
Smashing! We are rewritting the docs in Gatsby so hopefully many other issues will get solved then :)

[2017-12-19 08:06] #441 closed

[2017-12-19 08:06] #422 closed

[2017-12-19 08:19] alextrastero commented on #441
Thanks @Pechalka, please continue!! 💯  👍

[2017-12-19 08:34] alextrastero opened #444 "Add Prettier"
Reference implementation: https://github.com/styled-components/styled-components/pull/593

[2017-12-20 10:04] haddyo opened #446 "SideNav OnOpen and OnClose event Support"
Hi team,
I just want to know whether the onOpen and OnClose event for SideNav is supported for React-Materialize just like Materializecss.
If not, is there any workaround to acheive onOpen functionality.

Thanks
Sadique

[2017-12-23 14:15] sumansai14 opened #447 "Cannot read property 'props' of null"
Passing null objects to Select Input children is giving an error.
https://github.com/mui-org/material-ui/issues/8190

[2017-12-27 12:19] PiyushMishra commented on #289
<nav style="position:fixed;z-index:1;top:0" </nav> will solve the issue

[2017-12-27 12:19] PiyushMishra commented on #289
<nav style="position:fixed;z-index:1;top:0"

[2018-01-03 13:16] 0xd5 commented on #417
Same here, any resolution?

[2018-01-04 18:33] josephpung opened #449 "Buttons Not working on mobile"
As stated in title, buttons are not working when I run my website on mobile

[2018-01-04 19:46] alextrastero commented on #449
Hey @josephpung, not working meaning they don't click? or they don't animate? This is a first :)

[2018-01-05 04:33] josephpung commented on #449
@alextrastero i cant click on the buttons when i view it on mobile, works prefect on normal web tho.

this is the page im using, the button is on the main component after the location loads so if you wanna test it out you need to use chrome and allow location services
[Page Link](https://voiceweather.herokuapp.com/)

[2018-01-05 09:27] alextrastero commented on #449
I'm getting other errors like:
`Oopsy daisy, this shouldn't happen ! not-allowed` and
`Verify the microphone and check for the table of errors in sdkcarlos.github.io/sites/artyom.html to solve your problem. If you want to give your user a message when an error appears add an artyom listener` when I click the button on mobile

[2018-01-05 09:28] alextrastero commented on #449
I'm afraid we don't remove click listeners to buttons manually when on mobile view, it must be something else in your code

[2018-01-05 13:01] josephpung commented on #449
i think i've figured the problem out, thank you!

[2018-01-05 13:16] #449 closed

[2018-01-05 15:19] gn-ley opened #450 "SideNavItem react-router Integration"
Similar as the solution for NavLink #188, there needs to be a solution for SideNavs as well.

An additional prop "to" seems the best way to go:
```<SideNavItem to="/route">```

[2018-01-08 05:50] iMerica commented on #246
Modals don't work at all for me on React 16. I'm essentially doing the same thing as https://github.com/react-materialize/react-materialize/issues/246#issuecomment-301704260;

[2018-01-08 14:15] alextrastero commented on #246
Hey @iMerica, are you getting any errors in the console?

[2018-01-08 17:33] pmartiner opened #452 "Custom input error messages breaks lines with some white spaces"
Adding a custom error message into an Input field, without replacing each space for a `&nbsp;` breaks the lines within the error label.
Any ideas where the errors might be?

Working code :
`<Input l={12} s={12} error='Invalid&nbsp;user&nbsp;or&nbsp;password' type='password' id='password' label='Password' onKeyPress={this.handleKeyPress.bind(this)} onChange={(e) => {this.handleInputChange(e, 'pw')}

[2018-01-08 18:05] tapandave opened #453 "Issue in input type select"
Please help with the issue coming in my react redux app when i want to populate data using select input,

just copied and paste code from website
`<Input s={12} type='select' label="Select">`
        `<option value="null">Select</option>`
       `<option value="Select 1">Select 1</option>`
        `<option value="Select 2">Select 2</option>`
        `<option value="Select 3">Select 3</option>`
`</

[2018-01-09 09:55] alextrastero commented on #452
True! seems like the input is missing `.validate` class which sets the width.

[2018-01-09 09:59] alextrastero commented on #453
You might need to reinitialise the select `$('select').material_select();` when the new data arrives

[2018-01-09 10:01] alextrastero commented on #453
Also please make sure that you do have react16 as mentioned in this ticket: https://github.com/facebook/react/issues/10320

[2018-01-10 06:08] tapandave commented on #453
reinitialise the select,but how to use '$' in react component lifecycle,can you show me an example

[2018-01-10 09:30] alextrastero commented on #453
If you have a look at the implementation of `<Input />` [here](https://github.com/react-materialize/react-materialize/blob/master/src/Input.js#L24), you can see how we use `$`. Now, if you are using `react-create-app`, you might have an issue. For webpack check [this](https://webpack.js.org/plugins/provide-plugin/#usage-jquery) out

[2018-01-10 23:19] mpetricek opened #454 "Using materialize SASS components"
Hi,

is there an elegant way how to use style components from materialize which are in "node_modules/etc." in my own styles in app. If I simply import them they will be rendered twice in final css.

Thank you in advance!

[2018-01-11 09:08] alextrastero commented on #454
I guess you are using the compiled CSS from the CDN at the moment? If you choose to go with SASS you will need to remove all imports to the compiled CSS and handle the sass compilation on your own via Webpack or similar.

[2018-01-11 09:14] mpetricek commented on #454
No I'm  not using compiled CSS. The Materialize SASS are compiled via Webpack.

My question is how to use for example "@extend .white-text" in my own stylesheets without duplicating SASS code. For now I imported three Materialize scss components via ~materialize-css/etc. but those components would render twice on the end.

[2018-01-11 19:22] pmartiner commented on #452
I don't think setting the `validate` prop to default would be the best solution, since it's an optional class in the "non-react"-materialize. Maybe making the prop `error` the new width setter would be nice. This would make sense as the problem is related to the custom error message; defaulting the validation in the Input component would affect users who aren't customizing their errors, yet I don'

[2018-01-11 20:16] alextrastero commented on #452
I would rather not mess around with `css` changes, I think we can mark this issue as resolved stating that `validate` prop is what was missing, WDYT?

[2018-01-11 20:19] alextrastero commented on #454
I would need a better example if possible,  `@extend .white-text` will always result in duplication or maybe I still don't understand the issue :)

[2018-01-11 21:51] pmartiner commented on #452
I agree.
Yeah, the the issue is resolved. Thank you very much!

[2018-01-12 01:16] scottcinatl opened #455 "view_headline showing up on Nav when window is resized"
When resizing the window "view_headline appears." I saw this issue raised before [https://github.com/react-materialize/react-materialize/issues/48](url) and added the link to the material icon sheet provided, but the problem is still occurring. Any other possible problems that can be causing this?

Also, this error only occurs in production, not in development. Thanks!

` <Navbar brand="Scott Cina

[2018-01-12 01:24] scottcinatl commented on #455
Sorry, there was just lag time in recent changes pushed to live app. The previous solution worked.

[2018-01-12 01:24] #455 closed

[2018-01-12 09:14] #452 closed

[2018-01-12 14:36] mpetricek commented on #454
If I wan't to use @extend and use classes from materialize I need to import components like "_color.scss, _variables.scss" into my stylesheet. That leads to duplicate rendering of those components.

[2018-01-12 15:22] alextrastero commented on #454
I see, I don't know how you can avoid that. If you want to extend a var declared in variables.scss, you will need to import the file, and if THAT file requires other files, you need to import them too.

This however is not an issue with react-materialize since we're just importing the compiled css from them.

[2018-01-13 12:43] aqumus commented on #414
@fsolar May be you could try setting `value=""` if you want to reset the input select value.

[2018-01-17 22:58] czarbina commented on #436
This seems to still be an issue, but only for my deployed app. Any resolutions?

[2018-01-18 11:23] alextrastero commented on #436
Hey @czarbina, can you check if in the production code, the link still exists in `index.html`. Maybe it's some webpack misconfiguration

[2018-01-19 17:26] TENsaga opened #456 "Issue with large data in select input dropdown"
Hey there. I'm getting some latency issues with the animation effect on the drop down. After selecting an option in my State dropdown, a new list of Cities is generated for the drop down below it. Some of these States have over 500 options, and the 'pull up' / 'retract' animation of the State menu, after I select a State, lags for a second while the DOM is populated with the Cities options.

I've

[2018-01-19 20:50] dennisja commented on #428
call it as
`window.Materialize.toast('I am a toast!', 4000)`

[2018-01-19 21:29] #456 closed

[2018-01-19 21:29] TENsaga commented on #456
went with different selection option

[2018-01-25 06:13] yash592 opened #458 "Closing a modal on an actions modal proptype"
Is there any way to close a modal on clicking a submit button with an actions modal prototype?

Example code shown below:

`<Modal id = "Popout"
    	header= 'Tell your followers about your project.'
    	trigger={<Button id="PostBtn">Post</Button>}
      actions={
        <Button  name="btn" id="submitBtn" className="btn btn-default" onClick={this.handleFormSubmit} data-confirm="Are you sure you

[2018-01-25 07:57] alextrastero commented on #458
You could add a `ref` and close inside `handleFormSubmit`, I think that would work

[2018-01-25 08:00] alextrastero commented on #458
[code]

[2018-01-25 22:24] yash592 commented on #458
Thank you @alextrastero

I added a `modal = "close` attribute to the button and was able to close the modal and submit as well.

[2018-01-26 13:09] alextrastero commented on #458
Ok, closing then :)

[2018-01-26 13:09] #458 closed

[2018-02-01 19:24] dennisja commented on #362
use `window.Materialize.toast("My toast", 4000)`

[2018-02-03 00:58] davis016 commented on #407
Hey @alextrastero, how i can set the brand prop? i want to change the logo.

[2018-02-06 01:25] italopessoa commented on #362
@dennisja You're awesome man. Thank you!

[2018-02-06 09:41] alextrastero commented on #407
Hi @davis016,
[code]
brand prop can be any node

[2018-02-06 09:41] #407 closed

[2018-02-09 02:18] TongChia opened #460 "<Input /> with 'inline' prop"
Is there a way to make input `inline` i don't know ?
I can not add className={'inline'} to the input wrapper `div.input-field`

i want [like this](http://materializecss.com/forms.html) : This is an inline input field

[2018-02-09 10:12] clemudensi opened #462 "Toggling checkbok with an onClick event using boolean"
Hi, I've been having trouble toggling the materialize checkbox with a separate button I created, I've been able to verify that my state works properly by passing in boolean values into the checked object parameter of checkbox input. I don't know if this is a bug or an error on my part, therefore I would appreciate any assistance to resolve this issue. Although the checkbox toggle works properly by

[2018-02-09 10:29] alextrastero commented on #460
[code]
Like this?

[2018-02-09 10:29] #460 closed

[2018-02-09 10:30] alextrastero commented on #462
Yeah, it's because it's attached to jQuery events, have a look in the materializecss documentation, something related to reinitialising the checkbox

[2018-02-11 13:16] #454 closed

[2018-02-12 17:57] jacquesdev opened #463 "Button onClick not fired when 'fab' paramater used."
I have a Button that looks like the one below.

[code]

It seems that onClick gets ignored when fab='vertical' (or 'horizontal') for that matter. When I removed that property entirely, the onClick fires as expected.

[2018-02-13 08:39] jacquesdev commented on #463
It turns out this is by design (I did not realise), but it is not specified in the docs, so will add a PR to get that updated.

[2018-02-13 09:05] lloydwatkin opened #465 "Support `onClick` for <NavItem/>"
I'd like to be able to pass on `onClick` prop to `<NavItem/>` rather than a `href`.

[2018-02-13 15:21] alextrastero commented on #463
Thanks @jacquesdev

[2018-02-13 15:21] #463 closed

[2018-02-13 15:23] alextrastero commented on #465
All props are passed here https://github.com/react-materialize/react-materialize/blob/master/src/NavItem.js#L12, doesn't this work?

[2018-02-13 15:51] lloydwatkin commented on #465
Unfortunately not, if I write:

[code]

This generates:

[code]

So when I click on the `<li/>` (to which the `onClick` prop is attached) the `<a/>` tag is getting activated (since it has a href) and hijacks the action.

[2018-02-13 15:52] lloydwatkin commented on #465
...if `href` attribute is not added to the `<a/>` tag then the `onClick` fires as expected and everything is good :+1:

[2018-02-13 15:53] lloydwatkin commented on #465
My short term solution is to use an `<li/>` in `<Navbar/>` rather than `<NavItem/>` but longer term (or before I get a chance to make a PR myself) it would be good to support the clicks only :)

[2018-02-13 15:59] alextrastero commented on #465
Ah I see, ok so ideally if prop `onClick` exists we should remove the `href` from `a`

[2018-02-13 16:25] lloydwatkin commented on #465
I'd say if `href` doesn't exist don't include it? That way its up to the
user?

On 13 February 2018 at 15:59, Alexander Odell <notifications@github.com>
wrote:

[2018-02-22 08:33] Koolstr opened #467 "Implementing Search Bar"
Can we get the Materialize search bar included? I noticed it wasn't an option in [our NavBar documentation](https://react-materialize.github.io/#/navbar). And yet It's listed as possible with the original Materialize in [their NavBar documentation](http://materializecss.com/navbar.html), so what would it take to get it implemented here as well?

I tried implementing it raw from Materialize's docs,

[2018-02-22 11:51] haddyo commented on #405
Any Updates on this Issue?

[2018-02-22 13:38] marvinkome commented on #465
I think the way you should do this is to add `e.preventDefault()` to the onClick handler this way when the `a` is clicked it doesn't do what the browser default does that is route to the `href` location.

[2018-02-22 13:40] lloydwatkin commented on #465
That doesn't work. The link tag is a child element.

On 22 Feb 2018 1:38 pm, "Marvin Kome" <notifications@github.com> wrote:

[2018-02-22 16:02] alextrastero commented on #465
@lloydwatkin @marvinkome feel free to give it a go :)

[2018-02-22 19:04] BrunaChamon commented on #428
@dennisja Solution works for me! Thank you!

[2018-02-22 21:41] juan-carlos-correa commented on #428
@alextrastero thanks, it was my mistake for my knowledge of js. The @dennisja solution is perfect ;D

[2018-02-25 11:15] shrestha-bikash opened #468 "DatePicker reopens when changing tabs."
Steps to reproduce this issue:

Click on the Date Picker input
Click on a date to choose one and click close or just click close
Click another tab
Return back to the previous tab
The Date Picker Modal opens without the user clicking on it

[2018-02-26 19:15] #405 closed

[2018-02-27 11:59] ThatBrianDude commented on #402
Maybe we can add this to the docs? For a moment I thought it was skipped when porting to react.

I cant find it here: https://react-materialize.github.io/#/forms

[2018-02-27 12:57] alextrastero commented on #468
Hey @shrestha-bikash, the code would look like this?
[code]

[2018-02-27 12:58] alextrastero commented on #402
Thanks @ThatBrianDude, will add asap

[2018-02-27 14:00] sfcgeorge commented on #405
Yay thank you, can confirm it works :D

[2018-02-27 14:25] #402 closed

[2018-02-27 15:11] alextrastero commented on #405
@sfcgeorge woohoo, please continue reporting bugs ❤️

[2018-02-27 15:59] ThatBrianDude commented on #404
@jjbluesky Which error was that? I am getting .modal() is not a function after importing jquery properly. I dont see how it should work

[2018-02-28 21:25] cdetrio commented on #417
You can put this in your component:

[code]

Its just pasting the `handleSelect` code from [Collapsible.js](https://github.com/react-materialize/react-materialize/blob/9f7e33361b5eab5a4cdeee1a732ce6a19c879c20/src/Collapsible.js#L67-L77).

[2018-03-01 03:52] timmeh-m opened #483 "Input select dropdown issue"
I'm having some trouble with the select input. I have copy and pasted the select input example into my project and whilst it almost works, when I select an option in the dropdown the dropdown goes away, but the options are still selectable (as if the dropdown didn't actually go away but instead had it's alpha changed to 0). Has anyone experienced this issue?

[2018-03-01 09:27] 0xd5 commented on #417
I got really lazy with this and put ```()=>{}```, it's just complaining that there isn't any function passed. Perhaps something like that as the default prop value would fix this.

[2018-03-01 13:25] cernadasjuan opened #484 "Version 2.0.6 not working"
### Description

When I do npm i react-materialize, the version 2.0.6 doent't have the source code in lib folder, so when i run npm start the app crashes.

[2018-03-01 13:44] Lucas-Braz-Cunha commented on #468
@alextrastero actually this happens if you just change tabs on the navigator (happened to me on Chromium).
[code]

[2018-03-01 15:40] alextrastero commented on #484
Absolutely true, this is due to https://github.com/react-materialize/react-materialize/commit/e181e73e9406416a5efb12d805f8f12f1d644720#diff-354f30a63fb0907d4ad57269548329e3

I messed up the travis config. 2.0.7 should fix this :)

[2018-03-01 15:41] #484 closed

[2018-03-01 19:03] weasteam commented on #417
thanks @cdetrio it works when I pass an empty `handleSelect` function.

[2018-03-01 19:03] #417 closed

[2018-03-04 15:48] alextrastero opened #487 "`Chip` to have default 'close' set to false in defaultProps"
help-wanted

[2018-03-04 20:41] sanketsingh24 commented on #487
If possible, can I work on this issue?

[2018-03-04 22:25] cernadasjuan opened #489 "Materialize css version"
Hi, I saw in the installation instructions that the materialize css version is 0.98.0, but there are new versions of the library. Is mandatory to use the 0.98.0 version, or I can change it?

Thanks!

[2018-03-05 08:54] shrestha-bikash commented on #468
@alextrastero I am not talking about <Tabs> I am talking about browser tab like @Lucas-Braz-Cunha said.

[2018-03-05 08:56] alextrastero commented on #487
Yes @sanketsingh24 !

[2018-03-05 08:59] alextrastero commented on #489
Hey @cernadasjuan, the issue is that they made breaking changes in the js part. So by updating it will break. If you want, update the version and see if anything breaks, please fill an issue then :)

[2018-03-05 08:59] #489 closed

[2018-03-05 09:01] alextrastero commented on #468
Ah! I see, would this be an issue with react-materialize or materialize-css then? We need to debug this, anyone want to give it a try?

[2018-03-05 09:01] alextrastero commented on #483
Is this still happening @timmeh-m ?

[2018-03-05 09:02] shrestha-bikash commented on #468
I found that react-materialize has used pickadate [library](https://github.com/amsul/pickadate.js) and this issue is related to this library. [Here](https://github.com/amsul/pickadate.js/issues/160) is the issue that has the solution which can be used to solve this issue.

[2018-03-05 09:23] shrestha-bikash commented on #468
In Input.js file from src folder
here this code
[code]
can be changed as
[code]

This may work I have done something like this to make it work in materialize-css.

[2018-03-05 09:23] alextrastero commented on #468
`react-materialize` is using whatever `materialize-css@0.98.2` was using.

It seems now they might have their [own implementation](https://github.com/Dogfalo/materialize/blob/7420a390d179900a399cd55cdd7d4f0fb8fce81a/js/datepicker.js)

[2018-03-05 09:24] alextrastero commented on #468
Great @shrestha-bikash! Wanna submit a PR?

[2018-03-05 09:29] shrestha-bikash commented on #468
Okay

[2018-03-05 16:16] #487 closed

[2018-03-06 02:18] timmeh-m commented on #483
Unfortunately so, 2.0.7

[2018-03-06 16:36] alextrastero commented on #483
Can't reproduce @timmeh-m, could you specify exactly steps to reproduce?

[2018-03-06 17:07] kykungz opened #492 "Input cannot use with recompose's withStateHandlers ?"
### Description

So I'm trying to use react-materialize with `recompose`'s `withStateHandlers` to make a controlled input component with a default value. Here is the code (I want the starting text to be 'hi'):
[code]
But this gave me a warning:
[code]
And I tried to make `name` to be an empty string, and the warning is gone:
[code]

~I tried to do this again using traditional React Component (`ext

[2018-03-06 17:46] BryceMehring opened #493 "Controlled modal component"
### Description

Allow the modal component to be controlled via props without the need for a button. It would function similar to how material-ui opens/closes the modal via the `open` prop. http://www.material-ui.com/#/components/dialog

[2018-03-06 18:50] #493 closed

[2018-03-06 18:50] alextrastero commented on #493
@BryceMehring `2.1.0` ;)

[2018-03-06 18:52] alextrastero commented on #492
Hey @kykungz, have you tried with `defaultValue` on `<Input />`?

[2018-03-06 19:56] kykungz commented on #492
@alextrastero Yeah that hides the warning, but then after I clicked the Cancel button, the state is cleared but the input's text is still there because the `value` did not bind with the state.

[2018-03-06 20:01] severeon commented on #493
Shouldn't this logic be in the render function aswell?  Currently it will only open the modal via the prop if it was instantiated with the property set.

[2018-03-06 23:54] BryceMehring opened #496 "Controlled Input component warning"
### Description

Controlled Input components throw the following warning to the console:

[code]

### Steps to Reproduce

[code]

### Versions

**react-materialize:** 2.1.0
**materialize-css:** 0.100.2
**react:** 16.2.0

[2018-03-06 23:59] BryceMehring commented on #496
This is similar to #492

[2018-03-07 01:31] timmeh-m commented on #483
It's really odd, I've used just the example code (copy and pasted) from the docs and I've captured a video so you can see what happens. https://youtu.be/T9zQhotTkfw

[2018-03-07 08:00] timmeh-m commented on #483
Well then, I've discovered that the example code doesn't have this problem in all of my classes, just one in particular. Further found my predecessor had css code for the div different to the other classes. Removal of the pointless css code has resolved this issue. Thanks for your time, annoyed it was something like this but hey, it works now.

[2018-03-07 08:00] #483 closed

[2018-03-07 10:28] alextrastero commented on #492
I see, ok, i'll need to look into this

[2018-03-07 10:34] alextrastero commented on #496
I see, ok, i'll need to look into this

[2018-03-07 10:35] alextrastero commented on #483
This is strange! thanks for following up on it :)

[2018-03-07 11:35] marvinkome opened #497 "React Materialize not working on browsers on Android 4.4.2 below"
### Description

React materialize doesn't work on Android 4.4.2 browser. Even the documentation doesn't show on the browser too.

### Versions

react-materialize:1.1.2
materialize-css:0.100.2
react:16.2.0

[2018-03-13 18:09] daxaxelrod commented on #438
Dom element being the time picker?
Im using
<Row>
          <Input name="on" type="time" onChange={(e, value) => {

          }} />
</Row>

[2018-03-14 02:02] timmeh-m opened #498 "Tab active not working"
I have a header with links that direct to different pages using react-router. One of the pages has tabs on it, and when the page loads from being selected in the header, the component for the first tab (which I've set as active) is loaded, but the tab itself is not active. The problem here is that if I click on another tab (tab 2 for example), tab 2 becomes active, shows the content for that BUT a

[2018-03-14 08:52] alextrastero commented on #438
Hi, pickatime doesn't work with certain version of materialize-css

[2018-03-14 08:53] alextrastero commented on #438
required version is "materialize-css": "^0.100.2",

[2018-03-14 08:55] alextrastero opened #499 "Add `Sidenav` fixed prop"
### Sidenav fixed prop

Currently, most of our issues our related to sidenav, since this is such an important component, we need to update the docs, have more examples, and add more props such as `fixed`.

[2018-03-14 08:59] hnoor commented on #348
I had the same issue. so I added a container props, the same way you use the fixed props, to the navbar class. works perfectly for me. looks like this

`  render () {
    const {
      brand,
      className,
      fixed,
      left,
      right,
      href,
      container, //container prop
      ...other
    } = this.props;

    delete other.options;

    let classes = {
      right: right,

[2018-03-14 09:21] alextrastero commented on #498
@timmeh-m have a look at the linked PR

[2018-03-14 09:23] alextrastero commented on #348
Formatted:

[code]

[2018-03-14 09:24] alextrastero commented on #499
What's the diff between Sidenav and Navbar, can they be the same element? what can they share?

[2018-03-14 09:25] alextrastero commented on #497
Yes, this is probable. Does react solo work?

[2018-03-14 14:01] daxaxelrod commented on #438
@alextrastero Thanks!

[2018-03-14 16:09] #438 closed

[2018-03-14 19:39] ThatBrianDude opened #502 "Switching tabs programmatically"
### Description

I am not able to switch tabs programmatically using the jquery $("...").tabs("select_tab", "tab_id")
method. My tabs id's are visible on the bottom left of the browser when hovering over them so I was able to confirm that they were right.

I also tried giving a tab an explicit id prop but that doesnt work either.

Is this not implemented?

#### Thanks for helping out!

[2018-03-15 02:21] timmeh-m commented on #498
Hmmm, well I'm not entirely sure how to use that branch in my project (I put the link to the branch in my package.json but it doesn't download the src file, just some readme's and other docs), so I ended up just manually putting your code in my local copy of react-materialize 2.1.0. It didn't seem to fix the problem, although that could just be down to me.

Here's how I'm setting up the tabs, wher

[2018-03-15 09:10] ThatBrianDude commented on #428
Wow. The docs could really use a section of "programmatically doing xyz" for almost every component.

[2018-03-15 11:39] #498 closed

[2018-03-15 11:46] alextrastero commented on #502
Hey @ThatBrianDude, can't you pass `active` prop to child `Tab` of `Tabs`?
https://github.com/react-materialize/react-materialize/blob/master/src/Tab.js#L25

[2018-03-15 11:47] alextrastero commented on #428
PR's welcome :)

[2018-03-15 11:47] #428 closed

[2018-03-15 11:47] #497 closed

[2018-03-15 11:48] alextrastero commented on #498
@timmeh-m try `2.1.2` :)

[2018-03-15 11:53] ThatBrianDude commented on #502
That only marks the tab as active but will not trigger the indicator animation.
You end up with one tab "active" via text color and another via indicator.

[2018-03-15 11:55] alextrastero commented on #502
I see, can you explain to me a bit more your use case?

[2018-03-15 11:59] ThatBrianDude commented on #502
I am combining tabs with react-router. Each tab represents a route on my page. I have another button elsewhere on the page that also leads to one of the routes.

When I click the button I want the tabs to animate as if I clicked the tab itself instead of the button.

Right now the route changes and the text of the target tab too but not the indicator. The indicator stays at the previous tab.

[2018-03-15 12:05] alextrastero commented on #502
Ok, so ideally you would listen to new route and then call the jQuery method, check the ID that get's assigned to each tab you want to 'select' and try calling the method. `$('ul.tabs').tabs('select_tab', 'tab_id');`

[2018-03-15 12:05] alextrastero commented on #502
If it doesn't work, what error are you getting?

[2018-03-16 23:18] pkenjora commented on #381
Use version: https://github.com/Dogfalo/materialize/releases/tag/v0.100.2

[2018-03-18 09:52] VGamezz19 opened #505 "🚨 Jest React-Materialize - TypeError: $(...).collapsible is not a function"
### Description

Problem when try to run my unit test in Jest.

### Steps to Reproduce

1. follow this case https://stackoverflow.com/questions/41844947/reactjs-jest-jquery-is-not-defined
2. yarn test
3. Error

[code]

this is the important message

I think that I need import materialize.js in JEST  in some way, but I do not know how

### Versions

"react-materialize": "^2.1.0",
"materialize-css":

[2018-03-18 09:53] VGamezz19 commented on #505
## More Info:

i'm using `create-react-app` and i use this configuration to run my Jest

[code]

[2018-03-18 10:14] VGamezz19 commented on #505
## ⚠️ ⭐️ Resolved

install
`yarn add jquery hammerjs materialize-css`
in the configuration file for Jest, put this

[code]
and works!

[2018-03-18 10:14] #505 closed

[2018-03-19 09:27] alextrastero commented on #505
Hey @VGamezz19, thanks for sharing your findings. This will probably help other users down the road 👍

[2018-03-19 11:09] ThatBrianDude commented on #502
I am not receiving any error sadly. I am however observing some very weird behaviour:

Every time I click on a tab their id's increment by 10. So they begin with tab_01 etc. then once I navigate to any tab, each of them receives a new id incremented by 10. tab_01 becomes tab_10. Maybe this is the reason .tabs("select_tab", "tab_01") never works because the transition itself already changes the id

[2018-03-20 01:02] timmeh-m commented on #498
In Safari no change, but in Chrome it looks to be much better, not 100% but works most of the time. That's fine, we'll just recommend the use of Chrome. Thanks for your help!

[2018-03-20 07:12] karavaiker opened #506 "<Modal /> component not Working"
### Description

When i add  in ```<App />``` component

[code]

i have this issue in console

[code]

### Versions
    "materialize-css": "^0.100.2",
    "react": "^15.6.2",
    "react-dom": "^15.6.2",
    "react-materialize": "^2.1.2",

#### Thanks for helping out!

[2018-03-21 13:46] PREMPRAKASHSINGH opened #507 "Disable past dates in DatePicker"
### Description

I am not able to disable past dates in case where i don't want to allow user's to select past dates.

### Steps to Reproduce
Following is the code sample:
[code]

**Expected behavior:** [What you expect to happen]
There should be some parameters like minDate that will disable the past dates from minDate.

**Actual behavior:** [What actually happens]
At the moment it does not disab

[2018-03-21 17:20] DoubleHub commented on #292
This is not true. If you attach a ref to a `<Input />` component you still do not have access to the `focus()` function (just tried now).

[2018-03-22 14:29] thecassion opened #508 "I can't see my inputs into a Card."
### Input can't be a content into a card

I am trying to use a card as a form. When I put my input in a `children` in my card , It does not work and I can't be able to see my inputs

my code
List of inputs
` const inputlist = [
    {label:"First name", type:"text"},
    {label:"First name", type:"text"},
    {label:"First name", type:"text"},
    {label:"First name", type:"text"},
    {label:"Firs

[2018-03-23 05:55] usrivastava91 commented on #399
@alexgsummer Thanks for the idea man. That's exactly the solution I was thinking. I think they applied it for default values, but not for labels.

PR : https://github.com/react-materialize/react-materialize/pull/509

[2018-03-23 13:07] alextrastero commented on #502
Hey @ThatBrianDude, I need a code sample to test please :)

[2018-03-23 13:08] alextrastero commented on #498
In this case the browser shouldn't make any difference really, weird

[2018-03-23 13:31] alextrastero commented on #506
Hey @karavaiker, in the `package.json` it's stated that the minimum version of react should be: https://github.com/react-materialize/react-materialize/blob/master/package.json#L69

Hope it helps :)

[2018-03-23 13:31] #506 closed

[2018-03-23 13:33] alextrastero commented on #507
Hi, first thing I recommend is to update `react-materialize` and all it's dependencies :)

[2018-03-23 13:34] alextrastero commented on #507
react-materialize: 1.0.8 (current 2.1.2)
materialize-css: 0.100.1 (0.100.2)
react: 0.14.7 (16.2.0) also update react-dom

[2018-03-23 13:36] alextrastero commented on #507
materialize-css in this version is using pickadate. You can pass options to the input for the datepicker if i'm not mistaken:
http://amsul.ca/pickadate.js/date/#limits

Let me know if it doesn't work with a code sample :)

[2018-03-23 13:36] #507 closed

[2018-03-23 13:51] PREMPRAKASHSINGH commented on #507
Hey @alextrastero  thanks it worked 👍

[2018-03-23 16:34] alextrastero commented on #508
Absolutely right! This is a bug. seems like actions panel is taking overlapping all the section /weird

[2018-03-24 15:45] LukasUnbesiegt commented on #508
yes it is  overlapping .

[2018-03-25 08:04] pjebs opened #510 "remove jquery dependency"
Since v1 of materialize css, jquery is no longer a dependency.

Since this is for react, why is jquery still a dependency for this project?

[2018-03-25 11:09] VanyllaGorylla opened #511 "Tabs swipeable option"
### Description

Hello,
For Tabs component,  when using "swipeable" option in tabOptions code returns an error.

### Steps to Reproduce

 <Tabs tabOptions={{ swipeable: true}}>
            <Tab title="t1">
              Tab 1
            </Tab>
            <Tab title="t2">
             Tab 2
            </Tab>
</Tabs>

**Expected behavior:** [What you expect to happen]

Page should be displayed pr

[2018-03-26 10:09] ThatBrianDude commented on #502
Sorry I couldnt find the time to gather up a project to reproduce but you havent told me yet if the id incrementing is wanted or not. It would seem to me that thats unwanted behaviour?

Anyhow, for now I am working around this by simulating a keypress on the desired tab like so:

    <Tabs ref={ref => this.tabsRef = ref} .....

     <MyButton onClick={() => this.tabsRef._tabsEl.childNodes[2].child

[2018-03-26 15:18] ThatBrianDude commented on #502
[code]

Thats the relevant part

[2018-03-26 16:06] alextrastero commented on #510
Absolutely right, this is something we need to fix, but the work requires some planning. But it's the plan :)

[2018-03-26 16:06] #510 closed

[2018-03-26 16:14] alextrastero commented on #511
Hey @VanyllaGorylla, can I have a some sample code? for me this works:
[code]

Also what exact version of react are you using? required is: react: 16.x

[2018-03-26 16:34] alextrastero commented on #502
Hey @ThatBrianDude, just checked and the id is incrementing on each render, so if you re-render the component that will change.

One solution would be to only create this ID in a constructor, but I don't understand why `active` prop is not working

[2018-03-26 16:48] alextrastero commented on #502
So after checking it's true, this needs some thought around it.

We could check for children prop `active`. Then on component update check if a new child has `active` and trigger a change tab.

`$('ul.tabs').tabs('select_tab', 'tab_id');`

Or should we trigger this every time something updates?
Anyhow it's a bug :)

[2018-03-26 16:58] ThatBrianDude commented on #502
I would go with triggering it each update. Shouldnt be too bad as triggering is idempotent

[2018-03-27 00:07] VanyllaGorylla commented on #511
Hello,

Thank you for ur answer.  For this example I've used the newest version of react create app, materialize-css and react-materialize.

App.hoc.js
[code]

App.js
[code]

index.js
[code]

After removing **tabOptions={{ swipeable: true }}** prop, it works like it should.

Thanks for helping out!

[2018-03-27 06:36] xGouley opened #513 "Timepicker broken"
Timepicker not working (see on your doc/demo)

[2018-03-27 10:18] alextrastero commented on #513
What version of `materialize.css` are you using?

[2018-03-27 10:20] alextrastero commented on #511
Ok, for now I would remove the `tabOptions` until this is fixed, are you still getting that error?

[2018-03-27 13:51] victor-priceputu commented on #347
I can also replicate, when using the `hover: false` option, then no other options are taken into account, but the defaults; `origin` is empty when the options check is done.

[2018-03-27 14:17] VanyllaGorylla commented on #511
Hello,

Hello, I wrote that without above mentioned option there is no error :)

Thanks:)

[2018-03-27 16:10] nickvirden commented on #160
@alextrastero I've submitted a PR for this issue: https://github.com/react-materialize/react-materialize/pull/514

[2018-03-27 16:22] alextrastero commented on #160
First of all thanks for the contribution!

Question though, since every component could benefit from having sizes props, we could either add them to all components (lots of work). Or remove them from Input and force users to actually use the cols for that, i.e.:

[code]

Thoughts?

[2018-03-27 16:22] alextrastero commented on #160
cc @nickvirden

[2018-03-27 16:42] nickvirden commented on #160
@alextrastero That definitely seems like the better way to do things. I'll remove them in a commit to that same PR if that's alright. Or would you prefer I create a new PR?

[2018-03-27 16:46] alextrastero commented on #160
It's a breaking change. The ability of adding Col classes to Input has been since the start. I would create another PR "remove sizes from Input" :)

[2018-03-27 20:01] lyssareba commented on #416
Is there a work around for the trigger prop being required? Has anyone been able to get this working?

[2018-03-28 10:08] usrivastava91 commented on #513
It's not working for both, 0.100.2 and 1.0.0-beta. Along with the timepicker, the datepicker is also a little different than the materialize.css one.
I've raised a PR to fix it. Please have a look https://github.com/react-materialize/react-materialize/pull/515

![timepicker](https://user-images.githubusercontent.com/15278455/38022399-01a2cd98-329d-11e8-864e-44ed56888f77.png)
![datepicker](https://

[2018-03-28 11:19] alextrastero commented on #513
Fixed in #515

[2018-03-28 11:19] #513 closed

[2018-03-29 13:33] maximelb commented on #317
Using 0.100.2 and problem still seems to be existing.

[2018-03-29 14:25] alextrastero commented on #317
@maximelb what issue exactly?

[2018-03-29 14:25] alextrastero commented on #317
If you pass modalOptions prop to Modal: https://github.com/react-materialize/react-materialize/blob/master/src/Modal.js#L26

[2018-03-31 19:04] nickvirden commented on #160
@alextrastero After looking into this more today, I see why sizes were allowed in the Input specifications and why, although it's "more work," it makes sense to do what was initially implemented. Right now, you end up with an unnecessary extra <div>, as far as I can tell, since it would render like so:

[code]
instead of the more efficient and familiar specification in the vanilla MaterializeCSS
[

[2018-04-02 11:05] alextrastero commented on #160
I still think that layout components should be separate from the rest. If I want a component to occupy X amount of space I wouldn't mind adding a layout component as a wrapper

[2018-04-02 11:23] alextrastero commented on #317
Hey @maximelb, first you need to make sure `modalOptions` has the same format as specified in the materialize-docs site: http://archives.materializecss.com/0.100.2/modals.html

I had the same issue as you because I was using an older version of materialize-css
![screen shot 2018-04-02 at 1 22 40 pm](https://user-images.githubusercontent.com/4152819/38194641-f9756a60-3678-11e8-83de-27cdfb30ccd3.png

[2018-04-02 12:46] maximelb commented on #317
Ah! Thank you, that was it I was using the 1.0 beta option on the 0.100. The old (non-beta) parameter was "complete" and not "onCloseStart".

[2018-04-02 21:35] onluiz commented on #372
I think was the problema

It was solved in create-react-app react-scripts 1.1.1. Here is the release notes: https://github.com/facebook/create-react-app/releases

I will try to test it more, but if the bug with $ is solved in this version of create-react-app, should I make a PR updating README.md?

[2018-04-02 21:41] onluiz commented on #434
This one is still needing help?

[2018-04-03 10:45] alextrastero commented on #372
Nice, closing if this is not an issue no more

[2018-04-03 10:45] #372 closed

[2018-04-03 10:47] alextrastero commented on #434
Actually no, this was already implemented

[2018-04-03 10:47] #434 closed

[2018-04-03 19:11] #444 closed

[2018-04-03 23:16] onluiz commented on #499
I don't think so. Although I don't see much of cases of Sidenav been used alone, making they distinct components could make it easier to maintain and customize, no?

About more examples and props, we could use the same as in materializecss to start. http://materializecss.com/sidenav.html

What you think @alextrastero ?

[2018-04-04 08:15] alextrastero commented on #499
I see, have a look at what lyssareba is doing in #520 maybe this issue will be fixed by that PR?

[2018-04-04 08:15] alextrastero commented on #499
But yes, adding more examples is always good :)

[2018-04-04 12:05] onluiz commented on #499
It sure will be fixed by that PR (#520) =)

[2018-04-05 20:56] #499 closed

[2018-04-05 20:57] alextrastero commented on #416
Closing this thanks to @lyssareba's PR

[2018-04-05 20:57] #416 closed

[2018-04-05 20:58] alextrastero commented on #502
@onluiz would you want to have a look at this one? It seems tricky :)

[2018-04-06 02:44] onluiz commented on #508
Hi guys.

After an analise, I was capable to identify that the problem occurs when the css class .col, in Input component, is set to be true.

In other words, if input has css class .col the above problem happens :P

I don't know how would be the impact of removing this class from Input component (I mean, it is there for some reason), so I would like to ask if you guys could give me some tip to so

[2018-04-06 02:46] onluiz commented on #502
@alextrastero, for sure =)

I was capable to reproduce the problem with react-router, now I will try some of the above suggestions. =)

[2018-04-06 07:11] cjorda15 opened #525 "Having difficulty creating a controlled component with <Input type="checkbox"/>"
### Description

---Having difficulty creating a controlled component with <Input type="checkbox"/>  ---

Other input types are able to be set as controlled component when provided the prop of value though.

Also unable to do have a controlled component with <Input type="checkbox"/> with the prop of defaultValue

### Steps to Reproduce

1. Render a  <Input value={this.state.checked} type="checkbox

[2018-04-06 08:35] alextrastero commented on #508
Good catch @onluiz!

@thecassion since all `Inputs` have grid classes make sure to wrap them all in a `<Row>`:

[code]

[2018-04-06 08:37] alextrastero commented on #508
Closing since the issue of Inputs having grid classes is discussed [here](https://github.com/react-materialize/react-materialize/issues/160)

[2018-04-06 08:37] #508 closed

[2018-04-06 08:44] alextrastero commented on #502
I think if you add a method that updates state it should already break, since the `Tabs` are only initialised once, you need to add some logic on componentDidUpdate or some other lifecycle method

[2018-04-06 08:45] alextrastero commented on #525
Gonna have a look at this

[2018-04-06 20:36] onluiz commented on #502
Hi @alextrastero .

Can I ask for some help? I'm having a really hard time trying to reproduce this behavior in the examples.

[code]

I'm modifying the code above but it seams like it doesn't work as a normal react component (I'm not being to pass prop to it from docs/TabsPage to examples/Tab). Any tip of how is the best practice to test react-materialiaze components (beside unit testing)?

[2018-04-12 08:47] usrivastava91 opened #527 "All the styles and javascript is imported even when it's not required, making the library heavy."
### Description

Right now, According to the current project structure, users needs to include materialize.css, and materialize.js, in their projects. This causes the browser to load all the css and js code even when it's not required, which leads to drop in performance.

### Proposed solution
To make the library more light, we can change the project structure a little and bundle each component wi

[2018-04-18 16:56] cSohaib opened #528 "Modals don't works, Objects are not valid as a React child"
Hello,

****EDIT: See the first comment.**

When I try to use Modals It do not render anything I only get this JavaScript error

**Error: Objects are not valid as a React child (found: object with keys {$$typeof, key, children, containerInfo, implementation}). If you meant to render a collection of children, use an array instead or wrap the object using createFragment(object) from the React add-on

[2018-04-19 08:52] cSohaib commented on #528
i have tried the same code on codesandbox.io and it worked fine
so the problem is in my builder
what's wrong here
[code]

[2018-04-20 06:31] anshulk commented on #69
Tooltip still seems to do nothing for a button.

[2018-04-23 11:10] alextrastero commented on #450
Closing in favour of
[code]

[2018-04-23 11:10] #450 closed

[2018-04-23 11:14] alextrastero commented on #69
True! this is not implemented.
Ideally in Button.js if tooltip prop is present we would initialise the materializejs method http://materializecss.com/tooltips.html

Anyone would like to give this a shot?

[2018-04-24 05:38] mnax001 opened #531 "sideNav unexpected show-on-large"
### Description

I don't know why is the library adding a show-on-large css rule for the trigger component. I checked the code and it is setting a class show-on-large if the prop `fixed` is false. I don't know....I think that the show rule should not be set.

### Steps to Reproduce
Create a sideNav with a trigger component who has a `hide-on-med-and-up` className
[code]
**Expected behavior:**
the

[2018-04-24 10:42] konfayakun commented on #374
For anyone uses react-create-app this issue may be helpful [issue2203](https://github.com/facebook/create-react-app/issues/2203)

[2018-04-24 22:12] ellistev opened #532 "Upgrading to use materialize-css: 1.0.0-beta"
Is there any thought to update the codebase to support the 1.0.0-beta version of materialise?

update: nevermind.  I see why now. expect some pull requests in the future :)

[2018-05-01 22:45] CloudPower97 commented on #188
@alextrastero What about the brand? How can I use react-dom in this case? I tried without succes.

[2018-05-02 22:03] stephenfriedman commented on #439
@jimmdd Your link shows a reference to issue 433 but instead just references to this page. Here is the proper link for anyone bamboozled by this: [https://github.com/react-materialize/react-materialize/issues/433](https://github.com/react-materialize/react-materialize/issues/433)

[2018-05-03 14:21] lovingyugs opened #536 "Autocomplete dropdown still occurs even when I have selected element from the dropdown."
### Description

In Autocomplete component, even after selecting any matching element from the list the list did not get away, if the list item is a substring in other list items, then the other list items keep on appearing.

What I want is that- If we have selected an item or element from the dropdown list, then the dropdown list should go away, which is not happening in the below example.

### S

[2018-05-04 07:40] alextrastero commented on #536
Thanks for spotting this @lovingyugs, we'll check it out ASAP

[2018-05-04 13:59] Lucas-Braz-Cunha opened #539 "How to change input date language"
Is it possible to change the language of input  type = 'date'?
If it is, how can I do so?

### Versions

**react-materialize:** 1.1.1
**react:** 15.6.1

[2018-05-05 20:15] PopTudor opened #542 "Change carousel page onClick"
Hello,
I'm trying to go to next item using the Carousel component when some action happens without clicking an indicator or swiping. Can I accomplish this? it would be ok to programatically click the next indicator to simulate the user.

Thank you!

[2018-05-08 12:53] lovingyugs commented on #536
@alextrastero Thanks for responding earlier. Just want to know that did you guys found out any solution for the issue? I am really looking forward to it.

[2018-05-08 16:35] Rdore88 commented on #525
I am having the same problem so I was wondering if there has been any update to this?

[2018-05-09 17:48] SOSANA commented on #532
where can we find info on the migration update to latest materialize v1.*?

[2018-05-09 17:49] alextrastero commented on #525
Still no updates on this, AFAIK we need to reinit the checkbox on some lifecycle method

[2018-05-09 17:50] alextrastero commented on #532
So far we only support the version stated on the documentation. soon though :)

[2018-05-09 17:51] alextrastero commented on #536
Sorry no updates yet, do you want to give it a try??

[2018-05-09 17:59] SOSANA commented on #532
Thanks @alextrastero , any chance you could give an update on readme so others don't ask same questions? Also possibly adding even a rough ETA ex 1 to 3 months or PR's welcome etc to help bring the project up to speed for new version? stoked about this project! Cheers

[2018-05-09 21:56] alextrastero commented on #539
Hey @Lucas-Braz-Cunha
YOu can pass options has props
https://github.com/react-materialize/react-materialize/blob/master/src/Input.js#L28

The options for `pickadate` are here: http://amsul.ca/pickadate.js/api/

[2018-05-09 21:56] #539 closed

[2018-05-09 21:59] alextrastero commented on #542
Hey @PopTudor, I'm not really sure, I know that Carousel accepts options, have you seen what type of options you can pass?

[2018-05-10 17:05] alextrastero commented on #345
Hey @Smackzter, can you paste an example of what you expect?

[2018-05-10 20:14] PopTudor commented on #542
@alextrastero Yeah, I checked but doesn't seem to have it. I android we have something like carousel.setIndex(0) which I think is natural for these multiple pages UI

[2018-05-11 07:40] alextrastero commented on #542
Checking the materializecss docs:
[code]

You would need to add a `carouselId` [prop](https://github.com/react-materialize/react-materialize/blob/master/src/Carousel.js#L91)

[2018-05-11 07:46] #69 closed

[2018-05-11 17:07] alextrastero commented on #542
Closing, let me know if this doesn't work @PopTudor :)

[2018-05-11 17:07] #542 closed

[2018-05-14 09:33] igalarza009 opened #547 "Issue with the select input type: Cannot set property 'tabIndex' of null"
Hi!

I am having some issues with the select input type. Some weeks ago I did not have any problem, but now even copying the code from the React Materialize page the same error keeps appearing: Cannot set property 'tabIndex' of null.

This is exactly what I get and it happens whenever I try to render the select type Input tag:

[code]
Once it appears the whole page crashes.

And finally, just as e

[2018-05-15 03:34] hare451g commented on #528
Any luck on this issue ?

[2018-05-15 15:31] zif002 opened #548 "dropdown width checkbox close on change"
Hi, I'm using dropdown with the input checkbox
But if you click on the checkbox then the dropdown is hidden I tried e.stopPropagation(); on dropdown   but then do not  onChange on the checkbox. Is this possible to bypass who? Thanks

[2018-05-16 08:44] alextrastero commented on #547
Hi @igalarza009, we don't support the latest version of materializecss, you need to include materializejs and css from http://archives.materializecss.com/0.100.2/

[2018-05-16 08:44] #547 closed

[2018-05-16 08:45] alextrastero commented on #528
What error are you getting @hare451g? You might need to check if the materializecss version is not the latest but 0.100.2

[2018-05-16 08:47] alextrastero commented on #548
Hey @zif002, can you paste an example so we can debug?

[2018-05-21 19:20] PopTudor commented on #542
@alextrastero thank you, works great!

[2018-05-28 15:13] ThatBrianDude opened #550 "Will there be support for FileInput?"

[2018-05-29 05:21] OriAmir opened #551 "react-materialize without using the index.html"
hi
I want to use the library without put all the scripts on the index.html file

I try to install query and matrialize-css library via npm and then to just import them on my index.js file but it's just not working..

there is another way to use the library without put all the references on index.html file?

TNX

[2018-05-29 05:43] keshav0016 opened #552 "modals in dropdown collapses in mobile"
I have used modals inside the dropdown and it is working fine in the desktop version. but as soon as i open it in mobile view, the dropdown collapses when i click on any navitem in the dropdown

[2018-05-29 05:56] #552 closed

[2018-05-29 07:57] alextrastero commented on #551
What's the error exactly, this should work.
The scripts in the index.html are to import materializecss (js and css), jquery and the fonts.

[2018-05-29 09:53] subratadhal commented on #551
I have react redux setup and have no html file.

[2018-05-29 10:47] alextrastero commented on #551
can you see an error on the console?

[2018-05-30 07:47] OriAmir commented on #551
@alextrastero  @subratadhal

Can you explain exactly how you initialize the library ? or you just install is vis npm and use?

I don't have any errors in console , I just now see any css effects on my UI .Then I try to add it to my html and just then I see the css effects .

[2018-05-30 09:10] OriAmir commented on #551
@alextrastero  OK I understand you , so I have to add anyway the 'materializecss' to my library to use 'react-materialize'  ?

Yes, I use `create-react-app`  what my options to add materializecss that work?
1. add in html
2. Try to add to my index.js file this rows (After install the librarys via npm):
import $ from 'jquery';
import 'materialize-css';
import 'materialize-css/dist/css/materialize.m

[2018-05-31 08:55] abhinavRai23 commented on #453
@tapandave initialize in componentDidMount.
`componentDidMount() {
        $('select').material_select();
}`

[2018-06-01 10:51] OriAmir commented on #551
@alextrastero @subratadhal
Hi , I try everything possible but still not work for me without import the files in index.html

1. I try to install jqeury,matrilize-css and react-materialize and then import on index.js:
import $ from 'jquery';
import 'materialize-css';
import 'materialize-css/dist/css/materialize.min.css';

2. I try install and import 'jquery' in web pack and then import the css and j

[2018-06-01 11:07] madnight commented on #292
Yup, that's because you get a ProxyComponent from ref which does not have the function `focus()`.
Same problem here.

[2018-06-01 11:29] alextrastero commented on #292
Ok, how about with `id`?

[2018-06-01 11:48] madnight commented on #292
yup
[code]
works, ty

[2018-06-07 12:11] alvaradovex commented on #381
If you are using latest version´s Materialize, you should change in your js.

/*older
      $('select').material_select();
      $('#select').material_select();  */
/*newer*/
      $('select').formSelect();

[2018-06-11 07:01] DmitryNyshchyi opened #555 "Carousel doesn't work."
Hi.
I have problem with carousel.
This carousel was worked, but yesterday break.
I see you do new commit, please, help me.

IDE compile without mistakes, but browser writes:

Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might ha

[2018-06-11 14:55] alextrastero commented on #555
Hi @DmitryNyshchyi, can you paste here the code you initialise the carousel with?

[2018-06-11 14:55] alextrastero commented on #555
Also, what version of `materializecss` are you using?

[2018-06-11 15:27] DmitryNyshchyi commented on #555
initialized:
<Carousel images={[
                    'https://lorempixel.com/250/250/nature/1',
                    'https://lorempixel.com/250/250/nature/2',
                    'https://lorempixel.com/250/250/nature/3',
                    'https://lorempixel.com/250/250/nature/4',
                    'https://lorempixel.com/250/250/nature/5'
                ]} />

also
<Carousel options={{shift

[2018-06-12 15:58] alextrastero commented on #555
Seems like `lorempixel` is down, try with this service: `https://picsum.photos/250/250`

[2018-06-12 15:58] #555 closed

[2018-06-15 10:22] niross commented on #536
I'm happy to take this one if nobody else is.

[2018-06-15 10:39] alextrastero commented on #536
@niross yes please :)

[2018-06-15 14:08] #63 closed

[2018-06-15 14:09] alextrastero commented on #141
Solved in `react-materialize@2.0.0`

[2018-06-15 14:09] #141 closed

[2018-06-15 16:44] onluiz commented on #550
That would be interesting :)

[2018-06-18 12:35] alextrastero commented on #536
Fixed by @niross and published to 2.3.1

[2018-06-18 12:35] #536 closed

[2018-06-18 12:36] alextrastero commented on #550
anyone want to give it a go?

[2018-06-20 04:36] rbanate commented on #528
I encountered the same issue and resolved it by using the same version of react as specified here https://github.com/react-materialize/react-materialize/blob/master/package.json#L69

[2018-06-20 08:11] alextrastero commented on #528
Yup materialize needs to be `0.100.2`

[2018-06-20 08:11] #528 closed

[2018-06-21 03:29] phillipnunes opened #559 "Collapsible menus in Sidebar"
Hi.

Are there variations from _Sidenav_, like in [documentation](https://materializecss.com/sidenav.html)? I am interested in collapsible menus.

I noticed the component _Collapsible_ but I would like to know if there is something already developed in the _Sidenav_ component itself.

Thanks.

[2018-06-21 04:03] phillipnunes commented on #559
And i tried this:
[code]

And get this warning in console:
`Warning: validateDOMNesting(...): <li> cannot appear as a descendant of <li>. See li > ... > li.`

If there is not a better way to do this, how to solve this problem? I think the reason is the combination of component _CollapsibleItem_ with _SideNavItem_

[ ]'s

[2018-06-21 06:34] alextrastero commented on #559
Hey @phillipnunes, why not replace `SideNavItem` with another element?

[2018-06-21 16:11] phillipnunes commented on #559
Hi @alextrastero.

Yes, it is a good ideia. I thought there was already some other way of combining the components to avoid this warning.

For now, I'll do as you suggested.

Thanks,
Phillip

[2018-06-22 07:57] marvinkome opened #560 "Remove JQuery dependencies"
## Feature request

I love materialize css but the fact that in react I'll have to use it with jquery isn't really cool. I'll be happy to join in so they can be a rewrite for the js aspect to be completely independent of jquery. Then we only import materialize.css.

[2018-06-22 08:03] alextrastero commented on #560
Agree. `materialize@1.0.0-rc.1` doesn't require jQuery, ideally we would need to upgrade and fix the breaking components

[2018-06-22 08:16] #559 closed

[2018-06-22 08:21] marvinkome commented on #560
I'd love to help with this, how can I get started

[2018-06-23 04:07] CLopes1 opened #561 "onClick on carousel not working if scrolling left"
### Description

I have images in a carousel with `onClick` handlers but they only fire if I scroll to the right.

### Steps to Reproduce

[code]

**Expected behavior:** [What you expect to happen]
I expected the onClick to fire when I scroll to the left and click on the cat. It does, however fire when I scroll to the right.

**Actual behavior:** [What actually happens]
The onClick event doesn't f

[2018-06-24 17:49] OriAmir opened #562 "Using Tab with react-router (Link)"
There is some option to use Link (from react-router) in tabs?( like in the navbar)

I want that every click on one of tabs will redirect with the link.
something like that:
`<Tabs className='tab-demo z-depth-1'>
            <Link to={`admin/`}><Tab title="admin"/></Link>
            <Tab title="Test 2" active>Test 2</Tab>
        </Tabs>
`

or maybe tab will get property of 'to'?

thanks!

[2018-06-25 11:19] Xstoudi commented on #531
Up!

[2018-06-25 11:21] Xstoudi commented on #531
Up! @alextrastero that's not excpected.

[2018-06-27 06:54] Xstoudi opened #563 "Preloader color error"
### Description

[Description of the issue]

### Steps to Reproduce

1. Go on the Preloader page of React-Materialize website or add a Preloader that doesn't flash on your project

**Expected behavior:** Example page load correctly

**Actual behavior:** Crash because `color` is not defined [Preloader.js#L20](https://github.com/react-materialize/react-materialize/blob/3e9f7c3fae0e734b6b87fd9696614b

[2018-06-27 10:02] dmitry-yudakov commented on #563
https://github.com/react-materialize/react-materialize/pull/564 should fix it

[2018-06-27 10:03] ditaW commented on #563
affected versions:
2.3.1
2.3.0
last working version:
2.2.1

[2018-06-27 11:05] alextrastero commented on #563
Version 2.3.2 should fix this, thanks all for your help :)

[2018-06-27 11:05] #563 closed

[2018-06-28 13:01] get4prince opened #566 "$(....).modal is not a function .. i am using it with create-react-app ..."
$(.....).modal is not a funtion showing when i am trying to add react no trigger model

**Actual behavior:** [What actually happens]

### Versions

**react-materialize:** 2.3.2
**react:**16.4.1

#### Thanks for helping out!

[2018-06-28 13:10] alextrastero commented on #566
Just read that you are using `create-react-app`, you need to make sure you are including the JS assets properly (jquery and materializejs)

[2018-06-28 13:15] get4prince commented on #566
No compatible version found: materialize@^0.100.2  error while installing ..

[2018-06-28 13:20] get4prince commented on #566
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.

[2018-06-28 13:21] get4prince commented on #566
`<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare

[2018-06-28 17:38] get4prince commented on #566
https://react-materialize.github.io/#/modals
no trigger modal is not working ... saying error  => $(......).modal is not a function

[2018-06-29 13:31] Xstoudi opened #567 "Fixed sidenav issue"
### Description

Can't create a fixed sidenav.

### Steps to Reproduce

Try to instanciate a fixed sidenav.

**Expected behavior:** The sidenav appears

**Actual behavior:** `React.cloneElement(...): The argument must be a React element, but you passed undefined.`

### Versions

**react-materialize:** 2.3.2
**materialize-css:** 0.100.2
**react:** 16.4.1

#### Thanks for helping out!

[2018-06-29 14:20] alextrastero commented on #567
solved in `2.3.3` thanks for catching this!

[2018-06-29 14:20] #567 closed

[2018-07-01 23:44] kauly commented on #566
Why 'document.getElementById('foo')'  doesn't work?

[2018-07-04 14:58] gabriel216 commented on #419
<CollapsibleItem header={(<div className='blue-text'>header</div>)}>
  Some content
</CollapsibleItem>
You must place the parentheses before the tag. This works

[2018-07-05 00:43] AlexandrDobrovolskiy opened #569 "Preloader documentation bug"
### Description

when you go to the doc of preloader component you got an empty page

### Steps to Reproduce

1. Go to the docs https://react-materialize.github.io/#/
2. Click on the Components nav
3. Click on the Preloader item

**Expected behavior:** See the documentation

**Actual behavior:** empty page

[2018-07-05 10:07] alextrastero commented on #569
Thanks for spotting this, fixed now
https://react-materialize.github.io/#/preloader

[2018-07-05 10:07] #569 closed

[2018-07-05 13:36] niross commented on #550
I had a crack at it. Let me know your thoughts

[2018-07-07 16:18] marvinkome commented on #560
@alextrastero I'm currently working on removing JQuery as a dependency. I'm currently trying to understand how you mocked jquery to do the same for window.M, can you give a little insight here. Thanks

[2018-07-09 01:50] daxaxelrod opened #571 "TypeError: $(...).sideNav is not a function"
### Description

When upgrading to materialize v1.0 rc 2 i run into this issue. Probably because the sidenav component doesn't refect the api changes.

[2018-07-09 07:11] dennisja commented on #428
@merrazquin I'm sure you can remove it by doing something like this
[code]

[2018-07-09 08:55] alextrastero commented on #571
We don't support that version of materializecss yet :) please downgrade to use

[2018-07-09 08:55] #571 closed

[2018-07-09 08:58] alextrastero commented on #560
Hey @marvinkome, there's some stackoverflow posts about mocking globals with Jest, something like:
[code]

[2018-07-09 16:59] sakshamjain1398 commented on #566
I am facing the same issue and working on create-react-app too. My modal works if i am on version of materialize css less than 0.100.0 but i want to use fullWidth slider which works in version 0.100.0 or newer versions.

[2018-07-13 15:18] henningsummer opened #577 "npm run release Windows 10"
### Description

I dont build my project.

### Steps to Reproduce

1. I execute command npm run release

**Actual behavior:**
npm ERR! path C:\Users\henni\AppData\Local\Temp\npm-17540-10c00c7e\tmp\fromDir-db836dce\package.tgz
npm ERR! code EPERM
npm ERR! errno -4048
npm ERR! syscall unlink
npm ERR! Error: EPERM: operation not permitted, unlink 'C:\Users\henni\AppData\Local\Temp\npm-17540-10c00c7e\

[2018-07-14 18:57] yashank09 commented on #392
Hey guys, Im kinnda having the same problem and have been struggling for two days now :/ Im using Tabs to get inputs from user and sending them on button click to my state. However I can properly get the first input, but the moment I type on the second input of the first tab, both the tabs gets merged for some reason and become unresponsive.. Any workaround? Im sorry I couldnt really understand @d

[2018-07-15 05:04] ShubhamKushwah commented on #453
`componentDidMount() { $('select').material_select(); }` didn't work for me.

[2018-07-15 16:56] alextrastero commented on #560
I've created a `3.0.0@beta.0` branch, if you have time please test and report any bugs :)

[2018-07-16 14:01] marvinkome commented on #560
Awesome, I will.

[2018-07-17 07:49] alextrastero opened #580 "3.0.0 Autocomplete.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:51] alextrastero opened #581 "3.0.0 Badge.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:53] alextrastero opened #582 "3.0.0 Breadcrumb.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:54] alextrastero opened #583 "3.0.0 Button.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:54] alextrastero opened #584 "3.0.0 Card.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:56] alextrastero opened #585 "3.0.0 CardPanel.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:56] alextrastero opened #586 "3.0.0 CardTitle.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:57] alextrastero opened #587 "3.0.0 Carousel.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:57] alextrastero opened #588 "3.0.0 Chip.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:58] alextrastero opened #589 "3.0.0 Col.js & Row.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:58] alextrastero opened #590 "3.0.0 Collapsible.js & CollapsibleItem.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Keep jQuery initialisation of component if exists
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:59] alextrastero opened #591 "3.0.0 Collection.js & CollectionItem.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 07:59] alextrastero opened #592 "3.0.0 Container.js - Divider.js & Section.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:00] #254 closed

[2018-07-17 08:00] alextrastero opened #593 "3.0.0 Dropdown.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:00] alextrastero opened #594 "3.0.0 Footer.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:01] alextrastero opened #595 "3.0.0 Icon.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Keep jQuery initialisation of component if exists
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:03] alextrastero opened #596 "3.0.0 Input.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:03] alextrastero opened #597 "3.0.0 MediaBox.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:03] alextrastero opened #598 "3.0.0 MenuItem.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:04] alextrastero opened #599 "3.0.0 Modal.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:04] alextrastero opened #600 "3.0.0 Navbar.js & NavItem.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:05] alextrastero opened #601 "3.0.0 Pagination.js & PaginationButton.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:05] alextrastero opened #602 "3.0.0 Parallax.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:06] alextrastero opened #603 "3.0.0 Preloader.js - ProgressBar.js & Spinner.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:07] alextrastero opened #604 "3.0.0 SearchForm.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:07] alextrastero opened #605 "3.0.0 SideNav.js & SideNavItem.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:08] alextrastero opened #606 "3.0.0 Slider.js & Slide.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:08] alextrastero opened #607 "3.0.0 Tabs.js & Tab.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Keep jQuery initialisation of component if exists
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:09] alextrastero opened #608 "3.0.0 Table.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:09] alextrastero opened #609 "3.0.0 Tag.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Keep jQuery initialisation of component if exists
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:09] alextrastero opened #610 "3.0.0 Toast.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Keep jQuery initialisation of component if exists
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-17 08:09] alextrastero opened #611 "3.0.0 UserView.js"
### Upgrade to latest materialize-css@1.0.0-rc.2

AC
- Branch off 3.0.0-beta.0
- Check that the component works
- Keep jQuery initialisation of component if exists
- Update with new available modifiers and options
- Update propTypes and description
- Update examples page
- Create PR into branch 3.0.0-beta.0

[2018-07-18 08:36] ditaW opened #612 "Input label does't change active state on value-change"
### Description

While changing the value-property of an <Input>-Component the active-state of the label-active-state doesn't change, so it does not fade away.

### Steps to Reproduce

1. Create an &lt;Input value=this.state.xyz label="mylabel"&gt;
2. call setState{xyz:"Test"}

**Expected behavior:**
the label "mylabel" should fade to the top

**Actual behavior:**
the value and the label overlap

[2018-07-18 08:41] alextrastero commented on #612
Hi, currently we only support `materialize-css@0.100.2`, please downgrade and test again :)

On a separate note: We’re currently updating react-materialize to support the latest materialize-css version and hopefully remove the jQuery dependency, we would really appreciate if you want to give it a try in your project. Branch `3.0.0-beta.0`, issues labeled [3.0.0](https://github.com/react-materializ

[2018-07-18 08:41] alextrastero commented on #612
And please reopen if this is still happening :)

[2018-07-18 10:16] ditaW commented on #612
I don't think i have the rights to reopen an issue :)

[2018-07-18 10:59] alextrastero commented on #612
👍

[2018-07-19 02:52] ziyang0621 commented on #453
Im using `react-create-app`, and `componentDidMount() { $('select').material_select(); }` doesnt work for me, anyone has idea?

I use `import $ from 'jquery';` in my component.

[2018-07-19 07:51] dmitry-yudakov commented on #392
@yashank09 The workaround I mentioned is basically forcing react to unmount and then create and mount Tabs component every time.

[code]
Note the _key_ property in the sample - its unique value is what forces the Tabs component to be recreated every time.

I may try to fix this issue permanently, perhaps along with 3.0.0-beta.0 in #607

[2018-07-19 07:55] dmitry-yudakov commented on #607
I'd like to help with this

[2018-07-19 07:59] dmitry-yudakov commented on #408
@Visovsiouk Have you managed to make any progress here? I could try to address this issue in #607 for 3.0.0

[2018-07-19 09:02] alextrastero commented on #453
Try having a look here @ziyang0621,
`https://github.com/alextrastero/react-materialize-cra-example`

[2018-07-19 09:03] alextrastero commented on #408
👍 @dmitry-yudakov

[2018-07-19 09:03] alextrastero commented on #607
Woohoo, yes :)

[2018-07-19 09:04] alextrastero commented on #607
Let me know if I can support you in anything

[2018-07-19 11:20] alextrastero commented on #611
I'll grab this one

[2018-07-19 14:20] #610 closed

[2018-07-19 14:20] alextrastero commented on #607
Have a look at https://github.com/react-materialize/react-materialize/pull/613 if you need to

[2018-07-20 11:58] dmitry-yudakov commented on #607
#613 helped a lot, thanks :)

I think this issue is resolved and covered by tests update.

#408, #392 is fixed as well and manually tested but I think I can't cover it with enzyme test. Any advice for this?

I tried adding `expect(wrapper.find('#tab_10')).toHaveLength(1);` after _shallow/mount_ but it finds either 0 or 2 elements...

[2018-07-20 12:35] dmitry-yudakov commented on #607
Well, I was wondering if I should cover Tabs lifecycle refactoring by some test - so I tried to modify _Tabs.spec.js_ to check that elements ids are not changed anymore after re-render or properties update.

[2018-07-20 12:40] alextrastero commented on #607
You could add a spy to `idgen` and count how many times it was called?

[2018-07-20 13:19] #453 closed

[2018-07-20 13:20] alextrastero commented on #596
I'm grabbing this one

[2018-07-20 14:19] dmitry-yudakov commented on #607
Yes, it worked, thanks

[2018-07-20 15:00] dmitry-yudakov commented on #594
I think I could help with few more - like this one?

[2018-07-20 15:01] dmitry-yudakov commented on #603
I'll check this one

[2018-07-20 15:13] dmitry-yudakov commented on #603
Btw

Why keep it? To make the transition easier?

[2018-07-20 15:20] alextrastero commented on #603
That was my initial thought yes, but to be honest it's a mayor breaking change so let's go ahead and remove it :)

p.s. could this be also done in your previous PR?

[2018-07-21 09:02] dmitry-yudakov commented on #594
This component is also fine as it is.

Unrelated to 3.0.0 there's small issue with copyright symbol in the docs which I could fix with PR for master.

And perhaps a link for [materialize-css footer page](https://materializecss.com/footer.html) could be useful - for general advice about how to structure the main page and a sticky footer?

[2018-07-21 10:41] wowkalucky commented on #69
I'll put it here on the Error-Search-Path - it can save time for somebody.

Today I encountered strange tooltip-related error: `TypeError: $(...).tooltip is not a function`.
Then I figured out that Chrome Dev Tools automatically blocked requests for `materialize.min.js`.
If so, you may want to check `Request blocking` tab in Console section...

[2018-07-22 12:21] get4prince commented on #566
i do resolved it by my own ..
but $().modal(); not working by include $ for jquery on react side ...
this only work when we add $().modal() on connected js file from html of react ..

[2018-07-22 12:21] #566 closed

[2018-07-23 12:36] vickyvxr opened #618 "Card Reveal - onRevealOpen/Close event"
### Description
Good afternoon,
I'm testing the Card Reveal component and I would like to know when the reveal is opened or closed.
I can't see any event to be passed by prop to the Card component.
Is there any way to do this?
Thanks in advance.

### Versions

**react-materialize:**2.3.3.
**react:** 16.4.0

#### Thanks for helping out!

[2018-07-23 13:22] alextrastero commented on #618
Hi, there's no way of passing that 'option' to `Card`, if it's not implemented in http://archives.materializecss.com/0.100.2/cards.html it can't be added here. :)

[2018-07-23 13:22] #618 closed

[2018-07-23 21:57] petergarnaes commented on #595
#619

[2018-07-25 12:14] get4prince opened #621 "(urgent help) unable of get use function of materilaze.js which is connected from html via jquery inside reactjs"
third party js file of materilizejs is cannot possible to access from reactjs itself
Steps to Reproduce

1.  `<Modal`
    id='foo'
    header='Modal Header'>
    Lorem ipsum dolor sit amet
  `</Modal>`

2.`import $ from 'jquery'`

3. `handleSubmit(event){
      event.preventDefault();
      $('foo').modal('open');
    }`

**Expected behavior: modal should be open
**Actual behavior:.modal() is not

[2018-07-25 13:50] alextrastero commented on #621
Hey @get4prince have a look at this sample REPO
https://github.com/alextrastero/react-materialize-cra-example

[2018-07-25 21:00] get4prince commented on #621
solved actually i was trying to add js file into html file ...

[2018-07-25 21:00] #621 closed

[2018-07-26 16:00] jamesmart77 opened #622 "Fixed Action Button - Vertical"
### Description

There is a slight typo in the code example of the vertical fixed action button. The Button component has `faicon` as the parameter but it should be `icon`.

See error on page: https://react-materialize.github.io/#/buttons
Error located in file: https://github.com/react-materialize/react-materialize/blob/master/examples/FixedActionButton.js

#### Thanks for helping out!

[2018-07-27 00:16] AlexandrDobrovolskiy commented on #467
same issue

[2018-07-27 14:57] alextrastero commented on #467
We have a [searchForm](https://github.com/react-materialize/react-materialize/blob/188ee6c4521a1afc16548108cde2637d9bdc8ce6/src/SearchForm.js)

[2018-07-27 14:58] alextrastero commented on #622
Super @jamesmart77 wanna give it a go?

[2018-07-27 19:07] Koolstr commented on #467
I would presume so, but then why is this not listed anywhere in the documentation?

[2018-07-27 19:58] alextrastero commented on #467
Actually the implementation is quite basic, what are the requirements for the search bar? Would a normal input with a search icon work?

[2018-07-27 20:04] Koolstr commented on #467
If that matches the one from the original Materialize docs, then I don't see why not.

Just because the implementation is basic, doesn't mean it shouldn't be documented. I had no way of knowing that this component existed (outside of digging through the source files).

[2018-07-27 20:11] alextrastero commented on #467
Sorry, I meant that I don't recommend using the mentioned component as the implementation is basic/not complete, no callbacks are passed to the form, so not much use. That's probably why no one added it to the documentation.

Feel free to submit a PR with any changes you would apply to this component :)

[2018-07-27 21:57] Koolstr commented on #467
Oh, ok. I'll be trying it out at some point. What aspects of the search bar do and don't work? Can you clearly list them for me?

[2018-07-28 16:03] jamesmart77 commented on #622
absolutely! Can you add me as a collaborator?

[2018-07-31 12:25] alextrastero commented on #467
Hey @Koolstr, I think some acceptance criteria could be:

- `onSubmit` prop for form
- `onChange` prop for input
- `icon` prop to show or not the search icon?

Not sure if any more are needed

[2018-07-31 12:26] alextrastero commented on #622
Hey @jamesmart77, you can already collaborate :) just submit a PR

[2018-07-31 22:06] bachskeys commented on #246
why havent they added a bool props to open and close your componentes geez it be way easier.

[2018-08-01 07:02] alextrastero commented on #246
There is https://github.com/react-materialize/react-materialize/blob/master/src/Modal.js#L156

[2018-08-01 23:25] bnapky opened #623 "Toast components appearing empty without message."
### Description
The Toast component is showing up without any message inside.

### Steps to Reproduce
1. Set up React Materialize
2. Import Toast component

Code Sample:

[code]

**Expected behavior:** On click, a toast should appear with a message, in this case "hello"

**Actual behavior:** A toast appears empty, no message within it.

### Versions

**react-materialize:** 2.3.3
**materialize-css:

[2018-08-01 23:50] bnapky commented on #623
I've opened a [Pull Request](https://github.com/react-materialize/react-materialize/pull/624) for this.

[2018-08-02 08:01] petergarnaes commented on #623
Hey, as you mentioned, the materialize API has had many breaking changes from `0.100.2` to `1.0.0-rc-2`. However the current version of `react-materialize` (v2.1.2) is meant to be used with materialize `v0.100.2`. As stated in the README, development of `v3.0.0` (for materialize `v.1.0.0-rc.2`) is happening on the `3.0.0-beta.0` branch.

Your issue is already fixed in #610, so please close this is

[2018-08-02 16:19] SpartanLines opened #625 "Dropdowns Are not Scrollable"
### Description

The dropdown component is not scrollable. If there are too many items within, the moment you press to scroll the dropdown dissappears. The issue only happens on mobile view/devices. Works fine on desktop since the scrollbar is thick and always visible. Dropdowns are scrollable in Materialize , but something goes wrong with react-materialize. I've tried to look into the lib and spe

[2018-08-03 04:45] bnapky commented on #623
I completely missed that, thanks @petergarnaes for clarifying. I will be closing this issue then.

[2018-08-03 04:45] #623 closed

[2018-08-03 07:53] #595 closed

[2018-08-03 07:54] #590 closed

[2018-08-03 07:57] alextrastero commented on #625
Hey @SpartanLines, have you tried without `react-materialize`? Just using the materialize library does this not happen? I'm not sure this our issue

[2018-08-03 09:17] SpartanLines commented on #625
Hey @alextrastero
Yes, I've tried long dropdowns in materialize and they're definitely scrollable. I made a simple nav bar on an html page and everything worked correctly. I've also tried using a Material-UI menu and it works fine on react, so I don't think it's react's problem either.

I compared both the compiled HTML from react-materialize and the working materialize code. My guess (which could

[2018-08-04 15:02] onluiz commented on #550
@ThatBrianDude , @alextrastero @niross
https://materializecss.com/text-inputs.html in File Input section has a simple example of a File Input.

This is the one we could use here, right?

[2018-08-04 15:11] onluiz commented on #465
@alextrastero @lloydwatkin, this issue could be closed? :)

[2018-08-07 08:30] #550 closed

[2018-08-07 20:52] jcxswc commented on #438
Same issue. Using "materialize-css": "^1.0.0-rc.2".

[2018-08-08 08:28] alextrastero commented on #465
Yes! :)

[2018-08-08 08:28] #465 closed

[2018-08-08 11:05] alextrastero commented on #438
Please downgrade to materialize-css@0.100.2

[2018-08-10 18:47] bluejillo opened #629 "Datepicker defaultValue not displaying"
I cannot get defaultValue for the datepicker to display. If I put a print statement into the datepicker's event handler, it prints out the default value.

Here is the datepicker:
`<Input type="date" id={episode.id+"_date"} className="required_input dpick" name="episode_date" defaultValue={episode.episodeDate} onChange={this.handleEpisodeDateChange}/>`

Here is its event handler:
`handleEpisodeDate

[2018-08-13 16:04] jcxswc commented on #438
No such luck. Remains to receive a `$(...).pickatime is not a function`.

_package.json_
`"materialize-css": "^0.100.2"`
...
`"react-materialize": "^2.4.2"`

_app head_
`<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">`
`<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>`

[2018-08-13 17:56] alextrastero commented on #438
Are you using `create-react-app`?
Check out this repo example: https://github.com/alextrastero/react-materialize-cra-example

[2018-08-13 18:35] alextrastero commented on #629
Yeah, it's not very easy to set an initial date, but it's doable;
[code]

[2018-08-13 18:35] #629 closed

[2018-08-14 01:52] JacksonBates commented on #525
I think I'm hitting this issue as well.

I have an element that can be toggled on/off via the checkbox. This is recorded in state as well. This works fine.

However, there are occasions when the element is toggled via a different source, and while the state changes appropriately, and even the `checked='true|false'` changes in the underlying markup viewed in the dev tools, the actual checkbox on sc

[2018-08-17 15:37] AwaMelvine commented on #374
You can do it without using jQuery in your react:

How about you programmatically trigger a click event on the Modal's display-none trigger property. Like so:

[code]
Now anywhere in your component, you can programmatically click that hidden [trigger] button without needing to use jQuery.
Like so:
`this.modalButton.click().`

This works perfect for me.

[2018-08-18 19:35] osztenkurden commented on #498
I still have this issue, on version 2.4.2

[2018-08-18 22:54] osztenkurden opened #633 "Tabs do not reinitialiaze after child props have been updated"
### Description

If the child's props inside <Tab> have been updated, Tabs do not reinitalize, which cause the same effect as in #498 issue.

### Steps to Reproduce
[code]

**Expected behavior:** Active tab should have an indicator of active

**Actual behavior:** There is no indicator of active tab, and if other is opened first, both of them are going to be visible, instead of just the content of

[2018-08-19 07:58] Etregoning opened #635 "Uncaught ReferenceError: $ is not defined"
### Description

I can't seem to use any of the components from this package. I get the same error every time.

### Steps to Reproduce

1. Edited Home.js in components directory
2. Made slider subcomponent
3. ran code

**Home.js code:**
[code]

**HomeSlider.js code:**
[code]

**Expected behavior:**
Slider will show up in my app

**Actual behavior:**
Uncaught ReferenceError As Stated in title.

###

[2018-08-20 08:15] alextrastero commented on #635
Hey @Etregoning, did you manage to solve this?

If you are using create-react-app, please have a look at https://github.com/alextrastero/react-materialize-cra-example for an example.

The issue probably is that you might be requiring jquery after materialize-css js.

[2018-08-20 09:05] osztenkurden commented on #633
Fix has been merged

[2018-08-20 09:05] #633 closed

[2018-08-20 17:56] JFernandoGomez commented on #342
this Issue should be fixed if using ReactPortal, not only for Overlay.js like mentioned here
https://github.com/react-materialize/react-materialize/issues/434
but also for the SideNav, will try to create a PR for this

[2018-08-20 18:28] #635 closed

[2018-08-20 21:57] JFernandoGomez commented on #342
@alextrastero I could help you there too, maybe having the fix on both versions (actual and new one) would be good

[2018-08-21 06:57] alextrastero commented on #342
Sure, make sure to have a look at there upgrade guide for the Sidenav: https://github.com/Dogfalo/materialize/blob/v1-dev/v1-upgrade-guide.md#sidenav

[2018-08-21 06:58] alextrastero commented on #594
Hey @dmitry-yudakov, how about adding the missing info to our docs? https://github.com/react-materialize/react-materialize/blob/master/docs/src/pages/FooterPage.js

[2018-08-21 07:00] alextrastero commented on #603
So we can mark this as done?

[2018-08-21 07:02] alextrastero commented on #408
Fixed in #634

[2018-08-21 07:02] #408 closed

[2018-08-21 07:07] alextrastero commented on #607
Thanks for this @dmitry-yudakov

[2018-08-21 07:07] #607 closed

[2018-08-21 07:09] alextrastero commented on #467
Ping @Koolstr :)

[2018-08-21 07:27] dmitry-yudakov commented on #603
Yes, I think so

[2018-08-22 14:30] alextrastero commented on #596
Creating:

- [ ] TextInput.js
- [ ] Select.js
- [ ] Checkboxes.js
- [ ] Autocomplete.js (refactor)

[2018-08-25 08:50] dmitry-yudakov commented on #594
I have added the info about how to structure the main page and a sticky footer from Materialize and fixed broken copyright symbol.

I created pull request #640 - it's for master branch since the change is unrelated to 3.0.0

[2018-08-28 10:30] Biboswan opened #642 "Autocomplete options cannot be selected with arrow keys and enter"
### Description

### Steps to Reproduce
1. Follow html setup given in readme
2. Use the `Autocomplete` component with some data prop. Let have some data keys with same initials.
 Eg : ```data: {
        "Apple": null,
        "Aot":null,
        "Aoto":null,
        "Microsoft": null,
        "Google": 'https://placehold.it/250x250',
        "Ap":null
      }  ```

**Expected behavior:**
Use of up

[2018-09-04 02:42] Koolstr commented on #467
Sorry, been busy prepping for technical whiteboard job interviews. I'll hopefully get around to this shortly.

[2018-09-16 15:25] yongelee opened #644 "Gatsby project using Parallax component, get ReferenceError: $ is not defined"
### Description

I have a gatsby project and I am trying to use react-materialize, the parallax component. It compiles but i get ReferenceError: $ is not defined when I try to use a parallax component.

[code]

### Steps to Reproduce

Just yarn add react-materialize, try and use a parallax component and you will get an error.

I added jquery as a dependency and imported it in my files.

I also cha

[2018-09-16 18:00] yongelee commented on #644
I had to import jquery funnily

from

`import $ from 'jquery'`
to

`import $ from 'jquery/src/jquery'`
from https://github.com/facebook/create-react-app/issues/679#issuecomment-311887619

[2018-09-17 13:02] alextrastero commented on #644
Closing then since this is not related to this project

[2018-09-17 13:02] #644 closed

[2018-09-17 18:42] Squinner21 opened #645 "Radio buttons not working as expected on second selection."
### Description

The radio buttons do not seem to function correctly during the second selection of a radio button.

### Steps to Reproduce

1. Navigate to radio button example react materialize website: https://react-materialize.github.io/#/forms
2. Select the 'Red' radio button
3. Select the 'Yellow' radio button

**Expected behavior:**
Red button should be unselected and yellow button should be

[2018-09-21 22:58] CloudPower97 commented on #603
So, can we drop jQuery? I've would like to contribute and this is not clear to me as of now.

[2018-09-24 22:21] Eveyz opened #651 "Unable to Use Two <Dropdown> on the Same Page"
I have multiple Dropdown components in one page.

They cannot match up properly or need to provide unique id.

[2018-09-25 08:18] alextrastero commented on #651
Hi @Eveyz can you provide a sample to test?

[2018-09-25 08:38] alextrastero commented on #608
Hey @dmitry-yudakov, that would be great, as per mentioning I'm not sure :/

[2018-09-25 08:46] alextrastero commented on #603
Hey @CloudPower97, in the materialize-css docs it shows you how to initialise the component using a `M` global object instead of `jQuery`

[2018-09-25 16:55] Eveyz commented on #651
@alextrastero
I have a "Booklist" components which is table component and multiple "Book" components as the "tr" within the "Booklist" table.
For each "Book" component, I have a "Dropdown" component imported from the react-materize at the last column.
When I click the dropdown button, the dropdown menus float to the left.

[2018-09-26 07:52] alextrastero commented on #651
That seems like a css issue, if you try to add multiple dropdowns to another page, with no custom css does this still happen?

[2018-09-28 17:01] SharePointPro opened #652 "Unable to have controlled input (Input contains an input of type text with both value and defaultValue props)"
### Description

If you create a controlled component with value on a textfield, you get the react error message:

Input contains an input of type text with both value and defaultValue props

To Reproduce:

1. Create `<Input type="text" value={this.state.aValue} onChange={this.onChange} />`
2. Load page, open console

**Expected behavior:** `<inputs />` with value should not have a defaultValue

*

[2018-09-29 02:17] Eveyz commented on #651
Yes. If I add multiple dropdown buttons to another page without html table, it will not have such issue.

[2018-09-30 13:48] AlexandrDobrovolskiy opened #653 "How to add onClick event to Slide element?"
There is no onClick prop on Slide element.
Was trying to add absolute position div on top of every slide, but it causes bugs.
![image](https://user-images.githubusercontent.com/23122290/46258290-82b5e300-c4d0-11e8-9993-7a9357c2dff2.png)
need to add `onClick={this.onSelectPicture(index)}`

[2018-09-30 15:57] AlexandrDobrovolskiy commented on #653
Solved using <li> instead of Slider
![image](https://user-images.githubusercontent.com/23122290/46259480-b8fc5e00-c4e2-11e8-962a-79d7481ca1f0.png)

[2018-09-30 16:00] alextrastero commented on #653
All props are passed to the `Slide` component, adding an `onClick` should work :)
https://github.com/react-materialize/react-materialize/blob/master/src/Slide.js#L33

[2018-09-30 16:00] #653 closed

[2018-09-30 16:34] alextrastero commented on #651
Sorry buddy, cannot reproduce:
[code]
materialize-css: 0.100.x
react-materialize: latest

[2018-09-30 16:34] #651 closed

[2018-09-30 21:45] OriAmir opened #657 "Icon className not effect inside input"
hi I want to customize icon behind the input field , but it's not add any class to the Icon when it's inside the Input :

[code]

When it's alone without the input it's works well:
`        <Icon className={styles.test}>account_circle</Icon>
`
what could be the problem?

tnx!

[2018-10-01 06:26] trishtzy opened #658 "Open multiple select input until user clicks away"
### Description

Input multiple select closes after an option is selected. It should stay open until user clicks away from the option dropdown.

See multiple select section in https://materializecss.com/select.html

### Steps to Reproduce

1. Use
[code]
2. Select 'Option 1'

**Expected behavior:** [What you expect to happen]
Dropdown option stays open

**Actual behavior:** [What actually happens]

[2018-10-01 08:05] alextrastero commented on #657
Hey @OriAmir, `Input` accepts an `icon` prop which can be set to `account_circle`, this will add `prefix` class to the icon, but you can't pass **additional** classes this way.

As per your code sample, `Input` doesn't accept children.

I would write it like this:
[code]

[2018-10-01 08:05] #657 closed

[2018-10-01 08:06] alextrastero commented on #657
I'm afraid currently there's no way to add external classes to the `Input`'s icon

[2018-10-01 08:07] trishtzy commented on #658
Opened a PR [here](https://github.com/react-materialize/react-materialize/pull/660)

[2018-10-01 08:40] trishtzy commented on #658
PR approved. Closing issue.

[2018-10-01 08:54] alextrastero commented on #658
If you add `Fixes #658` in the description of your PR it will close this issue automatically once merged :)

[2018-10-01 09:13] trishtzy commented on #658
oh cool ok! thanks!

[2018-10-01 10:32] #658 closed

[2018-10-01 14:52] OriAmir commented on #657
@alextrastero tnx for your help  . when I write that in your way it's not in the same line , i mean icon in separte line and input in separte line.

[2018-10-01 15:04] alextrastero commented on #657
Yes, currently it's not possible to add a classname to the Input icon, I solution would be to pass an icon node as a prop instead of a string to `<Input />`, want to give it a go?

[2018-10-01 15:18] OriAmir commented on #657
@alextrastero  can you give me example of what you mean please ? tnx

[2018-10-02 15:33] alextrastero commented on #657
Right now Input accepts an icon prop, this should be a string. We could add a node `const icon = <Icon className="xxx" />` and pass it as a prop to Input.

Then we would need an if/else to check the type of icon prop and render accordingly.

[2018-10-05 07:12] #399 closed

[2018-10-07 18:51] Dolcekar opened #663 "Unable to Customize my Buttons"
### Description

For some reason I cannot write content inside my 'wave' buttons. One is supposed to be 'sign up', the other 'sign in'. To add space in between them, I used Row and Col this way:
[code]
When I run my code, I get to show one full label and half the other
![error-buttons-materialize](https://user-images.githubusercontent.com/36909773/46585551-5f46e700-ca40-11e8-902b-2665b2926519.png)

[2018-10-08 07:55] alextrastero commented on #663
I tried adding your sample code [here](http://react-materialize.github.io/) and it works fine, have you checked what the `css` is doing? Maybe there's something else influencing

[2018-10-08 08:33] Dolcekar commented on #663
@alextrastero I should have mentioned that this is contained within a Parallax. My code looks like this
[code]

[2018-10-08 11:10] alextrastero commented on #663
I see, what's the rendered css of this button ?

[2018-10-08 11:17] Dolcekar commented on #663
Coming straight from here https://materializecss.com/waves.html#! I did not add anything from my end. Maybe materializecss components are not entirely compatible with react-materialize?

[2018-10-08 11:30] alextrastero commented on #663
Thanks, I mean I need a screenshot of the rendered css, to see why it's cutting, maybe there's a maxwidth somewhere?

[2018-10-08 11:39] Dolcekar commented on #663
Does this picture help? What I noticed is, it only displays both buttons text when I named them both 'Sign Up'.... it's the weirdest thing. I don't think it has to do with the css itself. It's something about the way the code is written. If it helps, I'll be happy to run a demo of my code using Screencastify to make it fast and easy.

![template-buttons-error](https://user-images.githubusercontent

[2018-10-08 12:37] alextrastero commented on #663
Can you right click on the button with the issue and click on inspect, then paste here a screenshot of the `computed` css, like so:
![screen shot 2018-10-08 at 2 37 15 pm](https://user-images.githubusercontent.com/4152819/46609257-b19f0b00-cb07-11e8-9167-3fb7cc04f00c.png)

[2018-10-08 13:16] lastgiven commented on #663
Should your class on the anchor not be className?

What happens when you change
`class=" amber darken-4 waves-effect waves-light btn-large"`
to
`className=" amber darken-4 waves-effect waves-light btn-large"`

[2018-10-08 17:57] Dolcekar commented on #663
@lastgiven , thank you, I am glad you caught that, but sadly didn't fix it!
@alextrastero Here is the screenshot. I hope this gives a better insight. You may not have wanted to see the entire details list but just in case!
![dev-tools-button-specs](https://user-images.githubusercontent.com/36909773/46625393-d1333500-cb01-11e8-9bb4-91ac639ba024.png)

[2018-10-08 22:33] dtruong11 commented on #525
I am having the same problem.

[2018-10-09 20:13] maria-le opened #664 "Missing component: Floating Action Button"
https://materializecss.com/floating-action-button.html

[2018-10-09 21:58] #664 closed

[2018-10-09 21:59] maria-le commented on #664
Nevermind. I missed it because it's in a different place than where it's organized on materializecss

[2018-10-11 06:27] mendaomn opened #665 "Tabs - PR proposal: Which Tab am I currently on?"
Hi,

I've used react-materialize Tabs before and I've always found myself in need of reacting to a tab change.
However the onSelect method just gives me back an idx (which seems to be different everytime??) and I'm not able to recognize which Tab I'm currently on.

I'd love it to submit a PR to simply change the argument passed to the onChange callback, somewhere around here: [Tabs.js#L21](https:/

[2018-10-11 08:00] alextrastero commented on #665
Hey @mendaomn, we are rewritting these components to adapt to the materialize-css@1.0.0, there's a milestone set and lots of issues tagged with 3.0.0-beta, you want to have a look? We could add this feature there. This was the PR that was already done, but you can add new features to it:
https://github.com/react-materialize/react-materialize/issues/607

[2018-10-11 08:00] #665 closed

[2018-10-11 13:52] mendaomn commented on #665
Sure would love to help out with the 3.0.0-beta, even though I'm not sure I understand what the single issues describe to do :) Can you help me out with that?

[2018-10-11 15:48] alextrastero commented on #665
Well that issue is already closed, the idea is to update each component to the new materialize-css interface, remove jquery init methods and add new options.
More info: https://github.com/react-materialize/react-materialize/wiki/Updating-to-new-materialize-css-version

[2018-10-13 09:42] CloudPower97 commented on #582
There are no changes between version __0.100.2__ and __1.0.0__ of `materialize-css`.
So, nothing to do here.

[2018-10-13 17:39] CloudPower97 commented on #601
Hey @alextrastero , no changes between __0.100.2__ and __1.0.0__ of `materialize-css`, so I think there is nothing to do here, right?

[2018-10-13 22:27] CloudPower97 opened #674 "Dropping Icon component in favor of Material Design Icons for React"
Hello,
I would like to know if we could drop the actual implementation of `Icon` component to instead use _[Material Design Icons for React](https://github.com/levrik/mdi-react)_.

It has ALL of the original Material icons made by __Google__ (which you can find [here](https://material.io/tools/icons/?style=baseline)) plus some (a lot, actually) of community made one.

I'm asking this because I rec

[2018-10-14 07:34] CloudPower97 commented on #596
Should we move _TimePicker_ and _DatePicker_ in their own component?

[2018-10-14 07:45] CloudPower97 commented on #592
Hey @alextrastero, no changes here between version __0.100.2__ and __1.0.0__ of `materialize-css` here.

[2018-10-14 07:48] CloudPower97 commented on #589
Hey @alextrastero, no changes here between version __0.100.2__ and __1.0.0__ of `materialize-css` here.

[2018-10-15 07:18] mendaomn commented on #599
According to [the migration guide](https://github.com/Dogfalo/materialize/blob/v1-dev/v1-upgrade-guide.md#modal)

Change attribute data-activates to data-target
Removed ready and complete callback, use onOpenEnd and onOpenEnd callback instead

I've gone ahead and changed the propTypes accordingly. I'm not sure whether this name change should be added to our tests

All tests seem to be passing, is

[2018-10-15 07:34] alextrastero commented on #599
Hey @mendaomn, that means manual QA, just fire it up locally and see if it works, is there a PR for this?

[2018-10-15 08:11] #581 closed

[2018-10-15 08:12] #582 closed

[2018-10-15 08:13] #601 closed

[2018-10-15 08:32] #592 closed

[2018-10-15 08:32] #589 closed

[2018-10-15 09:48] CloudPower97 commented on #674
No, they do not have these extra icons.  That's the problem.
If I wanted to use more icon I would have to import both the Google Material Icons stylesheet and this package to use every icon I need...

But this package has everything that `materialize-css` uses plus, as said before, a lot more of community made icons which follows the _Google Material Design_ guidelines.

Moreover they are already

[2018-10-15 09:59] alextrastero commented on #674
Ok, going to have a look :)

[2018-10-15 10:44] CloudPower97 commented on #674
Thanks, I think you will like this idea as  much as I do

[2018-10-16 06:17] mendaomn commented on #599
I apologize for the very BASIC question, but what do you mean by "fire it up and see if it works"? The only way I found was running tests :)

[2018-10-16 09:28] alextrastero commented on #599
No problem!
If you clone this repo/branch: https://github.com/react-materialize/webpack-boilplate/tree/beta-debug on a folder next to your react-materialize repo and npm install; npm start you will be able to test your changes :)

[2018-10-18 16:33] Marzon commented on #525
I´ve checked and the problem is with Input component.. It is receiving a new props checked = true but don´t update the internal state just like it does at onChange. Then, on the render, the this.state.checked stills false.

Where is the best place to update the state with a: this.setState({checked: this.props.checked}) ?

[2018-10-20 01:13] vincefio opened #681 "Cant figure out how to initialize dropdown for navbar on mobile screen"
### Description
On smaller than medium screen size my navbar list items do not turn into a dropdown menu.  I'm not sure how to initialize this process as i normally do with materialize.  If there is a method to fix this problem please let me know.

Thanks!

In materialize documentation it says:

Initialization
After including the sidenav-trigger line into your navbar, all you have to do now initia

[2018-10-20 13:13] danny-faith commented on #292
@madnight , isn't that accessing the DOM, which is not advised with React?

[2018-10-20 16:37] CloudPower97 commented on #292
@madnight Did you read the [documentation](https://reactjs.org/docs/refs-and-the-dom.html)?
It's the first example.

[2018-10-21 14:11] danny-faith commented on #292
@CloudPower97  - that first example doesn't apply to Materialize / React components. For some reason it looks like Materialize didn't include the focus() method.

[2018-10-21 17:05] alextrastero commented on #681
Hey @vincefio, does this work on the browser? how about when you use mobile size on browser?

[2018-10-21 17:06] #580 closed

[2018-10-21 17:06] #588 closed

[2018-10-21 17:06] #587 closed

[2018-10-21 17:07] alextrastero commented on #603
Any updates here?

[2018-10-21 17:07] alextrastero commented on #608
👋 @dmitry-yudakov

[2018-10-21 17:08] #602 closed

[2018-10-21 17:08] #604 closed

[2018-10-22 10:17] dmitry-yudakov commented on #608
@alextrastero Sorry for the delay, please check the pull request.

[2018-10-22 10:17] dmitry-yudakov commented on #608
@alextrastero Sorry for the delay, please check the pull request.

[2018-10-22 10:21] dmitry-yudakov commented on #603
I think this issue can be closed - Preloader.js, ProgressBar.js and Spinner.js are ok.

I first created jQuery offtopic here, sorry about that. These components don't use jQuery and require no additional changes.

[2018-10-24 21:01] tonio-ramirez opened #684 ""required"
### Description

[Description of the issue]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [or Code Sample...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

### Versions

**react-materialize:** x.x.x
**materialize-css:** x.x.x
**react:** x.x.x

#### Thanks for helping out!

[2018-10-24 21:08] tonio-ramirez opened #685 ""required" Input not being validated"
### Description

`Input` fields validate `minLength`, `maxLength`, and `pattern` properly, but do not mark the field as `invalid` if it is empty and `required`.

### Steps to Reproduce

1. `<Input required validate/>`
2. Enter text
3. Delete text, leaving input empty

**Expected behavior:**
Input field is marked invalid (red, with `invalid` class)

**Actual behavior:**
Input field is marked clean

[2018-10-24 21:14] tonio-ramirez commented on #684
Argh, sorry... must've clicked submit by mistake, so sorry.

[2018-10-24 21:14] #684 closed

[2018-10-26 09:13] haddyo opened #686 "Not able to get Props of Tab onChange"
### Description
 Tabs are dynamically generated and OnChange of Tab, i need to pass the id/name/props of the Tab being Clicked.
I don't see there are other props other than active,Disabled, title,tableWidth being Passed.
How to access that.

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [or Code Sample...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [Wha

[2018-10-26 10:06] alextrastero commented on #686
The `onChange` is called with `onChange(idx, e)`, can you get the information you need from the `event`?

[2018-10-26 10:06] alextrastero commented on #686
Checkout `Tabs`

[2018-10-26 11:36] haddyo commented on #686
Event is helpful but I've to get to do the following to get the details of the Tab Clicked,

const tabName = event.target.parentElement.className.split(' ')[2];

should'nt there be an better way to have something like tabName field which can be passed on onChange along with (idx,e)

[2018-10-26 11:42] jhe01 opened #687 "Input Error Message are hidden?"
Input error message are not displayed until you click on the input tag. and the error message do the transition like the actual label of the input.

upon checking on html code, the error message was inside the label of the input itself (label:after).

Expected behavior: it should be displayed under the input tag.

Actual behavior:
![image](https://user-images.githubusercontent.com/35474475/4756434

[2018-10-29 05:37] jhe01 commented on #687
@haddyo

 yeah, i have error prop on my input.

![image](https://user-images.githubusercontent.com/35474475/47631074-4503b300-db7f-11e8-8c86-0bd4008f0e47.png)

above image (from materializecss website), there was a highlighted helper text. that text was not being displayed on my input.

[2018-10-29 06:36] haddyo commented on #687
![image](https://user-images.githubusercontent.com/24606061/47633169-f18b6800-db72-11e8-9181-701f32863e23.png)

Try the above Properties 'error' & 'success' along in your Input Component

[2018-10-29 06:59] jhe01 commented on #687
@haddyo

first thing, here is my code

![image](https://user-images.githubusercontent.com/35474475/47633483-0c68d700-db89-11e8-9ba7-9324ad7dee24.png)

second thing, this is the preview before clicking the input.

![image](https://user-images.githubusercontent.com/35474475/47633526-39b58500-db89-11e8-8ab7-93dde7088e58.png)

upon checking on html, the input has invalid class but the label does not h

[2018-10-29 09:12] alextrastero commented on #612
It sure does @geoff-wasilwa, please submit one :)

[2018-10-29 09:53] #608 closed

[2018-10-29 09:54] alextrastero commented on #603
Ok closing :)

[2018-10-29 09:54] #603 closed

[2018-10-29 13:35] haddyo commented on #686
any work around possible?

[2018-10-29 13:50] alextrastero commented on #686
Can you paste a code sample here for me to try?

[2018-10-31 20:09] geoff-wasilwa opened #688 "Text input state not changed to active with zero as default value"
### Description

Creating a text input with a default value of zero displays an overlapped value and label. This is because the `active` class is only set for truthy values.

### Steps to Reproduce

`<Input label="Anchor Last" value={0} />`

**Expected behavior:**
<img width="337" alt="screenshot 2018-10-31 at 23 08 01" src="https://user-images.githubusercontent.com/6013054/47815609-daf73380-dd61-

[2018-11-01 08:49] alextrastero commented on #688
You might also be getting a `PropTypes` warning. `value` should be either an array or a string. Can you convert to string before assigning to `value`?

[2018-11-01 08:49] #688 closed

[2018-11-01 13:31] PraveenAsh opened #689 "Modal is supported only with Jquery"
### Porting from Jquery to Vanilla JS
Not everybody use JQuery for there app. I think writting a vanilla JS for not just Modal but for all JS supported components will be helpful. Close when completed.

[2018-11-01 15:40] alextrastero commented on #689
Hey @PraveenAsh, currently until our new milestone is complete we need to require jQuery, until not so long ago materialize-css required jQuery, we are still in the process of migrating. Feel free to give us a hand :) https://github.com/react-materialize/react-materialize/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A3.0.0

[2018-11-01 15:40] #599 closed

[2018-11-14 10:28] jhe01 opened #691 "SideNav Trigger on another Component not working properly"
### Description
Hello,

I have 2 components, a Header and Aside component. My Sidebar are on the Aside component but the trigger was on the Header component.

The problem is, I can't trigger my SideNav to open using my trigger on Header component. But if i put a trigger props on SideNav, and click the trigger on Header component it is opening though i can't close it and Whenever i click the create

[2018-11-16 10:56] geoff-wasilwa opened #692 "Remove tooltip when navigating to another page"
### Description

Clicking a Button with a tooltip that navigates to another page displays the tool on the next page.

**Expected behavior:** The tooltip should be removed

**Actual behavior:** Tooltip is still rendered on new page

### Versions

**react-materialize:** 2.4.5
**materialize-css:** 0.100.2
**react:** 16.5.1

[2018-11-16 16:36] alextrastero commented on #612
AFAIK this is solved

[2018-11-16 16:36] #612 closed

[2018-11-16 16:37] alextrastero commented on #687
Closing, let me know if this is not clear yet

[2018-11-16 16:37] #687 closed

[2018-11-19 14:29] Willibaur opened #693 "Wrong versioning on Changelog"
### Description

Hi all, I think there is an error within the [Changelog](https://github.com/react-materialize/react-materialize/blob/master/CHANGELOG.md) weather we jump from `2.4.5` to `2.5.6` instead of `2.4.6`.

I'm happy to upload a PR with the change if I'm correct.

![image](https://user-images.githubusercontent.com/12820932/48713039-44eb5600-ec07-11e8-95f8-9f1aa41803fb.png)

[2018-11-19 14:30] alextrastero commented on #693
Absolutely right, I was waiting for the next version to fix it, will do now

[2018-11-19 14:37] #693 closed

[2018-11-21 12:19] Coderator3000 opened #696 "Disable autocomlete"
Is it possible to disable the autocomplete? If so, how?

[2018-11-21 15:23] mustaphaturhan commented on #696
You can use input fields instead of Autocomplete.
Check [docs page for input fields](https://react-materialize.github.io/#/forms).

[2018-11-22 09:33] geoff-wasilwa commented on #692
@alextrastero what about calling `close` or `destroy` when the tool-tipped button is unmounted?

[2018-11-23 02:32] jhe01 commented on #691
@alextrastero

Sorry for late reply alextrastero,

here is my Header Component

![image](https://user-images.githubusercontent.com/35474475/48926584-6d769700-ef0a-11e8-8f73-a4b4a8124327.png)

and  here is my Aside Component

![image](https://user-images.githubusercontent.com/35474475/48926676-06a5ad80-ef0b-11e8-94f7-80e07bc58338.png)

As you can see i have my trigger on header.

[2018-11-23 23:08] CloudPower97 commented on #597
Hey, @alextrastero, I think we can close this issue :)

[2018-11-23 23:11] CloudPower97 commented on #594
Hey @alextrastero, I think there is nothing to do here. Do you agree?

[2018-11-23 23:12] CloudPower97 commented on #591
@alextrastero we can close this issue

[2018-11-25 19:01] #597 closed

[2018-11-25 19:17] alextrastero commented on #591
Yup! 👍

[2018-11-25 19:17] #591 closed

[2018-11-25 19:18] #594 closed

[2018-11-26 20:33] CloudPower97 opened #703 "Adding the possibility to autoplay and stop/start the Carousel"
Hey there,
what about adding the possibility to autoplat and start/stop the carousel on hover?

It's as simple as adding a `setInterval` for the autoplay, `mouseenter` and `mouseleave` listener on `componentDidMount` for the `hovering` case and clean everything up on `componentWillUnmount`.

Of course start/stop is only one of the possibility you can achieve adding these kind of event listener.

T

[2018-11-26 20:36] CloudPower97 commented on #674
Hey @alextrastero did you have some time to get into this? I'm still pretty much convinced it's a nice move :smile:

[2018-11-27 08:39] #696 closed

[2018-11-27 08:41] alextrastero commented on #703
Thanks @CloudPower97 for the suggestion, although we want to keep this library just as a wrapper for `materializecss`, adding extra features is not the task of this library. Could that be a feature suggestion for them?

[2018-11-27 08:41] #703 closed

[2018-11-27 08:42] alextrastero commented on #674
Do you have a sample PR I could look at for the implementation?

[2018-11-27 08:44] #600 closed

[2018-11-27 08:51] alextrastero commented on #692
Absolutely, would you like to give it a go?

[2018-11-27 16:21] alextrastero commented on #584
I'll jump on this

[2018-11-28 22:07] CloudPower97 commented on #593
@alextrastero We can close this one :+1:

[2018-11-28 22:56] CloudPower97 commented on #584
@alextrastero Whoops, I'm almost ready with a PR for this... I'm sorry for the confusion, it's my fault.
What should we do now? :grimacing:

[2018-11-30 16:18] alextrastero commented on #584
Ah no problem, I didn't manage to start, been very busy :) you grab it

[2018-11-30 16:18] #593 closed

[2018-11-30 16:18] alextrastero commented on #593
Thanks @CloudPower97 !!

[2018-11-30 16:20] amyfang3 commented on #246
@zjacek12 @alextrastero How do you use npm package react-async-script to fix it? Do you have a code example?

[2018-12-07 14:41] mlembke1 commented on #188
I have mirrored that functionality that @alextrastero has suggested:
`<SideNavItem className="border-bottom" waves>
        <li><Link className="link" to="/">Home</Link></li>
  </SideNavItem>
  <SideNavItem className="border-bottom" waves>
         <li><Link className="link" to="/portal">Portal</Link></li>
  </SideNavItem>`

However, this only gives me the new error of:
`validateDOMNesting(...): <

[2018-12-07 15:11] mlembke1 opened #706 "<a> cannot be descendent of <a>"
### Description
While using `<SideNav />`, I am also using React Router's `<Link/>` within. This has given me the error: `validateDOMNesting(...): <a> cannot appear as a descendant of <a>.`
Some have astutely pointed out that the `<SideNav />` actually compiles down to an `<a/>`. The `<Link />` aslo compiles down to an `<a/>`!
So I understand the problem. This has been addressed in issue #188 . Ho

[2018-12-10 08:11] mizinsky commented on #645
+1

[2018-12-10 08:12] ljachymczyk commented on #645
+1

[2018-12-13 08:57] alextrastero commented on #606
Can be closed when #701 is done

[2018-12-13 09:46] alextrastero commented on #584
ping @CloudPower97 lemme know if i can help :)

[2018-12-13 09:50] alextrastero commented on #598
removing this component will suffice

[2018-12-13 11:58] #598 closed

[2018-12-13 12:08] #605 closed

[2018-12-13 21:31] alextrastero commented on #609
Delete this component

[2018-12-14 10:50] CloudPower97 commented on #706
@mlembke1 This is going to work without problem in version `3.0.0`.
Fixed with #702

[2018-12-14 16:01] alextrastero opened #718 "3.0.0 Storybook stories"
### Create stories for components for documentation

- [x] BadgesPage
- [x] BreadcrumbsPage
- [x] ButtonsPage
- [x] CardsPage
- [x] CarouselPage
- [x] ChipsPage
- [x] CollapsiblesPage
- [x] CollectionsPage
- [x] DropdownPage
- [x] FooterPage
- [x] FormsPage
- [ ] GettingStartedPage (aka introduction)
- [x] GridPage
- [x] IconsPage
- [ ] MediaPage
- [x] ModalsPage
- [ ] NavbarPage
- [ ] PageFooter

[2018-12-16 15:17] alextrastero opened #726 "3.0.0 Autocomplete with Icon"
Autocomplete needs a story with Icon, also can we remove `iconClassnames` prop and only pass `material-icons prefix`?

[2018-12-16 22:22] domantasjurkus opened #729 "Collapsible accordion={false} does not work"
### Description
The [Basic Collapsible example](https://react-materialize.github.io/#/collapsible) does not allow opening multiple collapsible elements when copy-pasted to my own project. Adding an explicit `accordion={false}` did not solve my issue. In addition, editing the docs directly by adding `accordion={true}` does not produce expected behaviour (allowing single element to be opened at a ti

[2018-12-17 01:38] mccraveiro commented on #726
As it is, It seems that the icon is breaking the layout. I will investigate further.

<img width="570" alt="screen shot 2018-12-16 at 11 37 17 pm" src="https://user-images.githubusercontent.com/782333/50061994-90a00980-018b-11e9-9063-2cb80f321d53.png">

[2018-12-17 01:42] mccraveiro commented on #726
Oh! I had forgotten to pass the class name 😂

[2018-12-17 11:05] alextrastero commented on #726
thx

[2018-12-17 11:05] #726 closed

[2018-12-17 11:51] #609 closed

[2018-12-17 11:56] mccraveiro commented on #585
It seems to be working just fine! No changes needed.

[2018-12-17 12:21] #585 closed

[2018-12-17 13:15] mccraveiro commented on #586
There was no changes to cards. Reference: https://github.com/Dogfalo/materialize/blob/v1-dev/v1-changelog.md

[2018-12-17 13:18] mccraveiro commented on #586
It seems to be working just fine on #733. Should we close this issue?

[2018-12-17 13:21] mccraveiro commented on #718
Will the `/examples` directory be removed after all stories are written?

[2018-12-17 14:00] alextrastero commented on #718
I think so yes

[2018-12-17 14:01] #586 closed

[2018-12-21 21:43] CloudPower97 commented on #596
Hey, @alextrastero what about the [`range` input](https://materializecss.com/range.html)?

[2018-12-21 21:44] CloudPower97 commented on #584
Hey, @alextrastero I already have a branch on my forked repo, going to create a PR in a few days I hope.

[2018-12-22 09:43] alextrastero commented on #596
Good catch @CloudPower97, that also needs implementing

[2018-12-24 21:01] lazzy07 commented on #399
Manually add "active" class to the label
example:
<label **className={props.active ? "active" : ""}** htmlFor={props.id}>

[2018-12-26 11:03] MohamedSubhi opened #737 "modal() is not a function"
### Description

getting this error when trying to open a modal programatically (No trigger Modal)
I have used npx create-react-app

### Versions
**react-materialize:** 2.6.0
**materialize-css:** 1.0.0-rc.2
**react:** 16.7.0-alpha.2

**Actual behavior:**
getting this error TypeError: jquery__WEBPACK_IMPORTED_MODULE_7__(...).modal is not a function

### index.html
[code]

### package.json
[code]

#

[2018-12-26 18:06] onluiz opened #738 "False positive test at Button.spec.js"
### Description
Playing with Button component, a found out that there is 2 tests (fab hover and fab click) that are always positive. At first that would be fine :P but even when I force test conditions to fail, it does't, causing a false positive.

### Steps to Reproduce

1. Run tests
2. Verify that https://github.com/react-materialize/react-materialize/blob/master/test/Button.spec.js#L44 and http

[2019-01-02 09:30] alextrastero commented on #737
Currently we dont support new materializecss, we are close to completing the migration, label: 3.0.0-beta

[2019-01-02 09:30] #737 closed

[2019-01-02 09:31] alextrastero commented on #738
Is there something I can assist with here?

[2019-01-02 10:54] alextrastero commented on #738
Aha, the issue is that the assertion in the test is not happening, you need to add `toHaveLength(1)` for example

[2019-01-02 11:14] onluiz commented on #738
I tried that, but then test always fail, and the component is working fine.
It seems that the way we are simulating `hover` and `click` might not be the best for this situation.

[code]

The assert can't find `fixed-action-btn active` after `wrapper.simulate('hover');`.

I will be searching more about this to see if I can come up with some ideia and open a PR :)

[2019-01-02 12:02] alextrastero commented on #738
True, the hover simulation might not be working

[2019-01-06 15:56] KingBrado commented on #419
Hello, did anyone solve this issue? The version of @gabriel216 does not work either for me

[2019-01-07 10:13] alextrastero commented on #419
Can you provide a small code sample to test?

[2019-01-07 21:48] KingBrado commented on #419
I think the best is to send you an example of what I'd like to achieve.

[code]
In plain HTML/CSS/Javascript it is possible to pass materialize-css classes to both collapsible-header and collapsible-body.
After posting here yesterday, I checked the source for react-materialize and, as far as I can see, it is not possible to pass such classes to the collapsible-header. So I proposed a solution in a

[2019-01-10 01:23] dellwatson opened #743 "parallax component use zoomed in picture?"
**Expected behavior:**
expecting the parallax component could be modify, because right now the image always zoomed in which not the one i wanted to.

or could be modify together with className="responsive-img"

[2019-01-10 09:18] alextrastero commented on #743
Hey @dellwatson, can you give us some more input? What feature from materialize-css would you expect this parallax component to have? thx :)

[2019-01-10 16:53] mattlockyer opened #744 "Alternative Approach"
### Description

I've come up with an alternative to your library, which I think is pretty great btw. Thanks for all the hard work.

Since there are several issues with being in sync with the materializecss releases and component issues, happens to the best of us, I decided to use materialize directly but instead import custom components on top of a core bundle.

I wrote about this approach here,

[2019-01-11 08:40] alextrastero commented on #744
Hey @mattlockyer, nice article and a valid approach. Question though, since you imported `materialize.min.js` in your `index.html`, would that not mean that you it can't be optimized with webpack?

[2019-01-11 16:01] mattlockyer commented on #744
Good question. I actually created a custom build of `materialize.min.js` that includes only the core files to get each individually imported component running. So the file I've included is much smaller than the original `dist/materialize.min.js`. Hope this helps.

[2019-01-11 17:10] alextrastero commented on #744
Ah I see, how do you keep in sync with materialize-css if so?

[2019-01-11 18:02] mattlockyer commented on #744
So materialize-css is pulled in live from my bundler. Need more components, just uncomment the materialize.scss imports and they will be loaded by the bundler.

If materialize releases a new JS version, you will have to recompile the minified js, but it's only one command line.

There's a link to the custom grunt file in the post as well!

[2019-01-12 10:13] alextrastero commented on #584
Card component doesn't seem to have changes, please reopen if it does :)

[2019-01-12 10:13] #584 closed

[2019-01-12 10:14] #606 closed

[2019-01-12 10:14] alextrastero commented on #596
Done :)

[2019-01-12 10:14] #596 closed

[2019-01-12 10:15] alextrastero commented on #583
Only waiting on #721 :)

[2019-01-12 10:57] alextrastero opened #749 "BETA: Dropdown init not working"
In 3.0.0-beta branch the dropdown is not working, for some reason calling init with a ref doesn't work but with a node selector it does:

[code]

Ideally like other components we wouldn't need to rely on a classname. `materialize-css` dropdown.js needs to be inspected to see why it doesn't work.

[2019-01-12 18:46] onluiz commented on #749
It looks like `this._trigger` has only the string `[data-target=${this.idx}] ` instead of an actual element.

I tried to change `ref: t => (this._trigger = ``[data-target=${this.idx}]``)` to ``ref: t => (this._trigger = t)` and no success too.

It only worked when I tried getting my ref manually from target button, like this:

`ref: t => (this._trigger = t._btnEl)`

But I assume that dropdown is p

[2019-01-14 10:21] n8udd commented on #532
Any plans to update to v1.0.0 as this is now out of beta?

[2019-01-14 10:30] alextrastero commented on #532
We are very close, only a few issues left which we would really apreciate some help with https://github.com/react-materialize/react-materialize/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A3.0.0

[2019-01-30 08:14] #583 closed

[2019-01-30 08:35] #749 closed

[2019-01-30 12:14] onluiz commented on #583
:rocket:

[2019-01-30 22:11] DaleP1988 opened #754 "Parallax Image too Large"
### Parallax Image too Large

Trying to use a free Pexels image on my site. When used with React-Parallax, the image turns out to be large and distorted. For most of the images I tried, the result didn't even compare to the original image. How can I scale the image to both accommodate the parallax and display completely?

### Sample Code

import React, { Component } from "react";
import { Col, Row

[2019-02-02 17:43] frenchqwerty opened #755 "Close modal in function"
### Description

Hi there,

I want to close a modal in my function.

### Steps to Reproduce

`private uploadModal = React.createRef();`

[code]

[code]

**Expected behavior:**

Close the modal

**Actual behavior:**

_this.uploadModal.current.close is not a function

### Versions

**react-materialize:** ^2.6.0
**materialize-css:** ^1.0.0-rc.2
**react:** ^16.7.0

#### Thanks for helping out!

- [ ]

[2019-02-06 19:53] sepanaho opened #756 "Input not rendering"
### Description

I can't get check-boxes and radio-sets to render.

I am new to this so please excuse me if I am missing something obvious.

### Steps to Reproduce

[code]

**Expected behavior:**
I would have expected check-boxes and radio-sets to render in the same fashion as text and file inputs.

**Actual behavior:**
The check-box and radio-set does not render. Please see attached screenshot.
!

[2019-02-07 10:14] alextrastero commented on #756
At this moment we don't support the latest version of materialize-css, we have a milestone react-materialize@3.0.0-beta which is nearly ready. Please feel free to help out https://github.com/react-materialize/react-materialize/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22help+wanted%22

[2019-02-07 10:14] #756 closed

[2019-02-13 17:43] miku86 opened #757 "Collection does not put my data attribute into UL"
Hey folks,
thanks for reading :)

### Description

`<Collection />` does not use my custom data attribute.

### Steps to Reproduce

1. Create a Collection:
[code]

2. Look at the HTML code in Dev Tools:
[code]

**Expected behavior:**
I expect, that `data-testid="my-custom-list"` is also in the HTML code.
For other elements like `<Button />` and `<Input />` it works.

**Actual behavior:**
The data-

[2019-02-15 00:00] onluiz commented on #757
@alextrastero, can I fix this one? =)

[2019-02-15 09:49] alextrastero commented on #757
Sure! We're also really close to finishing `3.0.0` all we need are some extra storybook stories if you're interested :)

[2019-02-15 15:56] mrerichoffman opened #758 "TextInput onChange callback issue"
### Description

The TextInput component does not pass through the onChange callback. This is on the 3.0 beta branch.

### Steps to Reproduce

`<TextInput type='email' id='email' label='Email' value={this.state.email} onChange={this.handleChange} />`

handleChange callback function does not pass through to the input html element - looks like a simple fix is needed to update the function binding fr

[2019-02-15 16:11] mrerichoffman opened #759 "TimePicker does not work in 3.0"
### Description

TimePicker does not import on the 3.0 beta branch.

### Steps to Reproduce

`import { TimePicker } from 'react-materialize';`

Looks like index.js is missing `import TimePicker from './TimePicker';`

This component is also affected by the onChange callback issue in TextInput. Side note, it would be nice to get the time picker instance from outside this component to access all of t

[2019-02-15 17:33] alextrastero commented on #759
Thanks for catching this! simple fix will solve ASAP

[2019-02-15 19:58] MilePaor opened #762 "Codesandbox"
### Description

react-materialize package does not work with react hooks inside codesandbox editor.

### Versions

**react-materialize:** 2.6.0
**materialize-css:** 0.98.0
**react:** 16.8.2

#### Thanks for helping out!
![materialize](https://user-images.githubusercontent.com/20985604/52881282-7622e600-3164-11e9-836b-b8a99a581032.jpg)

[2019-02-15 22:27] onluiz commented on #718
Implemeting * ModalsPage stories :)

[2019-02-15 23:52] myleftshoe opened #764 "Modal don't work in electron"
Using the simple modal example at react-materialize.github.io pressing the button does not open the modal when the react app is run with electron. It works when when run directly in the browser.

[2019-02-17 15:01] alextrastero commented on #764
The modal requires jquery and materializejs, are they included by the time the modal is initialized?

[2019-02-17 18:18] onluiz commented on #718
The GettingStartedPage will have same content as https://react-materialize.github.io/#/ currently has?

[2019-02-18 11:55] alextrastero commented on #718
Hey @onluiz I already started working on a welcome page that should include the documentation to get started :) sry

[2019-02-18 12:29] onluiz commented on #718
That's fine :) I will work on * MediaPage then

[2019-02-19 16:04] onluiz commented on #718
@alextrastero, opened a pr for Media page!
Is it ok if I start * NavbarPage?

:)

[2019-02-21 09:47] alextrastero commented on #718
Sure! @onluiz

[2019-02-21 10:41] myleftshoe commented on #764
Haven't resolved this but closing as not using atm.

[2019-02-21 10:41] #764 closed

[2019-02-23 00:22] meteormanaged commented on #551
Looking at something similar myself here.

I'm attempting to use the package with Gatsby, which dynamically generates the index.html with each change/build, so adding links and scripts to the index.html is not an option.

I was able to get things imported using react-helmet, but that's got me putting script tags in the head, and it's not letting me determine my ordering for css (thus, materialize

[2019-02-23 14:52] onluiz commented on #718
Opened a pr for Navbar!
@alextrastero, is it ok if I start * PageFooter?

[2019-03-07 16:47] huxaiphaer commented on #399
This is really so sad ☹️,

[2019-03-10 09:04] iSarCasm opened #769 "Chips with "close" prop is broken in 3.0.0"
### Description

Chips with "close" prop missing actual "close" class.

### Steps to Reproduce

1. Create a Chip with close prop
2. Code example from story:
[code]

**Expected behavior:** Proper styles for close icon
![image](https://user-images.githubusercontent.com/1886857/54082818-c59fa080-4323-11e9-9d9b-57c5bdc0525e.png)
![image](https://user-images.githubusercontent.com/1886857/54082822-d05a3

[2019-03-10 13:18] onluiz commented on #718
Implementing ParallaxPage :)

[2019-03-10 15:06] iSarCasm commented on #718
@alextrastero do you need help with any?

[2019-03-12 11:14] alextrastero commented on #718
Sorry for the delay, i've been really busy with personal stuff, @onluiz how are we doing? I'll pick up the `getting started page` ASAP cheers

[2019-03-12 15:14] onluiz commented on #718
Hi @alextrastero, I am having some problems with SideNav stories, but besides this one I think we're doing fine :)

[2019-03-13 22:28] #755 closed

[2019-03-19 14:55] onluiz commented on #718
@alextrastero, added Tabs stories :smile:

[2019-03-19 15:35] onluiz commented on #762
Can you post a link for your CodeSandbox example?

[2019-03-19 15:41] onluiz commented on #762
Steps to reproduce:
- Create a new CodeSandbox
- Add useState function (as described into @MilePaor print above)
You will observe that everything works fine.

Then add react-materialize dependence and the box stop working (above error).

@MilePaor, the same problem happens when you use create-react-app on your machine? It would be nice to know in case that only occurs on CodeSandbox.

[2019-03-22 07:55] subashdbc opened #776 "Clock displays and hides immediately after updating Chrome version to 73"
Hi,

When we click on the filed the clock modal opens and immediately close
https://codepen.io/anon/pen/evQxPy
This happens after I have updated my chrome version to 73

[2019-03-22 19:48] hygo2025 commented on #492
Updates?

[2019-03-23 08:17] alextrastero commented on #492
Hey @hygo2025, can you paste a small sample of what you're trying to achieve? Thanks

[2019-03-23 08:24] ropali opened #778 "NavItem should have a prop to specify which element we want render other than the <a> tag"
### Description

NavItem should have a prop to specify which element we want render other than the anchor tag so that it can be used with reeact-router Link tag

**Expected behavior:** Able to change the underlying anchor tag to any other tag

**Actual behavior:** Always renders the anchor tag

### Versions

**react-materialize:** 2.6.0
**materialize-css:**0.98.0
**react:** 16.8.4

[2019-03-24 11:06] alextrastero commented on #778
Why not use like so?

[code]

[2019-03-24 15:32] ropali commented on #778
Yeah, I tried that already but it breaks the UI. See the attached screenshot.
![Short Link](https://user-images.githubusercontent.com/31515245/54881651-0943ef80-4e78-11e9-8458-f88adbc5af7e.png)

[2019-03-24 15:45] alextrastero commented on #496
Try version `react-materialize@3.x`, this works `<TextInput value={this.state.value}/>`

[2019-03-24 15:45] #496 closed

[2019-03-24 15:45] alextrastero commented on #492
Try version `react-materialize@3.x` works for me

[2019-03-24 15:45] #492 closed

[2019-03-24 15:46] alextrastero commented on #776
This would be an issue for `pickadate`

[2019-03-24 15:46] #776 closed

[2019-03-24 15:48] alextrastero commented on #718
I think we are done here @onluiz, I published 3.0.0. Thanks to you and all other contributors 👍

Next steps are:
- reduce bundle (ability to import only 1 component)
- complete all stories

[2019-03-24 15:48] #718 closed

[2019-03-24 15:49] alextrastero commented on #762
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:49] #762 closed

[2019-03-24 15:49] alextrastero commented on #342
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:49] #342 closed

[2019-03-24 15:49] #642 closed

[2019-03-24 15:50] alextrastero commented on #467
Closing for now, will reopen if required

[2019-03-24 15:50] #467 closed

[2019-03-24 15:50] alextrastero commented on #652
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:50] #652 closed

[2019-03-24 15:50] alextrastero commented on #663
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:50] #663 closed

[2019-03-24 15:50] alextrastero commented on #525
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:50] #525 closed

[2019-03-24 15:51] alextrastero commented on #681
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:51] #681 closed

[2019-03-24 15:51] alextrastero commented on #685
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:51] #685 closed

[2019-03-24 15:56] alextrastero commented on #551
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:56] #551 closed

[2019-03-24 15:56] alextrastero commented on #759
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:56] #759 closed

[2019-03-24 15:57] alextrastero commented on #758
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:57] #758 closed

[2019-03-24 15:59] alextrastero commented on #757
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:59] #757 closed

[2019-03-24 15:59] alextrastero commented on #754
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 15:59] #754 closed

[2019-03-24 15:59] alextrastero commented on #532
Done 👍

[2019-03-24 15:59] #532 closed

[2019-03-24 16:00] #744 closed

[2019-03-24 16:00] alextrastero commented on #743
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:00] #743 closed

[2019-03-24 16:02] alextrastero commented on #419
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:02] #419 closed

[2019-03-24 16:02] alextrastero commented on #738
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:02] #738 closed

[2019-03-24 16:02] alextrastero commented on #729
Solved in 3.x

[2019-03-24 16:02] #729 closed

[2019-03-24 16:03] alextrastero commented on #645
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:03] #645 closed

[2019-03-24 16:03] alextrastero commented on #692
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:03] #692 closed

[2019-03-24 16:03] alextrastero commented on #674
Closing for now, let me know if we need to reopen this

[2019-03-24 16:03] #674 closed

[2019-03-24 16:03] alextrastero commented on #691
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:03] #691 closed

[2019-03-24 16:04] alextrastero commented on #625
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:04] #625 closed

[2019-03-24 16:04] alextrastero commented on #622
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:04] #622 closed

[2019-03-24 16:04] alextrastero commented on #560
Done 👍

[2019-03-24 16:04] #560 closed

[2019-03-24 16:04] #577 closed

[2019-03-24 16:04] alextrastero commented on #531
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:04] #531 closed

[2019-03-24 16:05] alextrastero commented on #562
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:05] #562 closed

[2019-03-24 16:05] alextrastero commented on #561
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:05] #561 closed

[2019-03-24 16:05] alextrastero commented on #548
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:05] #548 closed

[2019-03-24 16:19] alextrastero commented on #502
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:19] #502 closed

[2019-03-24 16:19] alextrastero commented on #511
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:19] #511 closed

[2019-03-24 16:19] alextrastero commented on #347
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:19] #347 closed

[2019-03-24 16:19] alextrastero commented on #348
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:19] #348 closed

[2019-03-24 16:20] alextrastero commented on #468
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:20] #468 closed

[2019-03-24 16:20] alextrastero commented on #462
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:20] #462 closed

[2019-03-24 16:20] alextrastero commented on #414
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:20] #414 closed

[2019-03-24 16:20] alextrastero commented on #447
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:20] #447 closed

[2019-03-24 16:20] alextrastero commented on #431
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:20] #431 closed

[2019-03-24 16:20] alextrastero commented on #388
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:20] #388 closed

[2019-03-24 16:20] alextrastero commented on #277
Done

[2019-03-24 16:20] #277 closed

[2019-03-24 16:20] alextrastero commented on #423
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:20] #423 closed

[2019-03-24 16:20] alextrastero commented on #403
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:20] #403 closed

[2019-03-24 16:21] alextrastero commented on #397
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:21] #397 closed

[2019-03-24 16:21] alextrastero commented on #395
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:21] #395 closed

[2019-03-24 16:21] alextrastero commented on #350
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:21] #350 closed

[2019-03-24 16:21] alextrastero commented on #380
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:21] #380 closed

[2019-03-24 16:21] alextrastero commented on #276
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:21] #276 closed

[2019-03-24 16:21] alextrastero commented on #322
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:21] #322 closed

[2019-03-24 16:21] alextrastero commented on #332
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:21] #332 closed

[2019-03-24 16:22] #315 closed

[2019-03-24 16:23] alextrastero commented on #319
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:23] #319 closed

[2019-03-24 16:23] alextrastero commented on #228
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:23] #228 closed

[2019-03-24 16:23] #210 closed

[2019-03-24 16:23] #250 closed

[2019-03-24 16:23] alextrastero commented on #249
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:23] #249 closed

[2019-03-24 16:23] alextrastero commented on #273
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:23] #273 closed

[2019-03-24 16:24] alextrastero commented on #258
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:24] #258 closed

[2019-03-24 16:24] alextrastero commented on #256
done

[2019-03-24 16:24] #256 closed

[2019-03-24 16:24] #314 closed

[2019-03-24 16:24] alextrastero commented on #245
Please try `react-materialize3.x` and reopen if this is still happening, thanks!

[2019-03-24 16:24] #245 closed

[2019-03-27 15:15] onluiz commented on #778
@alextrastero, need some help on this one?

[2019-03-27 15:22] alextrastero commented on #778
@ropali depending on how big your project is, could you try using `react-materialize@3.x` and seeing if this is still an issue?

[2019-03-27 15:23] alextrastero commented on #778
Even if you try to fix this @onluiz, @ropali would need to test the mayor update first :)

[2019-03-27 15:26] ropali commented on #778
I am just doing a toy project, not a big deal. I will try  `react-materialize@3.x` .

[2019-03-27 15:34] onluiz commented on #778
Ok :)

[2019-03-28 09:10] alextrastero commented on #769
Fixed

[2019-03-28 09:10] #769 closed

[2019-03-28 15:22] MSharifi78 opened #792 "Can't Make TextInput Controlled"
### Description

I passed *value* prop to **TextInput** in order to reset it's value.
but the *value* prop gets passed as *defaultValue* to **input** tag

### Steps to Reproduce

1. render a **TextInput**
2. pass *value* prop to **TextInput** and set it's value to a state
3. change state's value

**Expected behavior:** *TextInput* value should change

**Actual behavior:** *TextInput* value doesn't

[2019-03-28 22:59] ivofrancisco commented on #399
From what I've figured out it happens only when there is input field with type Password. And this is the best solution I came across:
autoComplete="new-password"

[2019-03-28 23:00] ivofrancisco commented on #612
From what I've figured out it happens only when there is input field with type Password. And this is the best solution I came across:
autoComplete="new-password"

[2019-03-29 10:29] LucaProgrammer opened #793 "Add action on icon in TextInput"
Good morning,
first of all i want to congratulate with you for you're gr reat work.

### Description

I have a question about icon in TextInput component.
I want to add an action on that icon, but ther'isn't a prop that allows it to me.

How can i do?

#### Thanks for helping out!

[2019-03-29 13:15] alextrastero commented on #793
Hey @LucaProgrammer, could you please add an example of what you are trying to achieve?

A `TextInput` can contain an icon, like materializecss https://materializecss.com/text-inputs.html

[2019-03-29 13:18] alextrastero commented on #792
Hey @MSharifi78, this works for me:

[code]

[code]

[2019-03-29 13:29] MSharifi78 commented on #792
According to this [line](https://github.com/react-materialize/react-materialize/blob/master/src/TextInput.js#L79), no value prop has passed to the inner input tag.

take a look at this example:
https://codesandbox.io/s/xj74z0x51q

[2019-03-29 13:39] alextrastero commented on #792
What are you trying to achieve? As far as I know a controlled input is one which can receive a value via props. In your example, I can type something in the input field and it's getting populated via state.
![Screen Shot 2019-03-29 at 2 38 43 PM](https://user-images.githubusercontent.com/4152819/55236527-6e109880-5230-11e9-9b3a-93d8d733a51f.png)

[2019-03-29 13:43] alextrastero commented on #778
Any luck @ropali? I'm going to close, please reopen if this issue remains, thx

[2019-03-29 13:43] #778 closed

[2019-03-29 13:48] alextrastero commented on #612
This is fixed in `react-materialize@3.x`

[2019-03-29 13:48] alextrastero commented on #399
I just checked, this is fixed in `react-materialize@3.x`

[2019-03-29 14:09] LucaProgrammer commented on #793
@alextrastero Yhea,
I want to add a "close" icon, and when I click it, the input should be emptied.

[2019-03-29 14:28] alextrastero commented on #792
I've figured out your issue, i'm looking into it @MSharifi78

[2019-03-29 17:55] jamesmart77 opened #796 "Old Documentation"
### Is v2.6.0 Gone?

Our team really enjoys using this library. We are in the middle of building an application on v2.6.0 but can't find any of the old version documentation. Is only v3.0.0 documentation available now?

If so, is there any way to make the old documentation available again? To not have that all of a sudden is going to cause a lot of rework for your users :(

Thanks for all your wor

[2019-03-29 18:37] MSharifi78 commented on #792
Thank you,
I open a PR if you want take a look at it😉

[2019-03-29 19:44] jamesmart77 opened #798 "Assigning ClassNames Seems to Overwrite Materialize Classes"
### Description

For the TextArea component, when we add classNames it only takes the custom classes we are providing and does not append them to the Materialize css...it simply overwrites Materialize. In v2.6.0 the React Materialize library would append our custom css, but the v3.0.0 is not behaving this way.

### Steps to Reproduce

1. <TextArea className: 'somethingCustom' />
2. Load component

[2019-03-29 21:12] ivofrancisco commented on #612
Ok
Thank you very much.
Best regards
Ivo

Alexander Odell <notifications@github.com> escreveu no dia sexta,
29/03/2019 à(s) 13:48:

[2019-04-01 17:05] onluiz commented on #796
As a temporary solution I deployed old docs here: https://onluiz.github.io/react-materialize-docs/index.html#/

[2019-04-01 17:06] onluiz commented on #798
@alextrastero, if it is a bug can I give a try?

[2019-04-02 08:00] alextrastero commented on #796
Thanks @onluiz!

@jamesmart77 `materialize-css` still has access to the old docs and this library is just a wrapper, so all the info you need is either in the `propTypes` of each component or in the `materialize-css` docs. Sorry for any inconvenience we might of caused :)

[2019-04-02 08:00] #796 closed

[2019-04-02 08:13] alextrastero commented on #798
Thanks for reporting this @jamesmart77, yes please @onluiz :)

[2019-04-02 09:34] Rober19 opened #801 "Problem using react-materialize with typescript"
### Description

Problem using react-materialize with typescript

### Steps to Reproduce

it's produced when I import it.
![image](https://user-images.githubusercontent.com/28882108/55391994-098b5d00-5500-11e9-88ba-b97c4691142a.png)

**Expected behavior:** Let me import

**Actual behavior:** Error in Image

### Versions

**react-materialize:** 3.0.3
**materialize-css:** 1.0.0
**react:** 16.8.6

##

[2019-04-02 09:56] alextrastero commented on #801
Is this a bug for this project? Seems not, can you give us more info?

[2019-04-02 09:57] alextrastero commented on #793
Proposed solution would be for `icon` prop to also allow a node, then you could attach the click handler to this node.

[2019-04-02 10:18] Rober19 commented on #801
Don't worry, I solved using `  const { Modal } = require('react-materialize');`
**This is only feedback**

[2019-04-02 10:19] alextrastero commented on #801
Ah cool, thanks

[2019-04-02 10:19] #801 closed

[2019-04-02 17:47] CloudPower97 commented on #527
Hey, @usrivastava91 , any updates on this? :smile:

[2019-04-04 07:54] uiktiomasfeliz opened #811 "Select does not put my data attribute into UL"
### Description

The Select component does not work correctly with dynamic data.

![image](https://user-images.githubusercontent.com/5663564/55538689-4e112700-56bf-11e9-82e0-06fed856612c.png)

### Versions

**react-materialize:** 3.0.3
**materialize-css:** 1.0.0
**react:** 16.8.6

#### Thanks for helping out!

[2019-04-04 08:27] alextrastero commented on #811
Thanks for this, can you paste a code sample for me to test?

[2019-04-04 10:01] uiktiomasfeliz commented on #811
Here is an example similar to what I have in the project: [https://repl.it/repls/CostlyDishonestLanguage](https://repl.it/repls/CostlyDishonestLanguage)

[2019-04-04 19:39] rjkz808 opened #817 "Write TypeScript declaration files"
### Description

It could be a great feature if `.d.ts` files would be written for this library I think.

[2019-04-05 12:21] alextrastero commented on #817
I'm afraid this is not currently in our roadmap, too many unknowns.

[2019-04-05 12:21] #817 closed

[2019-04-07 23:48] jamesmart77 commented on #798
Thanks @onluiz for helping out with this! Saw this was included in a pull request and was wondering how this fix was going?

[2019-04-09 17:06] seifsg opened #818 "Modal generates extra div along with trigger button"
### Description

Making a modal requires a trigger button as shown in the documentation.
However, it renders not only the button but also wrapped in a div.
We do not have the option to get rid of that div and going around could be a bit of extra work especially in React.
We don't want to use JS to select it and remove it.

So can you please give the option to disable that div wrapper?

Thank you

[2019-04-10 07:15] alextrastero opened #819 "dismissible flag for Modals doesn't seem to work"
From gitter chat

[2019-04-12 03:39] ratstache commented on #273
This is still happening in react-materialize3.x

[2019-04-12 13:48] jamesmart77 commented on #798
@onluiz @alextrastero any update on this? I can see release 3.0.4 #815 includes fix: Textarea now correctly handles layout classes. We just pulled down this update but are still seeing the same bug as before with the TextArea component.

**How we are using the Component**
![image](https://user-images.githubusercontent.com/29242164/56041936-ecc50580-5d07-11e9-93f5-1117b1a3c02e.png)

**UI Rendering*

[2019-04-12 15:04] alextrastero commented on #798
True, that wasn't merged yet, try `3.0.5`, it should work

[2019-04-12 15:04] #798 closed

[2019-04-15 15:40] jamesmart77 opened #823 "Select / Deselect Checkboxes Not Updating In React"
### Select / Deselect Checkboxes Not Updating In React

We have a React component that lists checkboxes with user names. At the top of the list is a Select and Deselect All button. We have validated that our Redux store is updating and returning the appropriate props to the component so it should re-render the checkbox list either selected or deselected accordingly. The issue though is that each c

[2019-04-15 17:11] CloudPower97 commented on #792
@alextrastero I'm having the same issue.
I can confirm that @MSharifi78 P.R fixes this.
His build is failing just because of `prettier`.
ATM I had to copy&paste his changes into my codebase in order to make things works right.

[2019-04-16 05:55] TusharFork opened #826 "i am facing issue in spfx webpart with react-bootstrap"
### Description

[Description of the issue]

### Steps to Reproduce

1. Create spfx webpart
2. npm install react-bootstrap
3. gulp serve

### Versions
This is my package.json file
{
  "name": "employee-exit-process",
  "version": "0.0.1",
  "private": true,
  "engines": {
    "node": ">=0.10.0"
  },
  "scripts": {
    "build": "gulp bundle",
    "clean": "gulp clean",
    "test": "gulp test"
  },

[2019-04-16 19:31] CloudPower97 commented on #826
Hey, @TusharFork , I do not see how we can help you here.
It seems you are not even using `react-materialize`.

[2019-04-17 04:50] bflickinger commented on #374
@AwaMelvine You the real hero, thanks.

[2019-04-17 07:15] alextrastero opened #828 "Chip handlers missing data"
### When adding items to `Chip tag`, there should be some way to use this data for example in a form/callback.

[Description of the issue]

### Steps to Reproduce

1. Create a Chip tag component
2. Add any of the following handlers to `options`:
[code]
3. Value passed is the node, no the data which is inaccessible

Ideally we could overwrite/extend the callbacks to include either the js instance o

[2019-04-17 07:15] alextrastero commented on #828
Related issue #90

[2019-04-17 07:23] alextrastero opened #829 "Navbar with brand no margin"
Steps to reproduce:
[code]

Brand is taking same space as first menu item:
![Screen Shot 2019-04-17 at 9 22 02 AM](https://user-images.githubusercontent.com/4152819/56268764-74d55180-60f2-11e9-9bb9-ffd21c591e8e.png)

Expected: some margin to be applied if brand is there? how does materialize.css handle this

[2019-04-17 07:38] alextrastero commented on #826
Closing for now, reopen if this issue is related to this project :)

[2019-04-17 07:38] #826 closed

[2019-04-17 10:17] CloudPower97 commented on #811
@uiktiomasfeliz This should be fixed with `3.1.0`

[2019-04-17 10:19] CloudPower97 commented on #793
@alextrastero The proposed solution would also allow us to use _Material Design Icons_ or any other custom Icon, as discussed in #674

[2019-04-17 10:22] CloudPower97 commented on #823
@jamesmart77 This should be fixed in version `3.1.0`

[2019-04-17 10:31] CloudPower97 commented on #819
@alextrastero can't reproduce the bug
[![Edit zq85km4zw3](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/zq85km4zw3?fontsize=14)

[2019-04-17 13:31] jamesmart77 commented on #823
@CloudPower97
Excited to try out this fix, but looks like there's an import directory reference error in src/Navbar.js

Please change line 5 in src/Navbar.js to `import TextInput from './TextInput';` I tried to submit a pull request but received a 403 on the branch push.

The problem seems to be that in the npm package the lib/Navbar.js file is pointing to a non-existent src directory.

Line 16 in

[2019-04-17 18:31] CloudPower97 commented on #823
@jamesmart77 Yep. Noticed this error earlier today; I already have a branch ready for that.
Thank you for reporting this.

Anyway, to avoid `403` have a look [here](https://github.com/react-materialize/react-materialize/blob/master/.github/CONTRIBUTING.md)

[2019-04-17 18:55] sboopal opened #833 "Select not updating dynamically"
### Description

Second select is not updating based on the first select. Using react-materialize component

### Steps to Reproduce

i have two selects in my form and when i change values in the first select it should automatically populate the inputs for my second select. I was able to achieve this but the problem is that my UI is not showing the new inputs for second select. When i inspect i see

[2019-04-17 19:29] CloudPower97 commented on #833
Hey @sboopal , there was already #811 .
It's been fixed with #822 and released in version `3.1.0`
Anyway, DO NOT update just yet, as we have a problem that will be fixed soon with #832

[2019-04-17 20:32] sboopal commented on #833
ok thanks for the update. Is my code looks good or any changes needed?

[2019-04-18 17:21] JGrishey opened #836 "Not checking for existence of `M` correctly"
https://github.com/react-materialize/react-materialize/blob/33aec145e6ad6578d927cab48a4e3240b995d7a2/src/Button.js#L16

This code should be:

[code]

Ran into this while using Jest to test React components.

[2019-04-18 17:24] JGrishey opened #837 "Relative import path breaking upon transpiling"
https://github.com/react-materialize/react-materialize/blob/33aec145e6ad6578d927cab48a4e3240b995d7a2/src/Navbar.js#L5

This should be:

[code]

Causing issues when using through NPM, because the components get recompiled into the `react-materialize/lib` directory and there is no `src` directory.

Thanks!

[2019-04-18 18:26] CloudPower97 commented on #837
There already is #832

[2019-04-19 18:11] Byte-666 opened #838 "Module not found: Can't resolve '../src/TextInput'"
### Description

I'm having a problem when compiling using create-react-app --typescript.

### Steps to Reproduce

Importing the component and compiling:
```import { Navbar, NavItem, Divider, Dropdown } from "react-materialize" ```

The culprit changeset.
https://github.com/react-materialize/react-materialize/commit/36dc32f4591d485bdba9544547e06529dbf96399

**Expected behavior:**
No compile error

[2019-04-19 18:45] paolospag commented on #838
I have the same problem.
No typescript

[2019-04-19 19:19] CloudPower97 commented on #838
@Byte-666 @paolospag this is fixed with #832 .
Duplicate of #837

[2019-04-19 20:26] alextrastero commented on #838
Thanks for reporting this @Byte-666 @paolospag and sorry for the trouble.
@CloudPower97 thanks for the proposal, we sure need to give this a thought, maybe a small integration test with puppeteer or similar...

[2019-04-19 20:28] #838 closed

[2019-04-19 20:56] CloudPower97 commented on #838
@alextrastero I've found a solution, have a look at #832

[2019-04-20 07:55] alextrastero commented on #833
Closing for now, let me know if this is still an issue :)

[2019-04-20 07:55] #833 closed

[2019-04-20 07:55] #793 closed

[2019-04-20 07:55] #818 closed

[2019-04-20 07:55] #823 closed

[2019-04-20 08:04] alextrastero commented on #837
Sorry for the trouble, this is now fixed

[2019-04-20 08:04] #837 closed

[2019-04-20 08:05] alextrastero commented on #836
True!

[2019-04-20 08:05] alextrastero commented on #836
Maybe a good opportunity to check that all components that require `M` have the same syntax.

[2019-04-20 08:11] alextrastero commented on #819
True, this works fine, thanks for checking :)

[2019-04-20 08:11] #819 closed

[2019-04-20 08:11] alextrastero commented on #811
Closing, please let us know if it's not fixed :)

[2019-04-20 08:11] #811 closed

[2019-04-21 23:36] Dadarkp3 opened #841 "ReferenceError: M is not defined"
### Description
Having some problems with the react-materialize while creating the project with create-react-app, follow the documentation, but nothing works.

### Steps to Reproduce

1. Create a project with create-react-app with typescript
2. Normal react-materialize install
3. Add the CSS and js from materialize-css in the index.html located in the public file
4. Fix the issue of the types addi

[2019-04-21 23:50] CloudPower97 commented on #841
It means that `materialize-css` was not imported correctly.
This relates to #836.  @alextrastero At this point, we should check all components that require `M`.

[2019-04-22 08:48] uiktiomasfeliz commented on #811
Hello, sorry for the delay, I updated to the latest version and the bug has not been solved, I leave the link of the demo: [https://repl.it/repls/PossibleRadiantTrace](https://repl.it/repls/PossibleRadiantTrace)

[2019-04-22 15:07] garwedgess opened #842 "Could not find a declaration file for module 'react-materialize'"
### Description
I'm updating react-materialize from an older version. But I'm having issues explained below. Note that I am not using TypeScript.

IDE reports:

When running the app the browser reports:

Which I'm guessing is because react-materialize module is not found?

### Steps to Reproduce

1. run create-react-app
2. npm install materialize-react
3. add materialize-css dependnecies to public

[2019-04-22 16:07] bbeesley commented on #836
Created a PR to add the undefined check on all components that were missing it.

[2019-04-22 17:43] CloudPower97 commented on #842
Please, ensure that you are using `react-materialize` and not `materialize-react`.
Can you share a snippet of your `React` code? Which component are you trying to use?

[2019-04-22 21:34] CloudPower97 commented on #811
@uiktiomasfeliz You are right, #822 has not been merged as of now.
I'll work on it ASAP, hopefully it will be merged in the next release.
Thanks for the feedback. :blush:

[2019-04-24 12:35] jamesmart77 opened #845 "Chip onClick Removed"
### React Materialize v3.0.0 Chip onClick No Longer Exists

The newest release of this library no longer supports the onClick parameter for the Chip component. This change in support is a bit surprising given the restrictions this imposes upon users. Is there any possibility of getting this function supported again?

### Versions

**react-materialize:** 3.1.1
**materialize-css:** 1.0.0
**react:**

[2019-04-24 18:33] masonjwhite commented on #792
Hey @alextrastero! Any update on merging of @MSharifi78's most recent pull request? This is a major breaking change in one of the corporate applications I support. Thanks so much!

[2019-04-25 15:35] sboopal commented on #833
is the fix for this has been added?

[2019-04-26 10:31] EuniceB opened #846 "Button component - docs unclear/wrong"
### Description

I wanted to add a floating button on the bottom right corner of the page, so I checked the documentation and it says that the fab option takes an object like this:
[code]
so I tried to add this to my code:
[code]
but the compiler says it's not valid:

I checked other people's examples and found out that it should actually be like this:
[code]
which has nothing to do with what is o

[2019-04-26 10:49] EuniceB commented on #846
Also, I noticed that using the fab option gets me this error on the console:

[2019-04-26 11:00] #792 closed

[2019-04-26 11:08] alextrastero commented on #792
`3.2.0` :)

[2019-04-26 11:11] CloudPower97 commented on #846
@EuniceB Other people's examples are coming from version 2.5.0 and backwards.
From version 3.x.x the correct `prop` for `Button` is a `boolean` or an `object` with this shape:
[code]

This `Syntax error: Unexpected token, expected "}" (16:25)` is because you have to enclose the `object` in another pairs of curly brackets:

[code]

I've created a box, you can experiment with it here.

[![Edit q7k8w

[2019-04-26 11:12] CloudPower97 commented on #845
@jamesmart77 Which version are you coming from?

[2019-04-26 11:12] alextrastero commented on #841
This is related to how you import materialize-css.js asset, let us know if you can't solve this

[2019-04-26 11:12] #841 closed

[2019-04-26 11:13] #836 closed

[2019-04-26 13:22] masonjwhite commented on #792
Thanks Alex! Appreciate the quick response!

[2019-04-26 13:23] masonjwhite commented on #845
Hey @CloudPower97 we're coming from 2.6. (I work with @jamesmart77.

[2019-04-26 13:56] CloudPower97 commented on #845
@masonjwhite @jamesmart77 This issue should be fixed with #848 :smile:

[2019-04-26 14:02] CloudPower97 commented on #674
Hey, @alextrastero, I think we can make any `icon` `prop` a `node` and not using `Icon` component ourselves in other components of `react-materialize`.
If the user wants, he can use the component shipped with `react-materialize`, otherwise he is able to use anythings he wants, like [`Material Design Icons for React`](https://github.com/levrik/mdi-react).

This is the same approach used in #793 .

[2019-04-26 17:29] masonjwhite commented on #845
Thanks @CloudPower97! Appreciate the quick response.

[2019-04-26 17:38] garwedgess commented on #842
Sorry, it was actually a mistake on my side. I was using a component which doesn't exist from v2.x -> v3.x. Thanks for the input.

[2019-04-26 17:38] #842 closed

[2019-04-29 11:31] EuniceB commented on #846
Thank you for your help :)

[2019-04-29 11:31] #846 closed

[2019-04-29 19:46] garwedgess opened #853 "Select - name attribute ignored"
### Description
When using the Select component with a name attribute, the attribute is ignored. This makes it impossible to know which select input value has changed as I have a handler for all inputs which relies on the name attribute.

### Steps to Reproduce

[code]

**Expected behavior:**
Able to get the target name.

**Actual behavior:**
target name is empty

### Versions

**react-materialize

[2019-04-30 12:04] AelinGalathynius opened #854 "Checkbox checked state is not drawn on load"
### Description

I got some checkboxes on my page which display an activated state for accounts.
The activated state is stored in a database, so on load we already know what checkbox state every checkbox has, but they all appear empty

### Steps to Reproduce

1. Initialize checkbox with "checked={true}"
2. load page

`<Checkbox
						name={"active"}
						label={""}
						aria-label={i18next.t('ac

[2019-04-30 14:22] CloudPower97 commented on #853
Hi @garwedgess, I'm not 100% sure but it seems that this is the way `materialize-css` works.
Have a look at [this question](https://stackoverflow.com/questions/39130659/materialize-css-select-does-not-have-name-nor-proper-value-in-dom) on `Stack Overflow`.

I do not think we should handle this as a `bug`.

What do you think, @alextrastero ?

[2019-04-30 15:11] jamesmart77 commented on #854
Looks like this was broken again because this was a problem a couple weeks ago...

https://github.com/react-materialize/react-materialize/issues/823

[2019-04-30 16:01] CloudPower97 commented on #854
Hey @jamesmart77, I've already made #855.
This _should_ never be broken again from now on, as I've added a new `spec` to check if the `Checkbox` is checked when the respective `prop` is used.
I think that it has been broken by #809.

Sorry for the trouble :grin:

[2019-04-30 17:24] garwedgess commented on #853
Thanks for the reply @CloudPower97

I have attached an image of the generated HTML when using **just** materialize-css with the name attribute on the select element.

![select-css](https://user-images.githubusercontent.com/1971497/56980653-ce1e9580-6b74-11e9-8c03-48881cef9300.PNG)

Compared to the generated HTML from react-materialize:

![select](https://user-images.githubusercontent.com/1971497/5

[2019-05-01 15:19] #854 closed

[2019-05-01 15:26] jamesmart77 commented on #854
Thanks @CloudPower97! Is there a spec to check this for all appropriate components? We may be seeing similar behavior with radio buttons as well

 ![bitmoji](https://render.bitstrips.com/v2/cpanel/bcf24f22-8d36-43ef-af97-098d9a4c1423-1130e0d1-7aee-4853-bc4f-193d9ff81820-v1.png?transparent=1&palette=1&width=246)

[2019-05-01 16:40] CloudPower97 commented on #854
Hey @jamesmart77, just checked `RadioGroup` component, it seems everything is working.
Anyway, if you still have problem you can open a new issue

[2019-05-05 13:58] alextrastero commented on #853
True, we don't pass `...other` props to the select

[2019-05-05 14:02] #853 closed

[2019-05-05 16:40] brlnr23 opened #860 "Switch does not handle attribute updates"
### Description

The Switch component can be used perfectly, when it is clicked directly. The lever will toggle as expected. But in case that the switch is toggled via a different component (e.g. two switches share the same state) the "not-clicked" lever does not updated - although the checked attribute changes correctly in the DOM.

### Steps to Reproduce

1. click on one of the Switches - only t

[2019-05-07 14:44] babscomoglio opened #862 "stops scrolling after close modal"
### Description

[Description of the issue]

### Steps to Reproduce

1. access: http://react-materialize.github.io/react-materialize/?path=/story/javascript-modal--default
2. Click on 'Modal'
3. Do not close the modal
4. Select from the side nav:React Materialize > Welcome

**Expected behavior:**
You will expect to be able to scroll inside the <body class="sb-show-main">

**Actual behavior:**
Scro

[2019-05-07 15:28] alextrastero commented on #862
Good catch, I think this is just the way storybook navigates to other components. I don't think it's an actual component bug though

[2019-05-07 15:36] babscomoglio commented on #862
Hi, thanks for your reply.
I added the component to on of my project and the bug its there too :/

[2019-05-07 15:43] alextrastero commented on #862
👍 will look into this

[2019-05-08 08:19] alextrastero commented on #862
Can't reproduce, does your project use react-router for navigation?

[2019-05-08 08:33] babscomoglio commented on #862
I am using react-router-dom

In my project I reproduce the error this way:

1) from the home page I click a button to take me to page 1
2) In page 1, I open a modal but I do NOT close it
3) I go back to the home page, using the back browser button.
4) I again click the button to take me to page 1
5) I open the modal, then I close it.
6) Page 1 won't scroll anymore.

Inspecting the code, it doesn't

[2019-05-08 09:11] #845 closed

[2019-05-08 09:40] babscomoglio commented on #862
Hi @alextrastero
I created a repo to replicate the issue.

https://github.com/babscomoglio/react-materialize-modal-issues

Hope it helps.

To reproduce the error:

### Option 1
1) from http://localhost:3000/ click on 'go to page One'
2) in http://localhost:3000/pageone, see that content scrolls. Open modal, do not close
3) Press button 'back to Home'
4) from http://localhost:3000/ click on 'go to

[2019-05-08 09:51] CloudPower97 commented on #862
Trying to reproduce the bug, I might have found another one. When I open a modal and then I use the back button of the browser, the modal doesn't close.

[2019-05-08 11:06] alextrastero commented on #862
Would be interesting to see if this is our bug or a general materialize.css bug

[2019-05-08 14:21] CloudPower97 commented on #833
@sboopal It does indeed works from version 3.2.0 onwards.
I've created a simple sandbox so you can check it out yourself:
[![Edit 90j3mv74w](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/90j3mv74w?fontsize=14)

[2019-05-08 14:34] CloudPower97 commented on #862
@alextrastero I think I was able to fix both issues, will open a __P.R__ soon.

[2019-05-08 15:35] sboopal commented on #833
@CloudPower97 it is not working with my project. when I select one of the dropdowns I need the other drop down to update based on the first one. as i have mentioned in the issue second drop down is updating but the UI is not showing the actual value rather it is showing the old values. but if we select the dropdown value will update to the correct one but the dropdown will still reflect old values

[2019-05-08 16:36] CloudPower97 opened #866 "Dropping Icon component"
Hey, @alextrastero, I think we can make any icon `prop` a `node` and dont use `Icon` component ourselves in other components of `react-materialize`.
If the user wants, he can use the component shipped with `react-materialize`, otherwise he is able to use anythings he wants, like _Material Design Icons for React_.

This is the same approach used in #793 .

Let me know if this is ok for you, I'd lik

[2019-05-08 17:08] CloudPower97 opened #867 "Modal: change header prop to node"
Hey @alextrastero, what do you think if we use a `node` instead of a `string` as a `header` `prop` for the `Modal`?
This allow for greater flexibility, for example one can use a `span` or insert an `Icon` in the `Header` or anything really
Let me know what do you think, so I can open a __P.R__ in case :smile:

[2019-05-11 11:53] CloudPower97 commented on #833
@sboopal You are not even using `react-materialize`. Please check my example and the [docs](http://react-materialize.github.io/react-materialize/).

[2019-05-13 20:38] louishugens opened #868 "Sidenav: ReferenceError: $ is not defined"
Implementation of Sidenav is not working with the following error: ×
ReferenceError: $ is not defined

[2019-05-14 13:19] CloudPower97 commented on #868
It seems you are using a version prior to `react-materialize` 3.0.0, which has a dependency of `jQuery` that you need to bundle yourself.

[2019-05-14 15:01] #868 closed

[2019-05-16 17:56] Tames12 opened #870 "defaultDate doesn't work properly"
Hi, When I define the defaultDate prop to the component using a state.date doesn't look to work correctly.

 I got the next:

`<DatePicker options={{
defaultDate: new Date(this.state.myDate),
setDefaultDate: true,
format: 'MM-DD-YYYY'
}} />`

but when the picker is opened my date is not defined.

Unlike if I define the next:

`<DatePicker options={{
defaultDate: new Date('2018-10-20'),
setDefaultD

[2019-05-16 19:13] CloudPower97 commented on #870
I've create a sample sandbox to test the behavior and it seems to work:

[![Edit wonderful-mendel-hkzl4](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/wonderful-mendel-hkzl4?fontsize=14)

What does not work is doing something like this (taking into account the previous sandbox code)

[code]

[2019-05-16 21:56] Tames12 commented on #870
which browser are you using ?
![image](https://user-images.githubusercontent.com/32028322/57889756-dae8ed80-77f2-11e9-94ae-398ccea9d55d.png)

open your example I just see the format, even when I change the date the only thing I see is the format literally.

[2019-05-16 21:59] Tames12 commented on #870
I see your example but the only thing I see is the format value, even if I change the date just the format (literally) is visible.

![image](https://user-images.githubusercontent.com/32028322/57889998-96118680-77f3-11e9-8b8b-733749d7db28.png)

[2019-05-17 10:56] alextrastero commented on #870
I'm also seeing just the format

[2019-05-17 10:59] alextrastero commented on #867
👍 great idea, `node` could also just be a string to remain backwards compatible?

[2019-05-17 11:03] alextrastero commented on #866
Nice, we could also limit it a bit, of course it's good that components can handle multiple situations and edge cases but I would vote to only allow `icon` prop to be a `node`.

[2019-05-17 13:52] #862 closed

[2019-05-17 13:53] alextrastero commented on #862
Let us know if it's still happening @babscomoglio :)

[2019-05-17 13:55] #860 closed

[2019-05-17 17:03] CloudPower97 commented on #866
Yep, It definitely need to be a `node` and nothing else.
Alright then, I'll be working on this ASAP :man_technologist:

[2019-05-17 17:31] CloudPower97 commented on #870
@Tames12 Sorry, I thought you was referring to the date selected once the picker is open, which works correctly.
The behavior is the expected one, it seems that this is how `materialize-css` works.

[2019-05-17 17:33] CloudPower97 commented on #867
Not sure, but we can get away with it doing that:

[code]

[2019-05-22 10:49] DOLAN-STAP opened #872 "Problem with the navbar and sideDrawer, how can I make an item stay in the navBar and how to have an item that ? is only in the sideDrawer"
### Description

I want to make the Dropdown stay in the NavBar on the right of the title once the page is on "mobile mode" and I want the logo to only appear in the sideDrawer on "mobile mode"

### Code

`<Navbar brand={<a href="/" >AMAMIAGE</a>}  alignLinks="right">`
`      <a className="noclick" ><img src="/logo.png" className="logo" /></a>`
`      <Divider/>`
`      <NavItem href="/annonce" cl

[2019-05-25 10:42] luminkhant opened #873 "Side nav not being triggered."
I am using side nav as below and side nav is not being triggered.

`<SideNav
                            trigger={<Button/>}
                            options={{closeOnClick: true}}>
                            <SideNavItem userView user={{
                                background: 'https://placeimg.com/640/480/tech',
                                image: 'static/media/react-materialize-logo.

[2019-05-28 10:39] alextrastero commented on #873
Can you use any other materialize JS components? Are there any errors in the console?

[2019-05-31 09:44] luminkhant commented on #873
There is no error in console. And I am thinking about to use other react components. @alextrastero

[2019-05-31 17:11] alextrastero commented on #873
![works](https://user-images.githubusercontent.com/4152819/58722472-c94d3b80-83d7-11e9-9e0b-259a277f1556.gif)

 Works for me @luminkhant, you must have another issue

[2019-05-31 17:11] #873 closed

[2019-05-31 17:12] alextrastero commented on #867
Looks good, go for it @CloudPower97 :)

[2019-05-31 17:16] alextrastero commented on #866
👍

[2019-06-01 14:50] luminkhant commented on #873
Yes, it is perfectly working on my computer web. But when i use it with my phone (iphone 7 & Mi A2), the side bar is not being triggered. Could you please test it with mobile phone ? @alextrastero

[2019-06-05 00:28] tm1000 opened #876 "Using id prop in dropdown(s) inside of navbar causes dropdowns to not function"
### Description

When utilizing Navar items with dropdowns and defining the dropdown ids through prop.id the dropdowns fail to render (well... they DO render but...). This only happens with custom ids, when you let the generator randomly generate ids there is no issue

The issue is that the rendered dropdowns are cloned into the navbar and into the sidenav this causes id conflicts and so react doe

[2019-06-05 10:11] alextrastero commented on #873
Works fine on my phone too, can you submit a repo where I can test?

[2019-06-07 00:35] tm1000 opened #880 "Calling createRoot in constructor of Modal causes SSR applications to fail"
### Description

Issue is with the calling of createRoot in Modal.jsx. It happens in the constructor on line 13 https://github.com/react-materialize/react-materialize/blob/master/src/Modal.js#L13

For SSR (server side rendering) applications createRoot can't be called because document does not exist. Thus it must be called inside of componentDidMount instead. Looking over this visually it doesn't

[2019-06-13 14:32] masonjwhite opened #882 "Radio Button does not re-render when given a value"
### Description

Hey folks. We are using a radio button in a custom survey application. The value for said radio button is being provided via a redux store.

As we update the redux store (once a user clicks a radio button), and the user moves onto the next question (with a new default value coming in from state), the radio button is not re-rendering to account for the new value.

Upon inspection o

[2019-06-24 10:40] CrazyAdmin commented on #817
Please Add .d.ts file !!!!

[2019-06-24 17:08] alextrastero commented on #817
PR's welcome @CrazyAdmin

[2019-06-27 16:52] masonjwhite commented on #882
Is there any update on this?

[2019-07-02 22:11] djordjijem opened #885 "Site doesn't work"
Hi, since today http://react-materialize.github.io/react-materialize/ doesn't work. It trows 404

[2019-07-03 06:56] #885 closed

[2019-07-04 00:30] wnotmatter opened #888 "FABs in Cards couldn't to set"
### Couldn't to set a floating button in a card.

 I would like to set a floating button in a card, but when I try to set a button element in prop "reveal" or adding before or after inner the prop "header" or like children of card, it apper in bottom of card, not between header and body.

The code:
**Setting the button on prop "header"**
[code]
**Setting the button in prop "reveal"**
[code]

### V

[2019-07-10 23:34] igormcampos opened #889 "Update carousel items"
### Description

I want to update the data of the carousel dinamically based on Redux state changes.

The code I have is the following:

[code]
`cards` is a map of custom `Card` components initialized using a prop that comes from Redux `mapStateToProps`.

One of them:
[code]

**Expected behavior:**
1. I wanted the carousel to update when I remove and add items from the Redux state that controls th

[2019-07-26 18:20] ekoarr opened #892 "cannot get value from select onChange function"
I am trying to get the value from the select drop down through onChange function but it gives me an error `TypeError: Cannot read property 'value' of undefined`. Does anyone know how to fix this?

[code]
[code]

event.target

[code]

### Versions

 "react-materialize": "^3.3.3",
 "materialize-css": "^1.0.0",
 "react": "^16.8.6",

#### Thanks for helping out!

[2019-08-04 07:14] #892 closed

[2019-08-05 14:40] Giuseppe98PG opened #897 "Autocomplete doesn't work"
### Description

Autocomplete doesn't work

### Steps to Reproduce

1. Install React-Materialize
2. Import Autocomplete from 'react-materialize'
3. Copy and paste this example http://react-materialize.github.io/react-materialize/?path=/story/javascript-autocomplete--default

**Expected behavior:** The autocomplete now should work but it doesn't

**Actual behavior:** The SPA crashes or the autocomp

[2019-08-09 00:34] victorw999 commented on #870
**format should be lowercase**
format: "mm-dd-yyyy"
[Date format options](https://materializecss.com/pickers.html)

https://codesandbox.io/s/winter-silence-97yg9

[2019-08-13 10:51] alextrastero commented on #870
Thanks @victorw999, good catch, closing this then

[2019-08-13 10:51] #870 closed

[2019-08-13 10:52] alextrastero commented on #897
Are we sure that `materialize-css` javascript is being included? Does any other js component work or only Autocomplete fails?

[2019-08-22 04:58] prag-onlineshop commented on #897
Me too, having a problem in AutoComplete
error: Autocomplete expected '}' inside options
but i only copy what said here:
http://react-materialize.github.io/react-materialize/?path=/story/javascript-autocomplete--default

React: 16.5.2
react-materialize: 3.3.4
materialize-css: 1.0.0

[2019-08-27 22:21] withinset opened #898 "SideNav issue when making its parent element nav (header) sticky"
Having a parent` nav className="navWrapper"` element with a `SideNav` component (example from the docs), I've added a class sticky-top class (position: sticky;top: 0;) to `nav`. It does do what expected when scrolling vertically (the nav does not scroll passed to top).
However, once triggered and visible the sidenav is under the grayed overlayed, which makes links in it impossible to click.
I trie

[2019-08-29 08:16] alextrastero commented on #898
Could you supply a `codesandbox` example or some same code to test this?

[2019-08-31 07:40] madnight commented on #897
I can confirm that problem. It think it should be labeled "bug" instead of "question".

[2019-08-31 09:50] alextrastero commented on #897
I have just tried with this sample and it works as expected.
`<Autocomplete options={{data: {'Gus Fring': null,'Saul Goodman': null,'Tuco Salamanca': 'https://placehold.it/250x250'}}} placeholder="Insert here" />`

Can you paste a code sample?

[2019-08-31 09:50] alextrastero commented on #897
![Screen Shot 2019-08-31 at 11 50 43 AM](https://user-images.githubusercontent.com/4152819/64062350-950b3600-cbe5-11e9-99e2-8acd35991f2b.png)

[2019-08-31 09:52] #876 closed

[2019-09-05 19:34] CloudPower97 opened #901 "CollapsibleItem ignoring expand prop"
### Description

It seems that the `Collapsible` component can't be expanded arbitrarly.
You can find an example on [CodeSandbox](https://codesandbox.io/s/laughing-beaver-jine7), because an **mcve** is worth a thousand word.

**Expected behavior:** I expect the `CollapsibleItem` to `expand` to my will

**Actual behavior:** The `CollapsibleItem` seems to ignore the `expanded` `prop`. It does take c

[2019-09-05 19:56] CloudPower97 opened #902 "Use Compound Component technique"
Hey @alextrastero,
just wanted to know if it's OK for you to use the `Compound Component` technique.
I think that it will improve a lot some of the components we actually have.
For example `Tabs`, `Collapsible`, `Collection` just to name a few would benefit the most.

Just to give you a quick peek of what this could mean for `react-materialize`:

[code]

[code]

Let me know your thoughts.

[2019-09-06 08:02] alextrastero commented on #902
Yes, that sounds like a great idea. Wanna prepare a sample for one component to see what the diff would look like?

[2019-09-06 08:07] alextrastero commented on #901
The reason for this is that `Collapsible` handles the state and is responsible for activate/deactivate children.

For your example to work we would need `Collapsible` to listen to `componentDidUpdate` when updating the prop `defaultActiveKey`.

[2019-09-09 14:49] jmario1236 opened #905 "Button show icon edit"
### Description

Hi, I have a problem with button component, the icon button set default icon edit on linux mint machine

### Steps to Reproduce

1. Go to [index react materialize](http://react-materialize.github.io/react-materialize/?path=/story/react-materialize--welcome)
2.
![](https://i.imgur.com/N9npNos.png)
![](https://i.imgur.com/F8EUsqr.png)
![](https://i.imgur.com/CQFuE6i.png)
![](https:/

[2019-09-09 14:59] alextrastero commented on #905
@jmario1236 why is this closed? Thanks for catching this, it's an actual error that's just been introduced https://github.com/react-materialize/react-materialize/pull/890

[2019-09-09 15:07] #905 closed

[2019-09-09 15:14] CloudPower97 commented on #905
@alextrastero Sorry for that, I missed that as well :frowning:

[2019-09-09 15:26] alextrastero commented on #905
No problem, can happen :)

[2019-09-09 20:39] CloudPower97 commented on #867
Hey @alextrastero, I'm going to close this issue as it has been resolved by #890 :100:

[2019-09-09 20:39] #867 closed

[2019-09-09 20:39] #866 closed

[2019-09-09 20:42] CloudPower97 commented on #829
Hey @alextrastero, I think we can close this issue as #799 was superseded by #878 :)

[2019-09-09 21:24] CloudPower97 commented on #897
Hey @alextrastero, testing this I've found that when providing dynamic `data` the `Autocomplete` didn't update itself with the new `data` provided in the `options` `prop`.

[2019-09-12 07:22] srthapa927 opened #908 "Select element with icon throwing error"
![Screenshot (5)](https://user-images.githubusercontent.com/26339586/64762885-ad247300-d55e-11e9-9ae2-3be63cf80b46.png)
### Description

While using Select element with icon it throws `Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined.`
### Steps to Reproduce

http://react-materialize.github.io/react-materialize/?

[2019-09-12 07:49] srthapa927 commented on #908
Using `<Select icon="how_to_reg" ><options>opt1</option></Select>` throws error.

Using  `<Select icon={<i className="material-icons">how_to_reg</i>}><options>opt1</option></Select>` renders string `how_to_reg`.

Using  `<Select icon={<Icon>how_to_reg</Icon>}><options>opt1</option></Select>` works fine.

[2019-09-12 07:49] #908 closed

[2019-09-12 07:51] CloudPower97 commented on #908
@srthapa927 Thanks for finding this out. Actually the problem is in the `story` itself, which I'm going to update.
Thanks for the feedback.

[2019-09-17 21:22] CloudPower97 opened #909 "Autocomplete label doesn't work with placeholder prop"
### Description

It seems that the `Autocomplete` component doesn't handle well having both a `label` and a `placeholder`.

### Steps to Reproduce

Here is an example: https://codesandbox.io/s/bold-herschel-xfd1j

**Expected behavior:** The `label`should float over the `Autocomplete`

**Actual behavior:** The `label` doesn't float over the `Autocomplete`

### Versions

**react-materialize:** 3.4.1