[2014-12-09 21:57] chandu0101 opened #1 "does this project depend on materialize js ?"
Hi,
     A quick question , does this project depend on materializecss js  for animations ?

[2015-02-05 08:49] ezmiller opened #2 "No bower package?"
I was looking to see if this could be installed via bower, but didn't find a package. Would be great to have one.

[2015-02-16 09:43] isaiah commented on #2
Working on it now, it would be great if you can help a bit, I'm not expert on JS build tools (there are too many of them )

[2015-02-16 16:39] ezmiller commented on #2
I'd be happy to as time permits. I've not got much experience with JS build tools either. Might not be until next month or so that I could help. What have you done so far?

[2015-06-10 22:15] Cad opened #3 "is this project dead?"

[2015-06-23 07:13] isaiah commented on #3
I am working more on backend stuff recently, but will definitely pick it up when I have time.

[2015-06-24 19:58] clario opened #4 "Logo poistion"
![skjermbilde 2015-06-24 kl 21 54 45](https://cloud.githubusercontent.com/assets/264754/8340023/fc4eff48-1abb-11e5-9658-eb0461926ae2.png)
Logo position is not good.

[2015-06-26 15:47] joshhornby opened #5 "Webpack ES6"
Has anyone managed to get this working in an ES6 environment?

For example

[code]

Produces the following error

[code]

[2015-07-27 19:24] kriscarle commented on #5
I hit this issue and ended up just switching it back to ES5 render: function(){} syntax. For me it seems to have something to do with babel not liking the mix of React.createClass and the ES6 class syntax. All of the react examples I can find either do it one way or the other: http://babeljs.io/blog/2015/06/07/react-on-es6-plus/

[2015-09-09 19:42] isaiah commented on #5
Someone pushed the `react-materialize-real` to npm for me, but I have no control over it, instead I've created the `react-materializecss` package on npm, @joshhornby   can you try if that one is working now?

@kriscarle ideally the npm package should be ignored by babel, as it should have already been transpiled to ES5.

[2015-09-13 06:37] rasmushaglund commented on #5
I have the same problem. Would it be a good idea to convert the project to react friendly ES6?

[2015-10-08 20:20] walter90920 opened #10 ""react-materializecss": "^0.12.0" is out-dated"
The source code on git hub is using classname rather than joinClasss, but the version I'm getting from npm is still out-dated and doesn't work with react 0.14 that well. Can somebody help? Thanks a lot!

[2015-10-08 23:35] eddiekollar opened #11 "npm doesn't have latest release"
I just tried installing and as of the time of this post 0.12.0 is the latest version in npm.

[2015-10-09 08:46] isaiah commented on #11
Yes, I'm working react 0.14 and the javascript components. I'll keep you posted.

[2015-10-12 16:31] isaiah commented on #10
see #11

[2015-10-19 18:43] mez commented on #11
Noticed the package.json requires react 0.14. Is the 0.14 branch complete?

[2015-10-19 19:25] isaiah commented on #11
Not yet, I am also trying to implement more components and add more features that are introduced to materializecss recently.

[2015-10-19 19:27] isaiah commented on #3
I am actively working on the upgrade to react 0.14 and implementing more components.

[2015-10-20 12:56] isaiah opened #12 "Rename the package"
The package react-materialize is registered on npm, at the moment I use react-materializecss, but it's confusing, should we change the name?

[2015-10-20 12:57] #3 closed

[2015-10-20 12:57] #2 closed

[2015-10-20 12:59] isaiah commented on #1
Now it requires materialize.js, remember that the js has to be loaded globally, as the materialize-css npm package doesn't expose a proper commonjs library. Added in document.

[2015-10-20 12:59] #1 closed

[2015-10-20 13:07] Tapjay opened #13 "Modal examples do not work on doc site"
When pressing the modal buttons, the modals open without the transition and remain there despite
pressing the buttons meant to close them.

[2015-10-20 13:59] isaiah commented on #12
Not needed anymore, thanks @akiran

[2015-10-20 13:59] #12 closed

[2015-10-20 20:14] isaiah commented on #4
This is an upstream issue, the materializecss site also have this problem. http://materializecss.com/navbar.html#icons

[2015-10-30 17:21] isaiah commented on #13
close button and transition are fixed.

[2015-10-30 17:21] #13 closed

[2015-10-30 17:22] isaiah commented on #11
I've pushed a beta version to NPM, please note that the package name has changed on NPM https://www.npmjs.com/package/react-materialize

[2015-10-30 17:23] #11 closed

[2015-10-30 17:23] isaiah commented on #10
Please use the `react-materialize` package from now on. I've pushed a beta version to npm with react 0.14 support.

[2015-10-30 17:23] #10 closed

[2015-10-30 17:24] isaiah commented on #5
Please reopen if still experience the issue.

[2015-10-30 17:24] #5 closed

[2015-11-14 13:04] scottmcpherson opened #16 "Error when using with browserify and meteor"
I'm trying to get materialze to work with browserify and meteor. I'm running into the following error:

[code]

I have the following app.browserify.options.json:
[code]

[2015-11-14 13:59] LifeIsALesson opened #17 "Webpack + Babel build error"
I'm getting the following error while trying to build my project

    ERROR in ./~/react-materialize/src/index.js
    Module parse failed: /home/foo/.../node_modules/react-materialize/src/index.js Line 1: Unexpected token
    You may need an appropriate loader to handle this file type.
    | export Button from './Button';
    | export Card from './Card';
    | export CardTitle from './CardTitle';

[2015-11-15 00:08] iafiawik commented on #17
I have the exact same issue on my end. Unfortunately, I have no idea how to fix it.

Trying to use the Materialize button:

    import React from 'react';
    import {Button} from 'react-materialize';

The webpack output is this:

    ERROR in ./~/react-materialize/src/index.js
    Module parse failed: ./node_modules/react-materialize/src/index.js Line 1: Unexpected token
    You may need an appro

[2015-11-15 17:16] isaiah commented on #17
I'll take a look ASAP.

[2015-11-15 17:18] iafiawik commented on #17
@isaiah Thanks! :)

[2015-11-16 12:00] isaiah commented on #17
@iafiawik @LifeIsALesson I pushed a new version `0.14.0-beta2` to npm, could you try again?

[2015-11-16 13:14] isaiah commented on #16
Please try the latest beta release `0.14.0-beta3`.

[2015-11-16 16:55] iafiawik commented on #17
@LifeIsALesson Seems to be working for me :+1:

[2015-11-17 13:04] #17 closed

[2015-11-21 11:26] scottmcpherson commented on #16
Nice work @isaiah !

[2015-12-02 23:53] suminda123 opened #22 "in docs npm package"
'node-glob' is not in the npm registry any more

[2015-12-03 10:34] #22 closed

[2016-01-08 22:00] IonutLaceanu opened #24 "Text input label misbehavior"
Hi!

When are you planning to publish the current codebase in npm?

There is a problem in the current npm package, with the behavior of the label when I provide a `defaultValue`.
![screenshot 2016-01-08 23 53 12](https://cloud.githubusercontent.com/assets/2991577/12210550/75e13536-b663-11e5-9cce-6cee8dc5da4b.png)

The problem dissapears when I first click on the Input.
![screenshot 2016-01-08 23 5

[2016-01-11 15:37] isaiah commented on #24
@IonutLaceanu yes, this problem is fixed in master.

[2016-01-11 21:57] isaachinman commented on #24
@isaiah Also wondering when you plan to publish the current codebase to the npm package.

[2016-01-11 22:02] isaachinman opened #25 "Any plans to implement the Materialize datepicker?"
Hi, any plans to rewrite the [Materialize datepicker](http://materializecss.com/forms.html) (which depends on pickadate) as a React component?

[2016-01-12 16:49] isaiah commented on #24
@isaachinman @IonutLaceanu I just pushed 0.14.0-beta4 to npm. Please let me know if you find any problems.

[2016-01-12 16:53] isaiah commented on #25
There is not so much to do for this component, since this library already requires that `materializecss.js` loaded in global namespace, I imagine you can create the datepicker with

[code]

Could you try this out?

[2016-01-18 09:31] isaiah commented on #24
@isaachinman @IonutLaceanu there is a problem with the previous package, bumped to `0.14.0-rc1`

[2016-01-20 15:38] #25 closed

[2016-01-20 15:38] #24 closed

[2016-01-23 04:52] brodeuralexis opened #27 "Cannot install with npm"
After running the command `npm install react-materialize`, I am greeted by this folder in my `node_modules/react-materialize` :
[code]

Here is some information about my current environment:
[code]

[2016-01-23 09:11] alextrastero commented on #27
Hi, I had to install version 0.14.0-rc1 to make it work:
`npm i react-materialize@0.14.0-rc1`

[2016-01-27 10:03] isaachinman commented on #25
Yes it works, but it doesn't seem to fire any onChange events.

[2016-01-30 18:13] isaiah commented on #27
0.14.1 is released.

[2016-01-30 18:13] #27 closed

[2016-01-31 16:36] alextrastero opened #30 "Image for README"
![readme-header](https://cloud.githubusercontent.com/assets/4152819/12703340/23b90e56-c841-11e5-933a-99bfa107db07.jpg)

[2016-01-31 17:15] #30 closed

[2016-01-31 17:15] alextrastero commented on #30
Create issue as a hack to add a image to README

[2016-01-31 17:23] alextrastero opened #33 "Missing Components"
### Components
- [x] Badges
- [x] Buttons
- [x] Breadcrumbs
- [x] Cards
- [x] Chips
- [x] Collections
- [x] Footer
- [x] Forms
- [x] Icons
- [x] Navbar
- [x] Pagination
- [x] Preloader

### JS
- [x] Collapsible
- [ ] Dialogs
- [x] Dropdown
- [x] Media
- [x] Modals
- [ ] Parallax
- [ ] Pushpin
- [ ] ScrollFire
- [ ] ScrollSpy
- [ ] SideNav
- [x] Tabs
- [x] Transitions
- [x] Waves

[2016-02-01 16:54] isaiah commented on #33
Updated a few, the `icon` component is already there, i think `transition` and `wave` are effect, not component.

[2016-02-18 21:46] CoveTechnologyAus opened #39 "CardPanel does not accept inline styles"
There seems to be an issue when wanting to change the width of CardPanel with inline styles.
For example, if I have this:
[code]
the CardPanel still expands to the whole width of the column and inspecting the element style in Chrome I notice there is no "width" style on the CardPanel. The other components I have tried seem to accept inline styles.

Any ideas?

[2016-02-22 12:22] isaiah commented on #39
The extra properties are not used for the `CardPanel` component, we could add that if really needed.

[2016-02-22 20:46] zareef4 opened #41 "Navbar doesnt apply color classname to parent"
[code]

If done as in the above example, the NavItems are colored blue but the rest of the navbar is still the default pink / red

[2016-02-23 16:39] isaiah commented on #41
#42 should have fixed this.

[2016-02-23 16:39] #41 closed

[2016-03-02 14:07] scarletsky opened #44 "Unexpected warning when using select component"
Here is my code:

[code]

But I get the following warning in console:

[code]

I have no idea why this happen, but the `onClick` works as expect.

[2016-03-03 13:28] isaiah commented on #44
My guess is that the selector re-render the options as input element and the value is set by 'value' instead of `defaultValue`.

[2016-03-03 13:45] scarletsky commented on #44
@isaiah
So in the `Select` component, we are going to use `value` instead of `defaultValue` ?

[2016-03-03 14:09] isaiah commented on #44
@scarletsky I was guessing, ignore my previous comment please.

By checking the code, I found that for `select`, the `onChange` event is not added for react, instead it's hooked by jquery.

https://github.com/react-materialize/react-materialize/blob/master/src/Input.js#L37

[2016-03-07 01:45] daiduongbian44 opened #47 "Custom Modal Fix Header And Footer"
To adapt to some pages, now i need the Modal Component with fixed header and footer but the modal has adaptive height. Besides that, the Modal also has more flexible, i mean we can open and close modal programatically. Hope team helps me. Thanks.
Best and regard:
ManhNQ

[2016-03-07 18:03] #39 closed

[2016-03-07 21:59] urahonky opened #48 "view_headline showing up on Nav when window is resized"
Hello!

First of all: Thank you very much for making this project. It's working really well so far, but I ran into a small issue that I could help fix or suggest a fix for you.

I'm rendering a very simple Nav that just has the name of the application (so far) on it, and when I resize the window the words "view_headline" show up on the Nav bar and I can't find a way to remove them. It looks like i

[2016-03-08 05:49] isaiah commented on #48
Hi @urahonky Thanks for reporting this, try include the material web fonts:

[code]

Let me know if it works :)

[2016-03-08 13:40] urahonky commented on #48
That worked! Would it be possible for us to have the option to hide it? Right now I don't have anything on the Navbar other than the project title (throwing together a prototype for my company) and would rather not have it show up if possible.

No rush, though, because the hamburger icon is much better than view_headline :) Thanks again!

[2016-03-08 20:37] isaiah commented on #48
Glad to help.

[2016-03-08 20:37] #48 closed

[2016-03-20 10:04] alextrastero commented on #47
Hi @daiduongbian44! I'm not sure if I understand the first part of your comment `Besides that, the Modal also has more flexible`. All you want is the modal to be triggered from another component? ie opened closed

[2016-03-26 18:55] shanemcgraw opened #50 "Footer contains hard-coded 'Connect' h5 tag"
When a Footer component is loaded without any styling, it will always display 'Connect', without any way of deleting other than modifying the entire module directly. It appears to come from line 75 in the Footer.js file:
`_react2.default.createElement(
                'h5',
                { className: 'white-text' },
                'Connect'
              ),
              this.props.links`

It l

[2016-03-27 02:32] marcogonzalo opened #51 "Navbar className only applies class to NavItem but no to Navbar"
`<Navbar brand='Logo' className='light-blue lighten-2' right></Navbar>`

Generates a red Navbar with NavItem in 'light-blue lighten-2', but Navbar doesn't change its background color.

[2016-03-28 14:05] alextrastero commented on #51
This was fixed with #42. Have got the latest?

[2016-03-28 14:06] alextrastero commented on #47
Closing as no more info, please reopen if needed.

[2016-03-28 14:06] #47 closed

[2016-03-28 14:44] alextrastero commented on #50
Hey @shanemcgraw, correct, this was hard-coded, the two-pane style is inherited from materializecss therefore it is by design.

[2016-03-28 18:00] #50 closed

[2016-03-28 18:24] shanemcgraw commented on #50
I gotcha. Many thanks!

[2016-03-29 03:38] marcogonzalo commented on #51
Which should be the latest version number? I installed it from npm.

[2016-03-29 13:26] alextrastero commented on #51
@marcogonzalo please try now, npm package updated :)

[2016-03-29 13:26] alextrastero commented on #51
please reopen if still not working

[2016-03-29 13:26] #51 closed

[2016-04-06 10:03] davidaq opened #54 "Breadcrumb not usable"
In the docs, the Breadcrumb component is used with `MenuItem`, but `MenuItem` is not exported in `index.js`.

I tried exporting the component myself but I get `TypeError: Cannot read property 'props' of null` when ever there's children inside`<Breadcrumb>`.

[2016-04-06 10:46] isaiah commented on #54
Hi @davidaq, can you try import `MenuItem` from `react-materialize/lib/MenuItem`  and see of the problem still exist?

[2016-04-12 12:14] richmeij commented on #33
Are there any plans yet to implement the SideNav component?

[2016-04-12 12:17] richmeij opened #55 "SideNav component missing"
Hi guys,

Are there any plans on the SideNav component yet?

[2016-04-12 14:52] isaiah commented on #55
Hi @richmeij , I'll take a look, last time I checked it's not so straight forward to implement.

[2016-04-13 06:03] #54 closed

[2016-04-13 09:21] richmeij commented on #55
Thanks. If it's to much of a hassle right now, I'd be happy take a swing at it. Just wanted to verify if there was anything in the works already.

[2016-04-13 10:02] isaiah commented on #55
That would be great, there is a `SubNav` component, but it didn't work properly at the moment.

[2016-04-28 12:19] linuxenko opened #57 "Input "type = switch" does not handle onChange"
Input element with type `switch` does not attach `onChange` event.

[2016-04-28 12:26] alextrastero commented on #57
Hey @linuxenko, what is an input type `switch` ? 😄

[2016-04-28 12:39] linuxenko commented on #57
[![](https://sc-cdn.scaleengine.net/i/f114c72c251aa78025ded4af38d0f563.png)](https://react-materialize.github.io/forms.html)

[2016-04-28 12:54] alextrastero commented on #57
Good catch
https://github.com/react-materialize/react-materialize/pull/58

[2016-04-28 13:04] linuxenko commented on #57
Thanks

[2016-04-29 08:46] linuxenko opened #60 "input "type = checkbox" refs problem"
[![](https://sc-cdn.scaleengine.net/i/ed8f407e8545e94ab61a248a663aaaca.png)](https://sc-cdn.scaleengine.net/i/ed8f407e8545e94ab61a248a663aaaca.png)

I'm not sure i know what does it means, it appears from following code :

[code]

[2016-04-29 11:19] linuxenko commented on #60
Please check  #59

[2016-05-08 19:15] jesseflorig opened #62 "Collapsible accordion all expanded initially"
<Collapsible accordion> initially renders with all list items expanded. Once an item is clicked, the list behaves as expected.

[2016-05-09 08:45] #57 closed

[2016-05-09 09:12] isaiah opened #63 "idgen incremental ID generator breaks servers-side rendering"
`idgen` is not rewinded on server side, and causes checksum error.
This is not a unique problem to `react-materialize`, it's currently universal for all the react libraries, relavant discussion:
- https://github.com/facebook/react/issues/1137
- https://github.com/facebook/react/issues/4000
- https://github.com/facebook/react/issues/5867
- https://github.com/callemall/material-ui/pull/4253

[2016-05-10 21:42] alextrastero commented on #62
Hi @jesseflorig, i've tried to reproduce this but no luck, it seems to work fine. Do you get any error message? Can you show us how you implement the component?

[2016-05-10 21:43] alextrastero commented on #60
@linuxenko I guess this can be closed now right?

[2016-05-11 03:01] marcvs83 commented on #51
Still having this issue. Just did a fresh npm install.

[2016-05-11 03:03] marcvs83 opened #67 "Navbar className only applies class to NavItem but no to Navbar"
Still having the issue that #51 was supposed to fix. Just did a fresh npm install and only the nav items get the colors. Reopening

[2016-05-11 04:04] linuxenko commented on #60
@alextrastero yes, it fixed

[2016-05-11 06:20] #60 closed

[2016-05-16 14:13] og2t opened #68 "Theming"
Hi! thanks for porting MaterializeCSS to react components. How can one customise the theme?

[2016-05-24 18:36] alextrastero commented on #62
No answer, closing.

[2016-05-24 18:36] #62 closed

[2016-05-25 15:04] nazarposhta opened #69 "Button -> tooltip does nothing"
[code]

But I do not see some tooltip

[2016-06-02 16:30] nazarposhta opened #70 "Nothing works with rect-router"
Do you know that nothing works when someone want to use react-router and tries to navigate on the site by
`<Link to="/some-link"></Link>`
Plugins (Tabs) or something was not initialized
We are making the single page application - actually. But it's not possible with that package.

[2016-06-02 16:45] nazarposhta commented on #70
I resolved that with
``componentDidMount(){
        $('ul.tabs').tabs();
    },
``

[2016-06-03 13:31] rulatir opened #71 "CardPanel always gets teal class"
CardPanel always gets `teal` class. The result is that the teal color cannot be overriden by any other color class that is defined earlier in materialize.css, e.g. it can be overriden by `deep-orange` but cannot be overriden by `red`.

Since both selectors match with the same specificity and both rulesets come from the same source, actual ordering of rules in the stylesheet comes into play and the

[2016-06-04 10:45] rulatir opened #72 "Document the import line as the first thing on every component documentation page."
The documentation of each and every component should show the correct copypastable import/require line as the **first** thing on the component's documentation page.

[2016-06-06 08:26] rulatir opened #73 "Dropdown not working, nothing on console."
[Nevermind, probably duplicate of #70]

[2016-06-06 09:59] #73 closed

[2016-06-06 10:00] rulatir commented on #70
Please fix this. The workaround suggested by the OP is not feasible in a nontrivial app. Also other components are failing too (Dropdown!)

[2016-06-06 11:14] rulatir opened #74 "JS components not initially rendered don't work"
Javascript components like Dropdown don't work if they are not rendered initially but only subsequently upon an ancestor's state change.

Attached is a diff against boilerplate commit 2fe4b89847a57459804d8078e8ffd98158492042 that demonstrates the issue. You need to change the initial `ready` state value from `true` to `false` to see the symptom.

[demonstrate-delayed-render-bug.txt](https://github

[2016-06-06 12:10] #72 closed

[2016-06-06 12:24] alextrastero commented on #67
any updates on this @isaiah ?

[2016-06-07 06:12] #33 closed

[2016-06-07 06:24] alextrastero commented on #44
Closing for now, please reopen if needed.

[2016-06-07 06:24] #44 closed

[2016-06-07 06:42] alextrastero commented on #68
Hi @og2t, react-materialize only focuses on the component's functionality, the actual theme is done by MaterializeCSS, I guess you could theme by overriding the base css. You could also get the source of Materialize and change the variable colors.

Closing for now, let us know how it goes!

[2016-06-07 06:42] #68 closed

[2016-06-07 06:48] alextrastero commented on #71
Hey @rulatir, thanks for all this input 👍
Could you show us some sample code, i'm trying to reproduce as such:
[code]
And it seems to work fine.

[2016-06-07 10:02] isaiah commented on #67
Trunk is released as `0.14.4`, please check it out.

[2016-06-07 10:02] #67 closed

[2016-06-10 05:35] rulatir commented on #71
What does your code render as in your app?

In my app it renders as `<div class="card-panel teal red"><span class="white-text"><p>Hey there</p></span></div>` and the div.card-panel is teal.

[2016-06-10 07:30] rulatir commented on #71
Hmm, I had something weird installed as 'react-materialize' - it reported itself as 0.14.3 but the code was different, and the CardPanel component actually contained this code:

[code]

I removed and reinstalled and it's OK now.

[2016-06-10 07:30] #71 closed

[2016-06-10 10:08] isaiah commented on #69
Sorry, the documentation is wrong, I think this is not yet implemented. @alextrastero

[2016-06-10 10:08] alextrastero commented on #69
I will have a look at this asap

[2016-06-11 15:24] prdx opened #77 "message.trim is not a function"
Hi,

I am trying to run your `docs` by running these commands:

[code]

However I got error `message.trim is not a function` TypeError in `dev.js` while running `npm run start`. Is
there a way to fix that?

Thanks!

[2016-06-11 17:52] alextrastero commented on #77
Hey @prdx, the documentation is in the react-materialize/react-materialize repo. You need to go to the docs folder, npm install and npm start. Assets are served from 8080 and you can see the docs at localhost:4000

[2016-06-12 12:59] prdx commented on #77
Hi @alextrastero, I did that, but I am still getting the error. Here is the stacktrace:

[code]

[2016-06-13 08:06] isaiah commented on #77
@prdx Maybe your `nodejs` version is too low.

[2016-06-13 09:01] isaiah commented on #77
@prdx lol, I also have the same problem, checking.

[2016-06-13 09:41] #77 closed

[2016-06-17 09:14] evgenosiptsov opened #80 "Collapsible's accordion and popout does not work"
HI!

`<Collapsible popout={true} accordion={true} onSelect={this.props.onSelect}>
            {this.props.sections.map(function(section) {
                return (
                    <CollapsibleItem header={this.props.renderHeader(section)}>
                        {this.props.renderContent(section)}
                    </CollapsibleItem>)
            }.bind(this))}
            </Collapsible>`
-

[2016-06-17 10:40] EGedeon commented on #80
https://github.com/react-materialize/react-materialize/pull/81

[2016-06-18 20:58] rulatir opened #83 "Modal with custom buttons in footer?"
How can I specify custom buttons with callbacks (e.g. "Yes, delete", "NO, KEEP IT!!!") in the modal footer?

[2016-06-19 07:51] isaiah commented on #83
This feature is in `master` branch, but not yet released. Please see https://github.com/react-materialize/react-materialize/pull/79

[2016-06-23 19:15] SybGlm opened #84 "Row in Footer automatically adjusts itself to l={6}"
I'm a total newbie to react-materialize... Right now I'm stuck at trying to adjust my Footer by defining its size. It should be like:
[code]

but in Chrome it automatically wraps the Row in another Row-Element that has a width=l6.

Additionally, can someone teach me how to do some offset with react-materialize? On the homepage it says it's a String as it is in the original Materialize. But it's no

[2016-06-24 09:48] isaiah commented on #84
The `Footer` is quite rigid regarding styling, I think you are better off, just by using the grid components `Row` and `Col`.

The `offset` should work, but I'll have a try by myself.

[2016-06-28 14:55] SybGlm commented on #84
Thanks for helping :)

Regarding the Footer:
I tried to use the grid components Row and Col inside it by using the following code inside my footer.jsx-File ...

[code]

... but as mentioned, it seems like the row adjusts itself to l=6 on big screens instead of l=12 (on middle screens everything works perfectly fine and the outer Row is m=12 wide). Is there some sort of customization that I'm missi

[2016-06-28 15:12] isaiah commented on #84
@SybGlm As I said, just replace the `Footer` component with a normal `footer` element.

[2016-06-29 17:01] rulatir opened #85 "Select - no way to access new value in onChange w/o using a ref"
When a new selection is made in `<Input type="select"/>`, the onChange callback receives an event object that contains a target object that still contains the old value.

The new value is accessible only through the `Input` instance, but there is no apparent way to obtain it from the event object.

This necessitates using a `ref`, and `ref`s are for all intents and purposes deprecated, what with R

[2016-06-29 17:13] sminutoli opened #86 "Lib version doesnt match with src"
I´ve done `npm i react-materialize` and it looks like my `node_modules/react-materialize/lib/Dropdown.js` doesn't match with the `src/Dropdown.js` stated here on `master` (i´m still getting the old version, without initilization onComponentDidMount)...

The version seems to be right according to my `package.json`:

`"react-materialize": "^0.14.4"`

Am I doing something wrong or its a bug?

[2016-07-01 12:35] isaiah commented on #86
The `npm` package is a bit old, I should have updated the current trunk version, sorry.

[2016-07-03 01:46] velopert opened #87 "Unknown Props Warning in React 15.2"
React 15.2 has been released. When I use react-materialize with react 15.2, I see some errors like:

[code]

I hope this gets fixed soon :)
Thank you.

[2016-07-05 19:03] sminutoli commented on #86
Please let me know if you're planning to update it soon

[2016-07-06 20:27] derekargueta commented on #87
+1, I'm getting the same thing

[2016-07-07 09:05] vasiliybondarenko opened #90 "It should be possible to add click handlers on Tag/Chip components"

[2016-07-13 02:49] koon-kai commented on #87
+ 1

[2016-07-25 15:15] sminutoli commented on #86
Any news about this one? Are you planning to still giving support on NPM or it's a discontinued package?

[2016-07-25 15:52] jibe0123 commented on #87
I have the same things !

[2016-07-26 08:20] isaiah commented on #86
@sminutoli 0.14.6 with the latest changes released on npm.

[2016-07-26 08:20] #86 closed

[2016-07-29 10:00] nazarposhta commented on #87
https://monosnap.com/file/Mrwah7UWrflpty7Vsy3xKizSEMwJZj

[2016-07-29 10:04] alextrastero commented on #87
@nazarposhta i'll have a look over the weekend

[2016-08-02 01:59] paulosuzart opened #94 "Pagination - disabled arrows still have effect and point browser to #!"
Hi,

tried to use Pagination but when clicking back arrow even in the page one, the component gets activated and `activePage` becoms 0 and so forth. Same to forward arrow in the last page.

Another strange thing is that  upon clicking `PaginationButton` it always point browser history to `#!`.

Cheers

[2016-08-02 17:28] sminutoli commented on #74
Dropdown isn't working yet, I'm using 0.14.5 because 0.14.6 throws errors...

[2016-08-02 18:58] alextrastero commented on #74
hey @sminutoli, what kind of errors are you seeing?

[2016-08-02 20:19] sminutoli commented on #74
Hi @alextrastero I'm getting a `jquery.js:4311 Uncaught TypeError: Cannot read property 'createDocumentFragment' of undefined`.
After some debugging I've found that `this._trigger` is a ReactElement instead a DOM Element in the `componentDidMount` hook.
If I apply `$('.dropdown-button').dropdown()` instead of `$(this._trigger).dropdown()` it seems to work well (tough isn't the right solution).
I'm

[2016-08-03 09:19] alextrastero commented on #94
Fix here: https://github.com/react-materialize/react-materialize/pull/95
I've also changed PagintaionButton href, now links to #

[2016-08-03 18:08] nickbarry commented on #87
I'm getting the same error.

[2016-08-04 04:23] zhengpd commented on #87
Same warning here. Use `<Input s={3} />` and got "Warning: Unknown prop `s` on <input> tag. ". I guess this is caused by passing `s` prop to `input` component. There is a document about unknown prop warning at https://gist.github.com/jimfb/d99e0678e9da715ccf6454961ef04d1b

[2016-08-07 13:34] rulatir commented on #85
BUMP

[2016-08-12 03:31] zhengpd opened #96 "Col does not support id attribute?"
I look through the `Col.js` and found nothing about `id` html attribute. Am I missing something?

[2016-08-13 04:53] yanickrochon commented on #87
This should be trivial to fix, no?

[2016-08-13 05:28] yanickrochon opened #97 "Support for OPTGROUP"
This component

[code]

Will call `chaveFieldState` with a value of `"default"` (i.e. the first OPTION element value). If I remove the OPTGROUP element, things work again.

[2016-08-13 12:18] yanickrochon opened #98 "Adding support for changing the color of a ProgressBar"
For example, the markup for `ProgressBar` does not allow setting custom styles and classes. For example

[code]

is not possible (i.e. the `red` CSS class), thus it is impossible to change the progress bar's color. Something like

[code]

should be implemented.

[2016-08-14 06:51] alextrastero commented on #98
No need for style @yanickrochon , you should be able to pass classname to component as a prop, I will have a look

[2016-08-14 06:52] alextrastero commented on #94
this was fixed in 0.14.8
Closing

[2016-08-14 06:52] #94 closed

[2016-08-14 10:58] alextrastero commented on #98
@yanickrochon check out this PR
https://github.com/react-materialize/react-materialize/pull/99

[2016-08-14 11:06] alextrastero commented on #96
Hey @zhengpd what do you mean exactly? that you want to pass id? what's the purpose? 😊

[2016-08-14 21:03] alextrastero commented on #90
Hey @vasiliybondarenko you can read about click handlers here (http://materializecss.com/chips.html)

[2016-08-14 21:03] #90 closed

[2016-08-14 22:17] yanickrochon commented on #98
:+1:

[2016-08-15 01:34] yanickrochon opened #100 "Button icon prop is superfluous"
I believe the `icon` property for the Button component is superfluous and that it doesn't add much to the component.

To me, `<Button icon="add">ADD</Button>` is better written as `<Button><Icon left>add</Icon>ADD</Button>` since it offers not only more control on the icon behaviour, but it's own configuration. It is not the button's contract to add a child element for an icon; it is a breach of r

[2016-08-15 02:31] zhengpd commented on #96
@alextrastero Sorry I didn't make it clear. I have some code like `<Col id="my_id">something</Col>`. It used to work with react-materialize 0.14.4, but not working with latest version and the `id` is missing from rendered DOM. It seems that `{...props}` was removed from the return block in latest `Col`'s render method.

[2016-08-15 12:32] alextrastero commented on #87
Should get fixed with this
https://github.com/react-materialize/react-materialize/pull/101

[2016-08-15 20:06] yanickrochon commented on #87
`Warning: Unknown props `trigger`, `onRequestHide` on <div> tag.`

on

[code]

[2016-08-16 00:35] yanickrochon commented on #97
Nevermind, the ''value'' prop is at fault, here.

[2016-08-16 00:35] #97 closed

[2016-08-16 00:43] yanickrochon opened #102 "Implement Autocomplete"

[2016-08-16 13:17] alextrastero commented on #87
this is fixed in 0.15.0

[2016-08-16 13:17] alextrastero commented on #70
Hey @nazarposhta please reopen this issue if it remains, thanks!

[2016-08-16 13:17] #70 closed

[2016-08-16 13:18] #98 closed

[2016-08-16 13:19] alextrastero commented on #100
This is not really an issue but more a suggestion, you can choose, either to use an icon as a prop or as a new component. The button needs to have this functionality so that it can work as a floating menu.

[2016-08-16 13:19] #100 closed

[2016-08-16 14:10] yanickrochon commented on #87
Actually, the `Modal` component is still complaining about the `trigger` prop.

[2016-08-16 14:35] yanickrochon opened #108 "Broken components in 0.15.0"
My forms no longer display values

[code]

I see in the code that I must specify `defaultValue` instead. This should be documented as a breaking change, explain why, or re-implement the feature.

Also, I get this error

because my field is a `type="number"`.

[2016-08-16 14:39] yanickrochon commented on #108
Also, the `name` attribute is not set on the field (since it is no longer passed down), and breaks `jquery-validator`.

[2016-08-16 14:41] alextrastero commented on #108
Yup, just seen this, I will take a look this evening and should have a fix pronto, thanks for letting me know :)

[2016-08-16 14:42] yanickrochon commented on #108
Alright! For the prop types, perhaps have the value as

[code]

?

[2016-08-16 14:53] yanickrochon commented on #108
The `Button` component no longer allow setting `onClick` handlers. What's the point of having a button if one cannot handle clicks from it? :stuck_out_tongue:

[2016-08-16 15:00] yanickrochon commented on #108
This `Modal` is no longer triggered by it's trigger :

[code]

[2016-08-16 15:01] alextrastero commented on #108
Yeah, the modal is broken because of the Button issue. Please let me know more issues that you find here and I will address them all this evening, and thanks again!

[2016-08-16 15:02] yanickrochon commented on #108
:+1:

[2016-08-16 17:35] sminutoli commented on #74
@alextrastero do you have a clue about this one?

[2016-08-16 18:11] sminutoli commented on #74
I've made a PR with a proposal https://github.com/react-materialize/react-materialize/pull/110

[2016-08-17 01:31] yanickrochon opened #111 "Add support for modal events"
I am currently trying to find a way to be notified when the modal is triggered and ready, to set focus to an input element. However Materialize does not trigger any event (despite using jQuery....).

It would be nice to have `onReady` and `onComplete` as props, two function callbacks, that could be passed to `openModal`.

[2016-08-17 01:33] yanickrochon commented on #111
Or better yet, a prop `modalOptions`, an object, passed as is to `openModal`.

[2016-08-17 09:25] alextrastero commented on #108
Hey @yanickrochon, so I have a fix for most of the issues: https://github.com/react-materialize/react-materialize/pull/109
I've passed `name` down to the input and added the proptype validation for `defaultValue`, if you check the code diff you can see that `value` was never accepted as a prop. Since value is a valid input attribute, because of luck, it worked for you, but you should use defaultVa

[2016-08-17 11:43] yanickrochon commented on #108
@alextrastero I am using [controlled inputs](https://facebook.github.io/react/docs/forms.html#advanced-topics) in my forms. If you ignore the `value` props, your are essentially blocking all this feature together.

[2016-08-17 15:46] alextrastero commented on #108
Correct again, have a look once more time https://github.com/react-materialize/react-materialize/pull/109

[2016-08-17 17:16] yanickrochon commented on #108
:+1:  I'il try this out!

[2016-08-17 21:09] natearmagost opened #112 "No way to add custom properties to Input components"
I'm trying to build an input element with custom properties. Something like this:

[code]

That's not going to work with:

[code]

Any properties meant for the input (maxlength, size, autocomplete, class/className) will be lost.

It would be nice to save those properties. Maybe by passing them down as an object? Something like this:

[code]

It looks like **placeholder** is the only property that

[2016-08-17 22:01] yanickrochon commented on #112
I had suggested to [filter the props](https://github.com/react-materialize/react-materialize/pull/103), and let all user-defined props pass-through... the PR is being "debated", but I still think that it would solve many problems and not restrict anyone. My initial solution had a home-made filter, but it seems that there's already a (new) project [that does this](https://www.npmjs.com/package/reac

[2016-08-18 08:01] alextrastero commented on #112
Hey @yanickrochon @natearmagost, thanks for pointing out these issues, luckily there's a better way than adding an external library to solve this. The props warning happens when you pass an unknown attribute to the node, ie `s={5}` to input. As mentioned here (https://facebook.github.io/react/docs/transferring-props.html#transferring-with-...-in-jsx), we should handle or separate the strange props

[2016-08-18 08:01] alextrastero commented on #108
This should be fixed with #109

[2016-08-18 08:01] #108 closed

[2016-08-18 14:55] yanickrochon opened #113 "ProgressBar forced indeterminate prop"
Currently, the `ProgressBar` component forces the `indeterminate` CSS class when `progress` is falsy. This is an undesirable behaviour, and if `indeterminate={false}` is passed, the component should *not* be in an indeterminate state.

[2016-08-18 15:03] yanickrochon commented on #113
This resolves the issue

[code]

[2016-08-18 16:34] alextrastero commented on #96
Absolutely right @zhengpd, #114 should fix it :)

[2016-08-18 16:36] alextrastero commented on #113
Hey @yanickrochon, help me understand, why shouldn't it be `indeterminate` if there is no progress?

[2016-08-18 16:53] yanickrochon commented on #113
For my use case, a progress bar display quantities of certain items over an ideal amount. The progress bar gives the user a visual cue of the value in range, among a list of items in a table. Having an indeterminate progress bar when the value is 0 is not only odd, but not visually pleasing. And I would rather not have to use something like `Math.max(qty, 0.000001)` or something. Forcing `indeterm

[2016-08-19 02:52] zhengpd commented on #96
Great! 👍

[2016-08-19 04:05] bijoutrouvaille opened #115 "Custom Error or Success Messages"
materializecss allows setting [Custom Error or Success Messages](http://materializecss.com/forms.html?) for input fields, but looking at the docs and the source I don't see a way to do that. Is this something that's still in the plans for this lib or just not in the docs yet?

[2016-08-19 04:15] yanickrochon commented on #115
I would personally recommend using [jquery-validation](https://jqueryvalidation.org/documentation/) It is fully compatible with Materialize and work quite well, even inside Modals

[2016-08-19 05:04] bijoutrouvaille commented on #115
Thanks @yanickrochon. It seems though that the whole point of using a react UI lib is so one wouldn't have to use jquery, which makes unit testing, among other things, complicated. Besides jquery-validation has all this extra validation functionality. What I need from a UI component is to display the error message that I send to it.

I tried adding an error message by hacking the node_modules of t

[2016-08-19 05:55] alextrastero commented on #115
Hey @bijoutrouvaille check this out #116

[2016-08-19 06:25] bijoutrouvaille commented on #115
@alextrastero thanks for pointing out the pull request. That's what I tried before in the hacky way and it didn't show. Just to be sure, I cloned your branch as well with the same result. The `data-error` attribute shows up with the message, but the actual message is not showing up. Am I doing something wrong?

I've modified the boilerplate code a bit,
[code]

[2016-08-19 06:40] alextrastero commented on #115
yar! error is a prop of the `<Input />` ;)

[2016-08-19 07:08] bijoutrouvaille commented on #115
I got it. You need to add the `valid` or `invalid` classes to the input itself. This is how I got it to show, using your code (Input.js line 80),

[code]

[2016-08-19 07:22] alextrastero commented on #115
Yeah, the error and success only seem to work if it's a html5 validation, so if it's type email and you add the `error` and `success` props it works well

[2016-08-19 07:27] #115 closed

[2016-08-19 07:27] bijoutrouvaille commented on #115
@alextrastero they say so in the docs, but it's not necessary because in their CSS they check for the class `.invalid` and `.valid` also. You can check: if you modify your pull request to include the code above, it should work without HTML5 validation. I set `validate={false}` on the `<Input/>

[2016-08-19 07:36] alextrastero commented on #115
top notch @bijoutrouvaille ! thanks for that, updated #116

[2016-08-19 13:23] yanickrochon commented on #115
@bijoutrouvaille it seems ironic that you would avoid using jQuery as Materialize requires it as dependency anyway. Besides, since the mentioned plugin allows for localization and setting multiple validations for the same input, putting the validation logic directly unto the component itself is exactly something that I would avoid myself; when an input has 3 or more validation rules, when differen

[2016-08-19 14:56] bijoutrouvaille commented on #115
Haha, @yanickrochon. It seems that your pentiary error conditional could benefit from a little engineering concept called refactoring. jquery is a DOM manipulation library, and mixing that with business logic is the antithesis of separation of concern. If you use shallow rendering for unit testing, it's okay if a dependent UI kit requires jquery internally; it is never reached by the renderer.

[2016-08-20 13:45] yanickrochon commented on #113
So.... should I make a PR? This proposal should not break anything (or is trivial to fix).

[2016-08-22 00:32] jhernandezme opened #117 "Pass react context to Modal"
The actual implementation of the Modal doesn't work with react-router. Since it's a different tree, the context is not passed to the Modal.

[React Bootstrap approach.](https://github.com/react-bootstrap/react-bootstrap/blob/3b33652f7fe424f129af6a178411cc9fe67ed988/src/ModalTrigger.js#L65-78)

The core team also suggests to use
`ReactDOM.unstable_renderSubtreeIntoContainer(this, <Foo />, container

[2016-08-23 15:17] natearmagost commented on #112
@alextrastero It doesn't look like className is passed to the input. In my case I could get around it by adding a class of "uppercase" to a wrapper element.

But there is a Materialize input class of "filled-in" that doesn't seem to make it to the input either. See the [Green filled in checkbox](https://react-materialize.github.io/forms.html) for reference.

[code]

[2016-08-24 11:54] #117 closed

[2016-08-24 11:55] #96 closed

[2016-08-24 11:58] alextrastero commented on #113
But this is not materialize behaviour is it? in Materializecss you either have a progress or you have a indeterminated progress bar, right?

[2016-08-24 13:06] yanickrochon commented on #113
AFAIK the prop is there to be set, and I can set it (i.e. `indeterminate={false}`) as I please. However, this will simply ignore the prop and automatically guess it for me, which is contrast with the phiolosophy of material design, as I understand it. To me, having a progress of 0% does **not** mean an indeterminate value, it means a progress at 0%. If I mean an indeterminate state, I can just spe

[2016-08-24 20:16] jhernandezme opened #119 "Add support for open state in Modal"
Right now you can only open a modal if there is a button trigger that actually opens the modal, but for example if this modal is participating in a route like `/some/url/to/modal` it will be needed to have a initial state that tells to open the modal when the route loaded.

I actually do this by extending the OverlayTrigger into a custom OverlayTrigger,  and a new Dialog component that uses this t

[2016-08-25 03:51] jhernandezme opened #120 "Unknown property in OverlayTrigger"
[OverlayTrigger.js](https://github.com/react-materialize/react-materialize/blob/master/src/OverlayTrigger.js#L24)
[code]

onRequestHide is not a property of OverlayTrigger nor Overlay component which causes a warning.
<img width="964" alt="screen shot 2016-08-24 at 9 49 44 pm" src="https://cloud.githubusercontent.com/assets/3452489/17956145/c422c1ac-6a44-11e6-9cd2-9f2a7573de6b.png">

[2016-08-25 14:03] yanickrochon commented on #113
So, what is the conclusion on this? Can this non-breaking change be pushed to the source code of the progress bar component?

[2016-08-26 22:15] a-koka opened #122 "Tab missing ID and thus not working"
First of all, thank you for building this. It is an amazing piece of art!

I'm on `React 15.2` and looks like the `div` for a `Tab` isn't being assigned an ID and thus the tabbing functionality isn't working. I'd love to help if someone can point me in the right direction. I'm still relatively new to `React`.

Thank you!

[2016-08-29 17:53] yanickrochon opened #124 "Modal reusability"
Given a list of item, each have a part defined as

[code]

and the modal is manually defined as

[code]

At the moment, the `Modal` component seem to require a `trigger` prop.

How can this component be reusable? I don't want to create 500 if I have 500 items in my list.

**Edit**

A suggestion could be to have `trigger` be optional, and allow a `selector` prop to use when initializing the overlay

[2016-08-29 20:35] yanickrochon opened #125 "Modal reusability"
From the Materialize [documentation](http://materializecss.com/modals.html), this can be achieved :

[code]

And initialized with

[code]

It would be nice to be able to use the `Modal` component without requiring that `trigger` prop, but a `selector` one instead.

[2016-08-29 20:36] yanickrochon commented on #125
Had too many tabs open and didn't remember this one :P I have asked a similar on SO and on Materialize's own repo. My bad.

[2016-08-29 20:36] #125 closed

[2016-08-30 09:49] alextrastero commented on #124
Hey @yanickrochon, once again I can't understand you 100%. You are saying that because the Modal requires a trigger this component is not reusable?
If I wanted to create multiple Modals I would do it like this:
[code]

[2016-08-30 10:24] alextrastero commented on #122
Hey @a-koka, that should be fixed now in `0.15.2`

[2016-08-30 10:24] #122 closed

[2016-08-30 13:21] yanickrochon commented on #124
@alextrastero exactly the opposite, actually! One use case (with fictional props and callbacks)

[code]

... well, I'm writing this from the top of my head, not tested of course, but the point is there; I don't want to create a `Modal` for each item, but reuse the same one.

[2016-08-30 20:52] yanickrochon opened #127 "CollectionItem : add ...props"
Please, add `...props` to `CollectionItem` components.

[2016-08-30 21:13] yanickrochon opened #128 "Preserve Modal id when specified"
Currently, the `OverlayTrigger` component overrides the overlay's id by an auto-generated value. If an id is specified, it should be used instead.

That is, instead of

[code]

it should be

[code]

Since `this.props.overlay` is mandatory, and `props` is always an object, this should work in very cases.

[2016-08-30 21:15] yanickrochon commented on #4
Why is this an enhancement? It should be "wont fix" referring to the Materialize repo, no?

[2016-08-30 21:16] yanickrochon commented on #83
This is in the master branch, now. One must specify these using the `actions` props.

[2016-08-31 00:01] chasen commented on #85
+1

[2016-08-31 00:02] chasen opened #129 "Implement Multiple Select"
http://materializecss.com/forms.html#select-options-0b1e195e-3813-cfb0-9dd7-f108459fbf65

[2016-08-31 06:45] alextrastero commented on #124
Ok, so then why not create one Modal and make the be read from the state...
[code]

[2016-08-31 06:48] alextrastero commented on #113
Lemme look at this again

[2016-08-31 06:50] #83 closed

[2016-08-31 06:51] #4 closed

[2016-08-31 12:38] yanickrochon commented on #124
That would create `n` triggers and `n` content... and would not resolve the issue that `Modal` *requires* that `trigger` prop be set.

[2016-08-31 15:31] yanickrochon opened #131 "Implement Date Picker"
Integrating [date picker](http://materializecss.com/forms.html#date-picker) with the `Input` component should be trivial.

[2016-09-01 22:11] Neotriz commented on #83
Can someone post an example of a modal component with customizable footer?

[2016-09-01 22:30] yanickrochon commented on #83
[code]

As you can see, you can put whatever you want in the `actions` prop, just wrap your components/elements inside a root node, for example, in the case above, a `div`.

[2016-09-01 22:59] Neotriz commented on #83
Thanks a bunch! How were you able to figure out, if you don't mind answering?

[2016-09-02 01:19] yanickrochon commented on #83
I read the [source](https://github.com/react-materialize/react-materialize/blob/master/src/Modal.js#L77) :wink:

[2016-09-02 16:10] yanickrochon opened #132 ""name" attribute not set on SELECT element"
[code]

Only renders

[code]

Note that the SELECT element has no `name` attribute. This makes validation fail as many requires to set the validation on the form field's element name.

[2016-09-02 18:31] jumbosushi opened #133 "CollectionItem doesn't allow any attributes"
CollectionItem does not allow any attributes, so onClick or even using links with href doesn't work :/

[2016-09-02 18:37] yanickrochon commented on #133
I have the same problem. Currently, I get around this by setting an `id` attribute to it's parent (ex: `<Col s={12} id="listContainer"> ... </Col>`, then I listen to click events on children elements once the component has been rendered / updated

[code]

[2016-09-02 20:14] yanickrochon opened #134 "Button component does not allow custom props"
[code]

* Expected : `<a class="btn btn-flat" href="#foo">Foo</a>`
* Actual : `<a class="btn btn-flat">Foo</a>`

The component is missing the `...others` props.

[2016-09-03 08:53] alextrastero commented on #133
Hey @jumbosushi, check out #135 for a fix

[2016-09-03 08:53] alextrastero commented on #133
cc @yanickrochon

[2016-09-03 09:25] alextrastero commented on #134
Hey @yanickrochon check out #136

[2016-09-03 09:34] alextrastero commented on #132
#137 fixes this

[2016-09-03 13:40] yanickrochon commented on #133
:+1:

[2016-09-03 13:42] yanickrochon commented on #134
:+1:

[2016-09-03 13:44] yanickrochon commented on #132
:+1:

[2016-09-04 09:28] alextrastero commented on #129
@chasen check out #137

[2016-09-04 09:28] #134 closed

[2016-09-04 09:28] #133 closed

[2016-09-04 09:29] #132 closed

[2016-09-04 09:29] #127 closed

[2016-09-04 09:39] alextrastero commented on #128
@yanickrochon check out #138

[2016-09-04 16:35] alextrastero commented on #111
@yanickrochon #139  👀

[2016-09-04 16:36] alextrastero commented on #120
This should be fix when I apply #139

[2016-09-04 16:36] #120 closed

[2016-09-04 17:08] alextrastero commented on #113
ok @yanickrochon #140

[2016-09-04 17:10] alextrastero commented on #69
Closing, cant reproduce with latest version

[2016-09-04 17:11] alextrastero commented on #84
Closing unless it's still an issue

[2016-09-04 17:11] #84 closed

[2016-09-04 18:57] yanickrochon commented on #111
Excellent!!

[2016-09-04 18:57] #111 closed

[2016-09-04 18:58] yanickrochon commented on #113
This is acceptable :smile:

[2016-09-05 05:31] jhernandezb opened #141 "Lean Overlay is not being removed."
Basically the overlay (black screen) is removed when you click outside the modal or you press the `ESC` key , but if you are working for example with react-router this is not the case, since the componentWillUnmount only removes the modal and not the overlay

Few options
In [Overlay.js](https://github.com/react-materialize/react-materialize/blob/master/src/Overlay.js#L5)

[code]

Any other ideas?

[2016-09-05 07:10] #113 closed

[2016-09-06 07:20] rulatir opened #143 "Pagination is stateful, and the state doesn't always update when needed"
Currently Pagination is stateful - it stores currentPage in the state. This state sometimes doesn't update when the corresponding property changes:

![image](https://cloud.githubusercontent.com/assets/677694/18264674/03baddfa-7412-11e6-8da3-776c777ec572.png)

Another case (note the nonsense state that means "page 2 of 1"; a component should take care to never hold nonsense state, therefore I consi

[2016-09-06 07:28] alextrastero commented on #143
Hey @rulatir, you mean that when you paginate the state doesn't update? For me it works fine, what version are you using? Also, I can see in your screenshot that you only have 1 item

[2016-09-06 07:56] rulatir commented on #143
I paginate through a "search store" that holds filter parameters sent to the listing's server endpoint; those parameters also include the page number for pagination. That same page number from the search store is also passed as activePage prop to the Pagination component.

I understand that `items` in `Pagination` parlance actually mean pages - is my understanding wrong? (If it were to *actually*

[2016-09-06 08:23] alextrastero commented on #143
I see, thanks for the explanation, would this work? #144

[2016-09-06 09:07] rulatir commented on #143
I think this is even worse. You look at `this.props` and silently apply a correction if they are nonsensical, hiding an error in application logic. You might have a different approach to this, but I would be inclined to at least issue a warning.

My code *never* passes "page 2 of 1" props to `Pagination` - please look at the props in the screenshots. Instead this state *emerges* within `Pagination

[2016-09-06 10:35] alextrastero commented on #143
I understand, the fact that I'm checking the props initially is so it renders nicely.
I have added another lifecycle to listen to new props. Which will update the state accordingly.
However it still handles wrong values passed, ie. activePage needs to be in range with [0...items].
Have another look at the PR.

[2016-09-06 12:51] isaiah commented on #131
Because you can simply add a `datepicker` `className` property, I don't see much value to create a new Component. Probably it will increase the visibility, but we already recommend checking the materializecss documentation first :)

[2016-09-06 12:51] #131 closed

[2016-09-06 12:53] alextrastero commented on #129
merged

[2016-09-06 12:53] #129 closed

[2016-09-06 12:53] alextrastero commented on #128
merged

[2016-09-06 12:53] #128 closed

[2016-09-06 13:07] yanickrochon opened #145 "[v0.16.2] TypeError: Cannot convert undefined or null to object"
This is what I get whenever I modify any input field in my app

![selection_093](https://cloud.githubusercontent.com/assets/78461/18274599/312898c8-7411-11e6-934b-57959db1437c.png)

I'm not sure what it means... no values (i.e. no prop values) are not null or undefined.

[2016-09-06 14:05] rulatir commented on #143
I think I will post my own PR later today.

I'm afraid your proposed change is backwards incompatible: it will probably break code that *assumes* `activePage` is held in state. Currently `activePage` works similarly to `Input`'s `defaultValue`, and your change makes it work like `value`.

What I want is the ability to use `Pagination` as a "controlled input", but without breaking existing apps. Th

[2016-09-06 15:28] alextrastero commented on #143
Currently you can use the Pagination as a controlled input, if you pass a new activePage it will update. Please submit your PR and we'll have a look.

[2016-09-06 15:38] alextrastero commented on #145
Updated, check again

[2016-09-06 15:38] #145 closed

[2016-09-06 17:27] yanickrochon commented on #145
:+1:

[2016-09-07 11:22] evgenosiptsov commented on #33
Is there carousel component?

[2016-09-07 14:20] 8ctopotamus commented on #87
I am getting this error when using the <Tabs> component.
react 15.3.1
react-materialize 0.15.1

[2016-09-07 16:08] alextrastero commented on #87
hey @8ctopotamus, please get the latest version of react-materialize, this shouldn't be an issue anymore

[2016-09-07 16:34] 8ctopotamus commented on #87
Thanks @alextrastero! I updated and it works just fine!

[2016-09-08 14:13] yanickrochon commented on #124
Any development on this? The point of this issue is, really, to have the `trigger` prop optional. Basically, render a modal component, not visible, without any trigger.

What's the point? Well, that is to the developer. Without a trigger, indeed a modal is meaningless, this is why it needs to have an `id` prop / html attribute and have it be triggered from multiple external triggers.

For example,

[2016-09-08 16:34] yanickrochon opened #146 "Modal header value as component"
At the moment, `trigger` and `actions` are components while `header` is a string; it would be nice to allow `header` to be a component as well. Actually, it works already, but a warning is thrown.

[2016-09-09 14:37] arcifius opened #147 "Add icon to select input"
This one should be simple, i could even do it by myself if i got some extra time... Like on input texts I would like to see icons on select inputs too, this will make forms more styleable and following the same line of design... This isn't very important but i really think it will make difference.

[2016-09-09 20:57] jumbosushi commented on #133
Awesome. Thanks @alextrastero !

[2016-09-13 14:30] yanickrochon commented on #124
Bump.

[2016-09-15 17:41] alextrastero commented on #147
👍

[2016-09-19 11:16] rulatir commented on #87
As of react 15.3.1 and react-materialize 0.15.2, this is still an issue with `<Table>`:

[code]

[2016-09-19 12:12] javascriptlove commented on #87
Getting warning/error with react 15.3.1 and react-materialze 0.16.4:

[code]

The jsx looks like this:

[code]

[2016-09-19 12:54] smeijer opened #148 "[0.16.4] You are manually calling a React.PropTypes validation"
I get this error on a lot of other properties as well.

Code triggering this error:
[code]

[2016-09-19 13:22] alextrastero commented on #148
This is a new one... can you paste the js that produces this error?

[2016-09-19 14:09] rulatir commented on #148
DON'T DO ANYTHING!!! EVERYTHING IS AN ANTIPATTERN!!! EVERYTHING IS DEPRECATED!!!

... just React being its usual self.

[2016-09-19 14:18] alextrastero commented on #147
I'm afraid this can't be done on our side, it's part of Materializecss, you should raise an issue with them.

[2016-09-19 14:18] #147 closed

[2016-09-19 14:34] alextrastero commented on #143
Closing waiting for @rulatir's PR

[2016-09-19 14:34] #143 closed

[2016-09-20 08:03] smeijer commented on #148
@alextrastero, sorry. Added to the opening post.

[2016-09-20 14:46] arcifius opened #150 "Card render not using keys properly"
Well.. I've added key on Card component but nothing happens, perhaps is something internal?

Just try to render a Card with image and you'll see:
Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of `Card`. It was passed a child from <Some  Component>. See https://fb.me/react-warning-keys for more information.

[2016-09-20 14:58] wedneyyuri commented on #150
Are you passing the `key` property properly?

[code]

[2016-09-20 15:07] arcifius commented on #150
Yeah, i'm using this:

Also tried to pass key (<Card key={key+2} .../> to avoid unique constraints) to card but got the same warning...

[2016-09-20 15:18] alextrastero commented on #150
Yes, i'm also getting this error, lemme check it out

[2016-09-20 15:44] alextrastero commented on #150
So the issue is that `actions` is an array so each element needs a key:
[code]

[2016-09-20 15:51] alextrastero commented on #150
closing, let me know if any further issues

[2016-09-20 15:51] #150 closed

[2016-09-21 14:56] smeijer commented on #148
Errors are gone after updating react from `0.14.x` to `15.x.x`.

[2016-09-21 14:56] #148 closed

[2016-09-26 17:04] yanickrochon opened #152 "Support className passthrough"
User code should be able to set extra `className` values to just about any component.

* [x] `Button`
* [ ] `Breadcrumb` should set to the nav element
* [x] `Card`
* [x] `CardPanel`
* [ ] `CardTitle` should set to the top level div element
* [ ] `Chip` should set to the top level div element
* [x] `Col`
* [x] `Collapsible`
* [ ] `CollapsibleItem` should set to the li element
* [ ] `Collection` sho

[2016-09-26 17:19] alextrastero commented on #152
Yes indeed @yanickrochon, I'm currently working on basic specs for each component, I'm also fixing the 0.15 warnings and I will also pass className props to the above mentioned, thanks for this!

[2016-09-27 14:23] nazarposhta opened #153 "Can not close Horizontal FAB on mobile and tablet"
Hello! I have a problem with this https://monosnap.com/file/Kllz7CTA8grwByrgHESHAbWVwFXAVj
When I open this FAB and click to some one link my URL is changing - because "single page app" but how I can to close this FAB?  Problem is on mobiles and tablets only - on the computer hover event is working fine.

[2016-09-27 15:37] alextrastero commented on #153
Hi @nazarposhta, I'm afraid that's an issue with `Materializecss`

[2016-09-27 15:48] alextrastero commented on #153
They mention you can close it with `$('.fixed-action-btn').closeFAB();`

[2016-09-27 15:48] #153 closed

[2016-09-27 16:49] nazarposhta commented on #153
Very good but... if we use React we don't want to include jQuery

[2016-09-27 16:50] nazarposhta commented on #153
Is that possible to to put some state (opened / closed) to this FAB?

[2016-09-28 07:05] alextrastero commented on #153
Firstly, Materializecss requires jQuery, so it's already included.
Secondly, the animation happens when the FAB gets an `active` class, which is onHover. So I can't really remove it without making a few hacks.

I would go with the `closeFAB()`

[2016-09-28 09:07] nazarposhta commented on #153
It works. Thanks.

[2016-09-28 21:14] yanickrochon opened #155 "Button icon property has wrong alignment"
This component

[code]

is rendered as
![selection_095](https://cloud.githubusercontent.com/assets/78461/18932522/dfe41cd6-859e-11e6-872e-7a10618e9e1c.png)

However, if the icon had `className="left"`, it would render as

![selection_096](https://cloud.githubusercontent.com/assets/78461/18932547/f0b22b16-859e-11e6-9d0c-3441b8539297.png)

[2016-10-04 22:07] andreassteffen opened #156 "adding further footer buttons to Modal"
how can I add buttons in the footer section of the Modal component (e.g. submit/save)?
many thanks, A.

[2016-10-04 22:17] andreassteffen commented on #156
by using the (so far undocumented) actions property. thanks

[2016-10-04 22:17] #156 closed

[2016-10-05 22:33] zhsngq commented on #87
大量的警告！还能好好玩耍么？
`bundle.js:39886 Warning: You are manually calling a React.PropTypes validation function for the `children` prop on `NavItem`. This is deprecated and will not work in the next major version. You may be seeing this warning due to a third-party PropTypes library. See https://fb.me/react-warning-dont-call-proptypes for details.printWarning @ bundle.js:39886warning @ bundle.js:39910chec

[2016-10-11 10:02] nazarposhta opened #157 "Click-only FAB problem"
I decided to make FAB with "Click-only FAB". Is that possible?
According to materialize doc.  In original version it's possible:

[2016-10-20 02:34] jhillhouse92 commented on #112
@alextrastero any update on passing className?

[2016-10-20 12:49] alextrastero commented on #112
cc/ @jhillhouse92 @natearmagost

[2016-10-23 18:00] jhernandezme opened #159 "CollapsibleItem : allow node type in header prop"
CollapsibleItem only allow `PropTypes.string` but one of my use cases adds an icon along the header
 `<CollapsibleItem  header={(<span>Settings <i className="material-icons right">arrow_drop_down</i></span>)}`

which causes a warning, maybe using `oneOfType([PropTypes.string, PropTypes.node])`

[2016-10-28 13:02] yanickrochon opened #160 "Input does not support offset"
[code]

Does not position the input field along with the column above, as `offset` is not passed down.

[2016-10-31 00:18] yanickrochon opened #162 "CardTitle image required?"
This [example](http://materializecss.com/cards.html)

[code]

should be equivalent as this one

[code]

But it fails because `<CardTitle>` *requires* an `image` property, which is not required with Materialize.

[2016-10-31 00:23] yanickrochon commented on #162
Wait, I'm confusing `title` and `header`.... Closing this one, opening another :stuck_out_tongue:

[2016-10-31 00:23] #162 closed

[2016-10-31 00:26] yanickrochon opened #163 "Card element`s title not supporting element"
I am currently using the `Card`'s `header` prop to set my title, which contains formatting and UI elements, because `title` only accept a string.

It should be possible to do

[code]

[2016-10-31 07:03] alextrastero commented on #159
Hi @jhernandezme, you can use the icon prop of CollapsibleItem,
`<CollapsibleItem header='First' icon='filter_drama'>`.

Cheers

[2016-10-31 07:03] #159 closed

[2016-10-31 07:05] alextrastero commented on #160
Hi @yanickrochon, ideally only Col's are children of Row's:
[code]

[2016-10-31 07:05] #160 closed

[2016-10-31 07:10] alextrastero commented on #163
Hi @yanickrochon, please specify a use case for this to help me understand. So far, I know that materializecss instead this only to be a string because you should only add a simple title, any other element would break the design.

[2016-10-31 10:11] #112 closed

[2016-10-31 12:57] yanickrochon commented on #160
You are mistaken. You example produce this HTML :

[code]

Can you see both `.col` elements? This is wrong markup for the semantic of Materialize design.

[2016-10-31 13:01] yanickrochon commented on #163
That `<CustomElement />` may be adding a badge component (i.e. a `<span>` node) and an italic formatting element (i.e. `<em>`) for a suffix. Hardly any breaking threat. The restriction is simply unnecessary.

[2016-11-01 00:36] jhernandezme commented on #159
Hi @alextrastero thanks! this does works but I can not pass down the icon class like 'right' for right alignment, so should be there an iconClass prop?

[2016-11-01 14:22] yanickrochon opened #164 "Unknown prop `options` on <ul> tag."
In the code, the `Dropdown` component defines [`options`](https://github.com/react-materialize/react-materialize/blob/master/src/Dropdown.js#L62) as a prop type, but the `ul` renders [passing](https://github.com/react-materialize/react-materialize/blob/master/src/Dropdown.js#L26) that [prop](https://github.com/react-materialize/react-materialize/blob/master/src/Dropdown.js#L33).

[2016-11-03 14:37] yanickrochon commented on #80
This component is broken, this is why it is not working. For example, the materialize example shows that the following HTML markup

[code]

Should render as

![selection_101](https://cloud.githubusercontent.com/assets/78461/19970042/2954626c-a1b1-11e6-84fe-816d681f4db7.png)

with this DOM structure

![selection_104](https://cloud.githubusercontent.com/assets/78461/19970125/77a8299e-a1b1-11e6-913f-

[2016-11-03 19:10] yanickrochon commented on #80
See PR #165

[2016-11-05 05:11] reesmanp opened #166 "Smooth Scrolling Props with Collapsible"
This is definitely an enhancement and I can code this if there is any interest in this.

If there is a lot of content within a CollapsibleItem Accordion, clicking on the next item will collapse the currently open item and expand the clicked one (which is what we want) but it leaves the viewpoint where the user clicked on the item which may be quite a bit ways down the page forcing the user to scro

[2016-11-05 05:49] yanickrochon commented on #166
My view on this is that, while it may seem useful, this is user land in regard to this package, and there are many more priorities to implement, first.

[2016-11-06 02:00] reesmanp commented on #166
I agree that this isn't a priority right now but I do think that this should be part of the framework. As a user of the package, I would assume that this item should handle this inherently.

So priority should be low but not necessarily thrown into user land for implementation.

[2016-11-06 16:22] #164 closed

[2016-11-09 15:21] yanickrochon opened #169 "Render icon safely on mobile devices"
There are issues with icons being rendered on mobile devices, notably Android, where the icon ligature name is rendered instead of the actual icon. To solve this, one needs to convert the ligature name into the codepoint character string.

Since I wanted `<Icon>view_module</Icon>` but had to do `<Icon>&#xE8F0;</Icon>`, and I absolutely hate this loss of verbosity, I suggest adding an option to the

[2016-11-16 21:08] yanickrochon opened #170 "Modal trigger submit form on click"
The function [`showOverlay`](https://github.com/react-materialize/react-materialize/blob/master/src/OverlayTrigger.js#L29) should receive the `event` object and prevent the trigger's default behavior.

[code]

[2016-11-17 13:07] dacgray opened #171 "Modal not working in 0.97.7 or 0.97.8"

[2016-11-17 13:16] yanickrochon commented on #171
It works fine in 0.97.7, however version 0.97.8 introduce a [refactor in the Modal API](https://github.com/Dogfalo/materialize/commits/3be5561ea1a63f9c0580f9cf109376944324935a/js/modal.js) and requires that react-materialize need to be refactored also to reflect the changes.

If you issue is strictly with 0.97.7, then you'll have to be more precise on what's "not working".

[2016-11-17 13:17] alextrastero commented on #171
Yeah, they refactored a bit. I'll need to have a look and see what's changed

[2016-11-18 06:09] Peakdrum opened #172 "Can't change <Navbar/> link"
Hello,

I want the <Navbar /> logo to change the link or making it link to nothing. What should I do? Thanks

[2016-11-21 12:08] smeijer commented on #55
To bad this one is still missing. Is there any progress on this?

[2016-11-21 15:23] mihaibogdan10 opened #174 "Collapsible is comparing the internal key of children to activeKey"
I don't think we're supposed to access the `key` property of a component. As far as I understand it, that's for React's internal use only.

The problem I just ran into is that React added keys with a `.` prefix (to elements for which I didn't specify `key` at all). I don't know why it chose to do this, as it doesn't in other places of the app where I use Collapsible.

Here's a log of the props at

[2016-11-21 15:42] mihaibogdan10 commented on #174
cc @isaiah, it looks like you were the original author here: https://github.com/react-materialize/react-materialize/commit/9e0ab4f17d1f5a500a4e5a329e6d125b094dcca2

[2016-11-22 12:38] isaiah commented on #174
@mihaibogdan10 I think that's a bug, it's supposed to be `eventKey` instead of `key`, so when one uses `defaultActiveKey`, the `eventKey` for each entry should be provided.

[2016-11-22 13:22] mihaibogdan10 commented on #174
I see.
The thing is, with the current code, this stuff works sometimes (when React decides to use the `key` without the `.`, which is most of the time in my experience)
[code]

So fixing this will break this behavior. It's true that it shouldn't have worked at all, but I'm slightly worried a fix would break some people's code.

[2016-11-22 13:30] yanickrochon commented on #174
If the underlying issue is with React, there is not much we can do. I have looked at the code and it does what it's supposed to do. I would recommend reporting this instead of trying to create a fix, and ask that React generate keys consistently instead.

Also, it might be preferable to add the notice to the docs, that using `defaultActiveKey` is recommended to specify `CollapsibleItem`s' `eventKe

[2016-11-22 13:36] isaiah commented on #174
@yanickrochon If you post a second later, I would have posted my wrong comment :). I totally agree with the document part, it should be clearer. Is this behavior varies between react versions or even it's different within the same version of react?

[2016-11-22 13:39] yanickrochon commented on #174
I'll refer to @mihaibogdan10 for that question :smile: He is the one pointing out that React sometimes prefix with `.` and sometimes it doesn't. I have not contributed to that one project, yet.

[2016-11-22 14:14] mihaibogdan10 commented on #174
I am super sorry about this guys, the problem was on my end.
I had an internally modified version of Collapsible.js, that did
[code]
instead of
[code]

And yeah, this was a hack that relied on React generating keys without a `.` prefix.
I got the latest version of Collapsible.js and everything works fine now.

@yanickrochon I think the previous owner of the codebase that I'm working on didn't figu

[2016-11-22 14:34] #174 closed

[2016-11-22 15:13] mihaibogdan10 commented on #174
@isaiah it looks like the documentation is there already, but I wasn't able to get the docs generation to work 😢

[2016-11-22 18:38] isaiah commented on #174
@mihaibogdan10 I check the doc site, it doesn't say that when you use `defaultActiveKey`, you have to provide the `eventKey` property.

[2016-11-23 10:36] isaiah commented on #174
@mihaibogdan10 the doc generation is broken for a while, the issue is here https://github.com/jquense/react-component-metadata/issues/6. I'll take a look.

[2016-11-23 16:18] isaiah commented on #174
http://react-materialize.github.io/collapsible.html site updated. @mihaibogdan10 you should be able to generate the document again.

[2016-11-23 21:25] jumbosushi opened #175 "CSS is broken on the website"
<img width="1120" alt="screen shot 2016-11-23 at 1 24 35 pm" src="https://cloud.githubusercontent.com/assets/9669739/20579187/3a596470-b180-11e6-86ef-28576fd92057.png">

[2016-11-24 10:08] nazarposhta commented on #175
I need to read that docs..... and s*** what to do?

[2016-11-24 15:42] alextrastero commented on #175
Yes, sorry guys. We are using css from `node_modules/materializecss...` In order for this folder and vendor we needed to create a `.nojekyll` file. Which basically tells the server to not ignore these folders.

More info here: https://www.bennadel.com/blog/3181-including-node-modules-and-vendors-folders-in-your-github-pages-site.htm

[2016-11-24 15:42] alextrastero commented on #175
cc @nazarposhta @jumbosushi

[2016-11-24 15:42] #175 closed

[2016-11-25 07:30] alextrastero commented on #171
This is fixed with https://github.com/react-materialize/react-materialize/commit/eaf85b7d4b71386ece4dca5eac16b23decde08b0

[2016-11-25 07:30] #171 closed

[2016-11-25 07:43] richmeij commented on #55
Oh dear, I totally forgot about this issue. Is it still something that needs to be addressed? @isaiah

[2016-11-25 07:44] alextrastero commented on #55
Hi @richmeij, that would be great :D

[2016-11-25 08:38] richmeij commented on #55
Allright! I'll get on it! :D

[2016-11-25 10:33] anaganisk opened #177 "Datepicker not working"
I've seen the earlier issues on this but now the date picker is not working at all
I tried
`<Input className='datepicker' type='text' />`
and
`<Input className='datepicker' type='date' />`

[2016-11-28 11:52] isaiah commented on #169
A separate project sounds better, since it's mobile (android?) specific. And it could be updated independently.

[2016-11-28 11:57] isaiah commented on #177
@anaganisk we don't have a explicit support for datepicker, from the materializecss.com website, it requires an explicit initialization:

http://materializecss.com/forms.html#date-picker

[code]

[2016-11-28 12:06] isaiah commented on #172
Do you mean the `href` of the logo? it's hardcoded unfortunately :(

https://github.com/react-materialize/react-materialize/blob/master/src/Navbar.js#L49

A PR is welcome :)

[2016-11-28 12:18] isaiah commented on #166
@reesmanp sounds interesting, if you can provide a PR :)

[2016-11-28 12:20] isaiah commented on #141
@jhernandezme PR is always welcome :)

[2016-11-28 12:30] isaiah commented on #163
I think a better solution will be allow specify of the text style, it's currently hardcoded to the same as the materializecss.com style.

https://github.com/react-materialize/react-materialize/blob/master/src/Card.js#L33

[2016-11-28 12:33] isaiah commented on #155
Which is the preferred style?

[2016-11-28 12:38] isaiah commented on #124
@yanickrochon So the only requirement is to make the `trigger` property optional, right? We can make it happen.

[2016-11-28 12:40] isaiah commented on #119
@jhernandezme do you mean you need the ability to inject a callback for the `showOverlay` event?

[2016-11-28 12:48] isaiah commented on #102
This is a nice feature actually, would you expect something like this?

`<Autocomplete name='country' data={this.getData} />`

[2016-11-28 12:50] isaiah opened #188 "Better integration with react-router"
Just checked the issues backlog, seems there are quite a few issues with `react-router` users, mostly focused on the `modal` component, if there is anything else, please comment in this thread.

[2016-11-28 12:53] anaganisk commented on #177
Thanks for the reply, Tried that but it wont work, datepicker works fine on non react websites, will find some work around and will get back.

[2016-12-02 00:58] reesmanp commented on #80
This issue still exists. I am on version 0.17.6 and clicking on my collapsible item does nothing.

Why does each collapsible item have their own state? The state should be managed by the parent, be it collapsible or something else. If I remove the state from collapsible item and change it purely to props, then everything works just as expected.

[2016-12-02 00:59] reesmanp commented on #166
@isaiah I'll get right on it.

[2016-12-02 06:02] mikeschaekermann opened #190 "Font Awesome icons"
In the docs, there is an example of a button using a Font Awesome icon:

[code]

When I try to run the code myself, however, the icon doesn't show up. Has the syntax changed for Font Awesome?

[2016-12-02 08:17] alextrastero commented on #190
Did you add the html markup like in the README ? Is there any error on the
console ?

On Dec 2, 2016 07:02, "mikeschaekermann" <notifications@github.com> wrote:

[2016-12-02 14:16] mikeschaekermann commented on #190
Yes, I added all the html markup, and there is no error in the console. It
seems like the `faicon` prop that I pass into `<Button ... >` is just
ignored. Searching the entire `react-materialize` repo for `faicon` didn't
really retrieve any occurrence of this term in the implementation. So, I
wonder if this feature is actually implemented?

On Dec 2, 2016 3:17 AM, "Alexander Odell" <notifications@g

[2016-12-02 15:42] alextrastero commented on #190
If you look in src/Button.js you can find some node with fa class

On Dec 2, 2016 15:16, "mikeschaekermann" <notifications@github.com> wrote:

[2016-12-02 15:55] mikeschaekermann commented on #190
I just looked at the file, but couldn't find a Font Awesome class being
used anywhere. Could you point me to the line in the file?

On 2 December 2016 at 10:42, Alexander Odell <notifications@github.com>
wrote:

[2016-12-02 15:58] alextrastero commented on #190
Button has an icon prop, pass a icon name as the value to see it in action

On Dec 2, 2016 16:55, "mikeschaekermann" <notifications@github.com> wrote:

[2016-12-02 22:08] mikeschaekermann commented on #190
It seems to me that the `Icon` component only supports icons from the `material-icon` family though. Is there a way to use Font Awesome icons with it?

[2016-12-02 22:11] alextrastero commented on #190
As far as I understand the material icons are font awesome icons, maybe
there's a specific one that doesn't work for you?

On Dec 2, 2016 23:08, "mikeschaekermann" <notifications@github.com> wrote:

[2016-12-02 22:15] mikeschaekermann commented on #190
Oh I see. There is not a specific icon I was missing. I just realized that some of the Font Awesome icons either have different names or look different than the material icons.

[2016-12-02 22:18] alextrastero commented on #190
Yeah, they're actually material design icons
http://materializecss.com/icons.html

On Dec 2, 2016 23:15, "mikeschaekermann" <notifications@github.com> wrote:

[2016-12-02 22:22] mikeschaekermann commented on #190
Ok, makes sense. Thanks for your help! :)

[2016-12-02 22:22] #190 closed

[2016-12-04 07:10] jsbranco commented on #33
@evgenosiptsov  Not sure if you were able to find down if there is such component. I don't see anything in the code which has it.

[2016-12-06 18:16] jumbosushi opened #193 "Select Input's default value not working"
Ver: 0.14.4

When the select dropdown is used with multiple options, placeholder or selected becomes the first item in the list. If I use defaultValue instead it does not let me update to new select value (same issue with #85).

Has there been an version update to fix this issue, or is there any workaround for it?

[2016-12-07 04:51] keerati opened #194 "Button is not disabled when using disabled attribute"
Ex.
[code]

Expected result
[code]

Actual result
[code]

It makes the button clickable and be able to receive click event.

[2016-12-09 09:31] #194 closed

[2016-12-14 12:00] arunkumarpalaniappan opened #196 "Tabs/Tab not working on initial load"
I have created a react component using Tabs, It is not working on initial load but works once i reload the page.

My render function is as below

[code]

[2016-12-14 13:57] alextrastero commented on #196
@arunkumarpalaniappan I've just tried your example and it works for me.

[2016-12-14 13:57] alextrastero commented on #196
I tried without the custom styles

[2016-12-20 19:32] reesmanp commented on #166
This seems to be working correctly.

[2016-12-20 19:32] #166 closed

[2016-12-29 02:27] alduethadyn commented on #55
How's it going @richmeij? Need any assistance? :)

[2016-12-29 23:45] a-koka commented on #196
Same problem here. Tabs worked fine on `0.15.2` and are now broken on `0.17.6`.

[2016-12-30 02:53] arunpalani-vbi commented on #196
Same here, I using 0.17.5 , Tabs not working as expected.

[2016-12-30 02:55] arunkumarpalaniappan commented on #196
@alextrastero  Create Two Componets(with and without tabs), Navigate from one without tab to with tab using React Router/Flux , Tabs not working. It works if I refresh the page manually.

[2016-12-30 05:48] arunpalani-vbi commented on #196
thanks @a-koka  for a temporary fix..

Downgraded to version 0.15.2, it works fine for now..

[2017-01-02 05:18] a-koka commented on #196
@alextrastero This seems like a bug and not a question. I'm using `Tabs` with `react-router` and as pointed above, they seemed to work fine on `0.15.2`. I'm not sure how @arunkumarpalaniappan is reloading the page to fix his issue. Content from all `Tab`s render on the new version.

[2017-01-02 05:21] a-koka opened #200 "Input onChange not sending value"
How does one go about getting the value of `switch` and `checkbox` type `Input` fields? The `onChange` triggers with the same initial value regardless of the `Input` state.

[code]

[2017-01-02 05:37] arunkumarpalaniappan commented on #196
@a-koka I'm making a hard refresh to make it work.

`(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }
    else
      localStorage.removeItem('firstLoad');
  }
})();`

Or once you reached Tabs Page, hit F5 or Refresh button once..

Then the tab contents will be shown correct

[2017-01-02 05:47] a-koka commented on #200
My bad. Just needed to use `e.target.checked`.

[2017-01-02 05:47] #200 closed

[2017-01-02 08:12] alextrastero commented on #196
#201 Sorry for the delay
0.17.7 Fixes this issue

[2017-01-02 08:12] #196 closed

[2017-01-02 14:25] richmeij commented on #55
Hey @alduethadyn, I just started working on it this week. I will post any questions I have in this thread.

[2017-01-03 19:58] reesmanp commented on #172
@Peakdrum this issue should now be fixed. Please let us know.

[2017-01-03 20:35] richmeij commented on #55
Hi guys,
I made a PR (#202) for this to see if I'm moving in the right direction. Any input is appreciated!

[2017-01-04 14:55] isaiah commented on #85
@alextrastero any update?

[2017-01-04 15:09] alextrastero commented on #85
Forgive me but I still don't understand where the issue is:
[code]

`value` comes from the target of the input

[2017-01-04 16:28] rulatir commented on #85
Did you mean "target of the event"?

[2017-01-04 16:34] alextrastero commented on #85
Ups, yes, that's what I meant

[2017-01-05 22:59] reesmanp commented on #80
This might be fixed via #189

[2017-01-09 04:04] arunkumarpalaniappan opened #207 "After Migrating to Latest Version, Tabs Header Size reduced."
[![tabs.png](https://s28.postimg.org/snpkbd2dp/tabs.png)](https://s28.postimg.org/snpkbd2dp/tabs.png)

Refer the image for the same.

Previsoly it is completely occupied.

[2017-01-16 09:50] alextrastero commented on #80
not fixed yet :)

[2017-01-16 21:09] BkunS opened #210 "placement inside <Slide> doesn't work, here's the fix"
I think there's a small bug in the Slide.js code where I've installed through npm that causes placement="center/right" not working.

After looking at the source code installed through npm, fix is simple:
In this piece of code (around line 59 in ^0.17.7):
...
value: function renderCaption() {
      var _props = this.props,
          title = _props.title,
          className = _props.className,

[2017-01-18 17:43] lloydwatkin opened #211 "Ability to pass options to Navbar javascript initialiser"
As per http://materializecss.com/side-nav.html#options I'd like to pass options in to the initialisation. I'd imagine this would be quite easy via a prop `sideNavOptions` or similar. Code would need to go here: https://github.com/react-materialize/react-materialize/blob/master/src/Navbar.js#L14

Creating an issue in case someone would like to pick up else I'll submit a PR when I get to this piece

[2017-01-25 09:11] alextrastero commented on #207
Hey @arunkumarpalaniappan works for me with like this:
[code]
can you paste here the code that's not working for you?

[2017-01-25 09:16] arunkumarpalaniappan commented on #207
[code]

Output:

[![tabs1.png](https://s23.postimg.org/cucvudabv/tabs1.png)](https://s23.postimg.org/cucvudabv/tabs1.png)

[2017-01-25 09:20] alextrastero commented on #207
[code]
Output:
![screen shot 2017-01-25 at 10 20 29](https://cloud.githubusercontent.com/assets/4152819/22284510/ef1d0e1e-e2e7-11e6-83f0-5d2bac30f201.png)

[2017-01-25 09:27] alextrastero commented on #211
hey @lloydwatkin I just merged 0.17.8 which includes a new SideNav from @richmeij, would you mind checking it out and seeing if this is possible now?
ref: https://github.com/react-materialize/react-materialize/blob/master/src/SideNav.js#L12

[2017-01-25 09:42] lloydwatkin commented on #211
Thanks @alextrastero, however I'm using `<Navbar/>` rather than `<SideNav/>` and allowing materialize to do the work of handling navigation. Therefore this change isn't really of use to me until it gets implemented in `Navbar.js#14`.

[2017-01-25 10:27] arunkumarpalaniappan commented on #207
![tabs](https://cloud.githubusercontent.com/assets/11667975/22286921/ce19248a-e316-11e6-8f8b-b4390f0e177f.PNG)

I have verified all CSS applied, But still no improvements..

[2017-01-25 12:42] richmeij commented on #55
Closing this since the PR (#202) has been merged! :tada:
cc @alduethadyn

[2017-01-25 12:42] #55 closed

[2017-01-28 11:38] jsbranco opened #212 "$(...).sideNav is not a function when using Navbar"

[2017-01-28 11:38] #212 closed

[2017-01-30 17:10] reesmanp commented on #157
@nazarposhta This should work now. Please let us know so we can close this issue.

[2017-02-04 01:31] johhansantana commented on #69
I got this error as well

code:

[code]

<img width="592" alt="screen shot 2017-02-03 at 9 30 05 pm" src="https://cloud.githubusercontent.com/assets/9933887/22614416/047eb5f6-ea58-11e6-96c8-932335effd80.png">

[2017-02-07 10:44] williamfelippe opened #216 "Modal close button"
Is there a way to show modal without the close button?

[2017-02-07 10:49] alextrastero commented on #216
hey @williamfelippe, actions is the modal prop you are looking for, it's supposed to be a `node`, try passing an empty object or maybe even a `&nbsp;`, for now...

[2017-02-07 11:34] shtyboy opened #217 "PaginationButton will go to index page when i use react-router's hashHistory."
I use a Pagination component but it can't set href. It will go to index page when i use react-router's hashHistory at the same time. So i think it maybe  better to delete href if it didn't exist.

[2017-02-07 13:04] williamfelippe commented on #216
I have tried the empty object but did not work. The &nbsp; worked. I'd never imaginate that!
Thank you @alextrastero !

[2017-02-07 13:04] #216 closed

[2017-02-16 17:20] johhansantana opened #219 "How to contribute?"
Hello

I recently did a PR #218 but I couldn't test it directly via npm installing it from github. I had to copy/paste manually the `lib` folder into the `node_modules/react-materialize` since it was missing when doing `npm install <my github fork> --save`

I haven't done a lot of repository fork when I do install it directly from github it installs correctly but it doesn't seem to work, keeps say

[2017-02-17 14:34] alextrastero commented on #219
Hey @johhansantana, if you clone the project then cd into `react-materialize` and then `npm install` it should work?

[2017-02-18 14:37] johhansantana commented on #219
Yes it does but for the moment, until and if the PR gets acepted, I would like to use my fork when deploying my app and `npm install` directly from the fork doesn't seem to work or I need to do some configuration changes to the `package.json` of the forked repository which I'm not really sure.

[2017-02-18 14:48] wedneyyuri commented on #219
Hi Johhan, maybe `npm link` can make it work for you!
https://docs.npmjs.com/cli/link

____________________________________________________________
___________________
*Wédney Yuri | **Web Developer*
Tel: +55 21 98092 0692 | Github <https://github.com/wedneyyuri> |
Stackoverflow <http://stackoverflow.com/users/3738720/w%C3%A9dney-yuri>
Campo Grande | Rio de Janeiro, Brazil

2017-02-18 12:37 GMT-02

[2017-02-21 00:00] GGross5213 commented on #177
@anaganisk Did you find a work around for the datepicker?

[2017-02-21 04:53] anaganisk commented on #177
@GGross5213 No, I ended up building my own.

[2017-03-06 12:58] williamfelippe opened #221 "Autocomplete widget"
There is an intention to implement the Autocomplete?

[2017-03-06 17:42] reesmanp commented on #221
The autocomplete component has been implemented and will be deployed with the next release as per pull request #199

[2017-03-08 14:20] nvana opened #222 "SideNav is not working on demo website"
SideNav is not working on demo website (`https://react-materialize.github.io/sidenav.html`) but it's working on localhost. I have no idea why.

[2017-03-16 09:41] pricetula commented on #222
Its not working on their website too
![screenshot from 2017-03-16 12-39-08](https://cloud.githubusercontent.com/assets/3857337/23990015/bb8d42aa-0a45-11e7-9c7e-31902fc4c0be.png)

[2017-03-16 10:05] alextrastero commented on #222
yeah we are aware, will try and fix asap, have you tried the `sideNav` on another project?

[2017-03-24 17:11] nfatah commented on #188
I get this error when using `react-router-dom`'s rr version 4 `NavLink` which basically has an anchor tag. To make my navbar links work with RR4 and still be aligned on the navbar I have to place `NavLink` inside `react-materialize`'s NavItem component which also returns an anchor tag. Hence this warning

`warning.js:36 Warning: validateDOMNesting(...): <a> cannot appear as a descendant of <a>. Se

[2017-03-25 09:12] alextrastero commented on #188
hey @nfatah, you could also use it like this:
[code]

[2017-04-03 16:46] tamitutor commented on #80
yep, still broken

[2017-04-07 19:15] rennitir08 opened #227 ".sideNav() is not a function in SideNav.js"
Uncaught TypeError: $(...).sideNav is not a function
    at SideNav.componentDidMount (SideNav.js:47)

getting this error while pulling this library in from the react module.

![screen shot 2017-04-07 at 3 22 52 pm](https://cloud.githubusercontent.com/assets/25062273/24815957/07d9958a-1ba5-11e7-8e1b-edccbc52ebb5.png)
![screen shot 2017-04-07 at 3 23 10 pm](https://cloud.githubusercontent.com/asset

[2017-04-08 17:02] JamesHealdUK opened #228 "NavBar automatically hides items on medium or lower for mobile in place of a SideNav."
This is fine for some use cases but its not always ideal, especially if youre only dealing with a few icon buttons in your nav.

Itd be a good idea to add a prop for enabling and disabling it.

[2017-04-08 17:56] reesmanp commented on #228
I can get behind this.

[2017-04-09 09:00] alextrastero commented on #227
Hey @rennitir08 could you paste here your `index.html`?

[2017-04-09 12:11] rennitir08 commented on #227
Hi, sure!

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <

[2017-04-09 12:11] rennitir08 commented on #227
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="s

[2017-04-09 17:38] alextrastero commented on #227
Seems like the `materialize.min.js` is broken, try replacing with the CDN version
[code]

[2017-04-09 17:54] rennitir08 commented on #227
that absolutely worked, thank you!

[2017-04-09 18:14] #227 closed

[2017-04-15 13:39] dancork commented on #219
You can add a github repo to your package.json to use a fork. e.g. `"react-materialize": "username/react-materialize",`. This is what I've done whilst waiting for PRs to get merged on other projects.

[2017-04-15 15:51] ahmad2smile commented on #222
I build the source for the docs & It works there. Is anyone working on it? No PR that I see.. and the site demo still no working.

[2017-04-16 11:40] isahgaga commented on #177
@anaganisk I am having thesame issue. Can I get any help? I can't build my own

[2017-04-30 20:00] ingin opened #233 "Accessing PropTypes via the main React package for autocomplete component"
As you've fixed this for other components, could you please fix it for autocomplete component ?
Tks,
Best regards

[2017-05-01 22:43] TheHandsomeCoder opened #234 "Dropdown components options don't get applied if `hover` is missing or false"
When attempting to use the `belowOrigin` option of the dropdown I found that it was not working. I tried several other options and none except `hover` worked. When I pair `hover` and any other options they work as expected.

Does anyone have a way of using this library with codepen so I can attempt to repeat it

[2017-05-01 23:08] TheHandsomeCoder commented on #234
I have found a workaround currently which involves manually setting the data attribute for belowOrigin on the trigger

[code]

[2017-05-01 23:19] TheHandsomeCoder commented on #234
Upon further investigation, I believe this may be a materialize issue rather than a react-materialize issue

[2017-05-02 09:37] alextrastero commented on #234
cool, so closing ok?

[2017-05-02 09:39] TheHandsomeCoder commented on #234
I'm hoping to test materialize today to confirm if it's an issue with the
library itself, if it is I'll close the defect here

On 2 May 2017 at 10:37, Alexander Odell <notifications@github.com> wrote:

--
- Scott

[2017-05-03 07:47] caritosteph commented on #233
The Autocomplete file still generating the following:

could you please fix it, please?

[2017-05-03 09:47] #221 closed

[2017-05-03 09:48] alextrastero commented on #233
fixed in 0.18.3

[2017-05-03 09:48] #233 closed

[2017-05-07 10:53] hermano360 opened #236 "Accessing Values from Inputs"
In the traditional React inputs in forms, you are able to access the values with this.refs.title.value, for example. Is there a simple way to access the values that are written by the user? Thanks!

[2017-05-07 16:40] antoinedejonckheere opened #237 "Mobile Responsive Navbar should be closed programmatically"
Would it be possible to implement a way to close the SideNav that is rendered in the mobile version of the NavBar in a programmatic way.

Use case:
 I'm using a NavBar as navigation menu for a react website using react-router.
When on mobile view, when I click on a menu item, I get redirected but the SideNav remains open.

I would be great to have an option to automatically close the SideNav OR ha

[2017-05-07 17:54] alextrastero commented on #236
Hey @hermano360 if you've added a `ref` to the `Input` you can get the input value with:
[code]

[2017-05-07 17:55] alextrastero commented on #236
please reopen if this is not solved

[2017-05-07 17:55] #236 closed

[2017-05-07 18:02] alextrastero commented on #237
Hi @antoinedejonckheere, if you add a `ref` to the `SideNav` you can close it with:
[code]

please reopen if it's not solved :)

[2017-05-07 18:02] #237 closed

[2017-05-07 18:02] #234 closed

[2017-05-07 18:02] alextrastero commented on #234
no answer so closing :)

[2017-05-07 18:04] #219 closed

[2017-05-07 18:04] alextrastero commented on #217
@shtyboy how did you solve this?

[2017-05-07 18:05] alextrastero commented on #210
Hey @davidsunsbk would you like to submit a PR with your fix?

[2017-05-07 18:14] alextrastero commented on #207
Hey @arunkumarpalaniappan was this solved?
please reopen if not :)

[2017-05-07 18:14] #207 closed

[2017-05-07 18:14] alextrastero commented on #188
Closing, please reopen if not fixed :)

[2017-05-07 18:14] #188 closed

[2017-05-07 18:15] #172 closed

[2017-05-07 18:15] alextrastero commented on #102
this has been implemented

[2017-05-07 18:15] #102 closed

[2017-05-07 18:15] #87 closed

[2017-05-07 18:16] alextrastero commented on #217
please reopen if not

[2017-05-07 18:16] #217 closed

[2017-05-07 18:16] alextrastero commented on #170
please reopen if this is not fixed

[2017-05-07 18:16] #170 closed

[2017-05-07 18:17] #169 closed

[2017-05-07 18:17] #163 closed

[2017-05-07 18:17] #157 closed

[2017-05-07 18:17] alextrastero commented on #155
Hey @yanickrochon please reopen if this is not fixed

[2017-05-07 18:17] #155 closed

[2017-05-07 18:18] alextrastero commented on #119
Hey @jhernandezme please reopen this issue if not fixed, cheers

[2017-05-07 18:18] #119 closed

[2017-05-07 18:19] alextrastero commented on #85
Please reopen this if not fixed :)

[2017-05-07 18:19] #85 closed

[2017-05-07 18:19] alextrastero commented on #74
please reopen if this is not fixed :)

[2017-05-07 18:19] #74 closed

[2017-05-07 18:22] alextrastero commented on #193
Hey @jumbosushi please reopen if this is not fixed

[2017-05-07 18:22] #193 closed

[2017-05-08 10:53] alextrastero commented on #211
Hey @lloydwatkin, NavBar doesn't accept options:
http://materializecss.com/navbar.html

Closing

[2017-05-08 10:53] #211 closed

[2017-05-08 10:55] alextrastero commented on #222
#239 fixes this

[2017-05-08 10:55] #222 closed

[2017-05-08 10:59] alextrastero commented on #177
This does work:
[code]

[2017-05-08 10:59] #177 closed

[2017-05-08 11:19] lloydwatkin commented on #211
HI @alextrastero, I'm off this project so not 100% on the context, but from what I can remember the side nav is rendered using children via the navbar (https://github.com/react-materialize/react-materialize/blob/master/src/Navbar.js#L10) but I needed to pass options to that rendered sidebar.

[2017-05-08 14:13] antoinedejonckheere commented on #237
@alextrastero how can I do this specifically with the `NavBar`, since i'm not directly handling the `SideNav`?

[2017-05-08 14:39] alextrastero commented on #237
You can use it for the `NavBar` too, give it a ref and use the jquery method

[2017-05-08 14:39] alextrastero commented on #237
the method being: $(this.refs.myNavBar).sideNav('hide');

[2017-05-09 15:54] #124 closed

[2017-05-09 16:45] alextrastero opened #243 "Add Autocomplete to DOCS"
Autocomplete component was added sometime ago but there's no example on the DOCS, now that the docs are new, they're easy to setup and maintain, would be great if someone could have a look at this. :)

[2017-05-11 01:45] davidsunsbk commented on #210
Here's the fix I've just submitted: #244

[2017-05-11 07:39] alextrastero opened #245 "Add Toast to DOCS"
Currently there's no examples for the `Toast` component in the docs, it would be great if someone could grab this.

[2017-05-11 12:19] jordanwallwork opened #246 "Opening modals programatically?"
I need to use a modal without having a specific trigger button, this this possible?

To clarify my use case, if a user is logged in and tries to do something requiring login a modal with a registration/login form pops up in a modal, so I need to be able to trigger it programmatically as there are multiple possible triggers throughout the application

[2017-05-12 08:25] isaiah commented on #245
The original `Toast` is very jQuery heavy, if we could implement one without jQuery would be fanstastic!

[2017-05-15 03:40] yurikilian opened #247 "Help in datepicker component"
Hi, I'm trying to create a DatePicker component but it gives me the error: Uncaught TypeError: a.addEventListener is not a function. What am I doing wrong?

[code]

Thanks

[2017-05-15 23:22] yurikilian commented on #177
Hi. What module I need to import to get this working?

I tried:
[code]

But get no success. Error: Uncaught TypeError: (0 , _jquery2.default)(...).pickadate is not a function

[2017-05-15 23:22] #247 closed

[2017-05-16 07:52] alextrastero commented on #246
Hey @jordanwallwork, this is how I get it working:
[code]

[2017-05-16 07:53] alextrastero commented on #246
please reopen if it's still an issue

[2017-05-16 12:35] yurikilian opened #248 "Datepicker doesn't work"
Hi. What module I need to import to get this working, assuming that I installed the lib by NPM?

I tried:

[code]
But get no success. Error: Uncaught TypeError: (0 , _jquery2.default)(...).pickadate is not a function

[2017-05-17 00:07] yurikilian commented on #248
Has I used create-react-app, I solved that using window.$ instead.

import React from 'react';
import {Input} from 'react-materialize';
import $ from 'jquery';
import 'materialize-css';

export default class DatePicker extends React.Component {

    componentDidMount() {
        window.$('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15
        });
    }
    render() {

[2017-05-17 00:07] #248 closed

[2017-05-19 01:46] yurikilian opened #249 "How properly instantiate a datepicker / jQuery at test level doesn't work ?"
Hi.

I successfully made  a DatePicker component using the available libraries from react-materialize.
However, I cannot use the component without declare materialize-css and jquery deps on index.html.

I used create-react-app facility.

Here is my code:

[code]

When I make an test with full Rendering throws me the error bellow:

[code]

Here is my test:
[code]

Can someone help me to achieve com

[2017-05-19 10:24] shtyboy commented on #217
@alextrastero

[2017-05-21 01:59] Ardhimas opened #250 "Reason for using jQuery tabs instead of just implementing tabs in React?"
I'd like to know why you guys decided to use jQuery tabs instead of just building a React component with its own state that renders different children. I've built tabs from scratch before, and I think it will work better in the long run. I am also still getting the issue several others outlined in #196 that was supposedly fix.

`modules.js?hash=14e26c4…:29957 Uncaught TypeError: $(...).tabs is not

[2017-05-22 00:43] yurikilian commented on #250
Hi! I'm having this same issue in #249 . What I've done for now is simply use window.$ instead. But this does'nt permit that you make a full render test in your components.

`window.$('....') `

[2017-05-22 11:39] isaiah commented on #250
@Ardhimas Getting rid of jQuery is an very ambitious project, as the upstream (materializecss.com) is implemented with jQuery. It definitely works better in the long run, however that's a lot of work, and we need help from you guys.

[2017-05-22 12:35] yurikilian commented on #249
ps: i user webpack provide plugin but get no succcess in use $ at global context. Can someone tell me how  to achieve this without declare jquery dep on index.html?

[2017-05-22 12:42] alextrastero commented on #249
This project doesn't work without jQuery, is there a specific reason why you don't want to add the jquery dependency in index.html ?

[2017-05-22 12:50] yurikilian commented on #249
Hi @alextrastero  tks for reply. I'm using enzyme and the mount function to do a full render test.
I'm trying not to remove jquery, but put the lib in a global context that I can test my components in isolation.

In the test bellow, when a run it I get `TypeError: window.$ is not a function` because the jquery lib is at index.html, not in component itself.

[code]
The code of <DatePicker /> compen

[2017-05-22 12:53] alextrastero commented on #249
ok, you can mock the Datepicker call method and simulate a click on check that Datepicker has been called.

Add the global method here: https://github.com/react-materialize/react-materialize/blob/master/test/helper.js

And check how it was done here: https://github.com/react-materialize/react-materialize/blob/master/test/SideNavSpec.js#L68

Good luck!

[2017-05-23 02:09] HappyZombies opened #253 "Input component prop 'defaultValue' value does not update on component re-render."
See Gist with two component classes to replicate.

https://gist.github.com/HappyZombies/166fb21e979975067738b794030ac8a4

[2017-05-23 11:24] HappyZombies commented on #253
As it turns out this is just the behaviour of defaultValue.
https://github.com/facebook/react/issues/4101
I implemented the solution that was provided there.

I should've done more googling before creating a defect.

[2017-05-23 11:24] #253 closed

[2017-05-25 09:26] alextrastero opened #254 "Add Container, Divider and Section to DOCS"
3 new components need to be added to the DOCS

[2017-05-26 09:44] alextrastero opened #256 "Clean up DOCS assets folder"
Currently, when we run `npm run build` all files are dropped into `docs/assets`, this needs to be a bit more tidy, i.e. fonts in specific folder and other cleanup

[2017-05-28 00:35] kenanchristian opened #258 "Get value from datepicker"
Hi there, I'm successfully created a datepicker using the solution from issue #177, which I modified become like this
[code]

Now how can I get the value of the set date from it? The onChange handler doesn't seem to work

[2017-05-28 13:32] yurikilian commented on #258
Hi. This doesn't worked for me. What I do was create a new component using input field.

See this code below:

`import React from 'react';
import PropTypes from 'prop-types';
import cx from 'classnames';
import idgen from 'react-materialize/lib/idgen';

export default class DatePicker extends React.Component {
    constructor(props) {
        super(props);
        this.renderFormat = 'dd !de mmmm

[2017-05-28 17:57] alextrastero opened #259 "Icon position default"
`Icon` has a left and right property, if none is used the alignment is wrong, I would default it to right

[2017-05-28 18:18] alextrastero commented on #258
Hey @kenanchristian, materialize's datepicker is a modified `pickadate.js` and you can add all the methods pickadate has, like `onSet` which is the callback for when a date has been chosen. Hook your `handleDateChange` to that and it should work :)

[code]

[2017-05-28 18:21] alextrastero opened #260 "Input-Datepicker onChange"
Hook onto the onSet method of datepicker using onChange

[2017-05-28 18:21] alextrastero commented on #258
I've create an issue to fix this #260

[2017-05-28 20:52] alextrastero commented on #260
https://github.com/react-materialize/react-materialize/pull/261

[2017-05-28 20:52] alextrastero commented on #260
Now Input accepts `type='date'` and passes options to `pickadate` initialiser

[2017-05-28 20:53] alextrastero commented on #258
PR https://github.com/react-materialize/react-materialize/pull/261

[2017-05-29 15:24] alextrastero opened #264 "Icon page"
We should have an icon page in the docs

[2017-05-29 15:29] alextrastero commented on #259
actually i'm going to close this, Icon doesn't need text, so if u have text+icon then you should specify a position

[2017-05-29 15:29] #259 closed

[2017-05-29 15:37] alextrastero opened #266 "Docs reload looses SideNav active subitem"
Navigate on the sidenav, reload page, item parent should be `expanded`

[2017-05-29 15:58] macsplan opened #267 "Unknown prop `options` on <nav> tag for NavBar"
Hi, new to react so might be just me. Getting this issue when I create a NavBar:

[code]

[code]

Any ideas where I'm going wrong?

[2017-05-30 09:13] isaiah commented on #267
@macsplan looks like a bug, hold on, fix is on the way.

[2017-05-30 09:18] #264 closed

[2017-05-31 13:12] tblazz opened #273 "Props Null when dynamic options in select"
Hello,

I got the following error when I tried to set dynamically the options of an input :
Input.js:202 Uncaught (in promise) TypeError: Cannot read property 'props' of null
[code]

My code is the following :
I have a default option and the others are connected in my state

[code]

It seems that I got the error when the Input is rerender after select becomes not undefined. After investigation, I

[2017-06-01 02:33] hermano360 commented on #243
Hey!
Started working on getting Autocorrect up and running and looking at the source code to discern the functionality. I'll give it a shot with regards to the example. One question, in the regular Materialize documentation, it has an onAutocomplete option. When trying to implement that functionality, I saw that the onChange property on the Autocomplete constantly changing the state, rather than o

[2017-06-01 02:59] gustavo-depaula opened #274 "Trigger a modal with a Card"
Is that possible?

[2017-06-01 03:04] gustavo-depaula commented on #274
I made it. It's possible.

[2017-06-01 03:04] #274 closed

[2017-06-06 20:31] loureirorg commented on #160
Here a quick and dirty workaround:
[code]
_**PS:** This CSS treats the symptom and not the causes and as result, the DOM will still be wrong (and I'm not sure about side-effects)._

[2017-06-06 21:18] jderose9 commented on #102
There doesn't appear to be any way to set an initial value for the input, such as when returning to edit a record. Is that correct?

[2017-06-07 05:46] alextrastero commented on #160
PR's are welcome ;)

[2017-06-07 06:55] alextrastero commented on #102
Hey @jderose9, would you expect this result? or the dropdown not opened?
![screen shot 2017-06-07 at 08 55 12](https://user-images.githubusercontent.com/4152819/26865906-13602c90-4b5f-11e7-9093-603174aedac4.png)

[2017-06-07 08:58] kenanchristian commented on #258
@alextrastero Thanks for the solution!
Got another strange thing though. My datepicker `data-value` doesn't get updated after on page render,
is this an expected behavior?

[2017-06-07 12:11] alextrastero commented on #258
@kenanchristian check out the pickadate API here: http://amsul.ca/pickadate.js/api/ maybe there's some method you can use

[2017-06-08 01:48] kenanchristian commented on #258
@alextrastero Yeah I'm aware of the `set select` is available on the API, but I can't seem to get it work.
Is there a way to pass a ref to the component? or maybe there's another workaround to access the DOM when it's already replaced with the datepicker?

[2017-06-08 07:51] alextrastero commented on #258
Could you describe the steps to reproduce and what the outcome should be?

[2017-06-10 15:07] kenanchristian commented on #258
@alextrastero This is my complete code snippet
https://gist.github.com/kenanchristian/7e85c917df0eaf86efa4aa63e4af094d

I know that passing the component to the state seems like a bad idea, and I still failed to set the date.
I've also tried to update it inside `componentDidUpdate` cycle, but no luck there. Tried passing a `ref` to the datepicker element, it seems that the datpicker replace the or

[2017-06-11 20:06] mathieusanchez opened #276 "Input uncrotrolled switch to controlled"
I have this probleme and i don't know how to solve it, someone can help me ?

"Warning: Input is changing an uncontrolled input of type date to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled input element for the lifetime of the component. "

[2017-06-12 17:30] cemremengu opened #277 "Getting rid of jQuery dependency"
I believe one of the main tasks should be getting rid of the jquery dependency for this library. (I know that's genius :smile: )

Any roadmaps for this? Let's start an epic so it can gain contributor traction slowly and help shape the ideas.

[2017-06-13 01:14] jderose9 commented on #102
I would expect it to be closed. The use case is basically editing a record. For instance, user creats a record, filling in the autocomplete input, and then saves it. When the user later returns to the form and the record is loaded, it doesn't seem that I can assign the existing value to the input.

[2017-06-13 10:39] alextrastero commented on #102
I would then recommend having a if condition for that, if there's a record use a normal Input and if not use an Autocomplete, from the `materialize.js` if there's any value inside this input the dropdown will be triggered, so there's no way for us to not trigger it.

I could pass a don't autocomplete prop to autocomplete but then you would need to initialise the autocomplete on focus... don't like

[2017-06-13 12:32] jderose9 commented on #102
If the user edits the existing value, the autocomplete should still work, so dynamically swapping for a regular input wont work.

You are saying that if the underlying input's value is set programmatically, the drop down is still expanded?

[2017-06-13 13:30] alextrastero commented on #102
Yes, I added a screenshot above of what happens when you add value programmatically

[2017-06-13 19:25] viadrew commented on #143
Was a PR ever submitted? Ran into the same issue. My quick solution was just to copy the Pagination / PaginationButton components and add:

[code]

I can quickly make my own PR later if a previous PR hasn't been submitted.

[2017-06-14 08:40] alextrastero commented on #143
Hey @viadrew please submit it and we'll check :)

[2017-06-15 16:35] adityak368 opened #281 "Feature Request"
I did not find tooltip widget in the docs. Can you please add the functionality. Also could not find fixed SideNav and dropdown in navbar in documentation. Can you please provide code snippets on how to use them if they are already available

[2017-06-17 09:53] croraf opened #282 "Allowing custom properties on components"
For example Row or Col components should let me pass them custom properties they will forward to their inner component.

Before:
[code]
After:
[code]

[2017-06-21 15:14] alextrastero commented on #282
cc @croraf

[2017-06-22 17:04] cullanrocks commented on #80
Im having the same issue. It works if I refresh the page, but not on initial render.

[2017-06-22 23:01] croraf commented on #282
Same with Col component.

[2017-06-23 07:58] #282 closed

[2017-06-23 08:08] isaiah commented on #277
Good initiative, we've always have that in mind TBH, but that's not an easy task, maybe we can implement jQuery components in parallel, and the user can choose their preferred ones.

[2017-06-23 08:12] isaiah commented on #267
The fix is in master. https://github.com/react-materialize/react-materialize/pull/269

[2017-06-23 08:12] #267 closed

[2017-06-23 08:12] #260 closed

[2017-06-23 09:39] alextrastero commented on #80
Ok, going to have a look at this

[2017-06-23 09:39] alextrastero commented on #282
@croraf Col already allows custom props

[2017-06-23 09:39] alextrastero commented on #282
https://github.com/react-materialize/react-materialize/blob/master/src/Col.js#L30

[2017-06-23 15:03] alextrastero commented on #266
Fixed

[2017-06-23 15:03] #266 closed

[2017-06-25 08:06] fredericocurti opened #288 "Collapsible resetting child's states when reopening"
Hey there, I've been really enjoying using the library, and the collapsible component is awesome, but it has a critical flaw: for some reason, any CollapsibleItem's children states are not kept when you reopen it, making the component unusable for any more complex application other than showing text. I've tried fixing it by setting the component's renderBody function to show a state.children array

[2017-06-27 14:29] pleopardi commented on #237
You can also use the [options](http://materializecss.com/side-nav.html#options) object: `<Navbar options={{ closeOnClick: true }}>`

[2017-06-27 15:48] pleopardi opened #289 "Navbar color gets grayed out"
Hi, here is the problem I'm having: on small screens, that is when the Navbar becomes a SideNav, the background color gets very dark.
This happens when I change the default color for the Navbar, for example: `<Navbar className="light-blue darken-4">`.

Below the screen of the resulting Navbar:

![screenshot](https://user-images.githubusercontent.com/22129342/27596667-87527a52-5b60-11e7-843a-5a41a3

[2017-06-27 15:52] alextrastero commented on #289
This is the overlay added to the content when the `Navbar` is visible, I can't reproduce

[2017-06-27 16:12] pleopardi commented on #289
So, if I understood correctly your answer, that gray overlay is the default behavior when the Sidenav opens and I have to use custom CSS if I want to change it to a white background, right?

One more question: I saw that in the Sidenav when I hover over an item that item doesn't get highlighted. Am I missing some option or do I have to use custom CSS for this too?

[2017-06-28 15:16] xGouley commented on #289
No, I have the same problem:
when you use fixed on navbar, then the side nav is behind the gray layer.
If you remove "fixed", then it works well.

but in fact, we need to work in fixed mode as well...

[2017-06-28 15:19] alextrastero commented on #289
ah I see... ok let me have a look at it

[2017-06-28 17:29] alextrastero commented on #289
Yup, i'm afraid this is a `materialize.css` bug. https://github.com/Dogfalo/materialize/issues/3844
There are a couple workarounds mentioned in the issue. Since the issue is only for fixed navbar and on mobile view I can't change the render structure without changing the entire component.
CSS solutions include:
`#sidenav-overlay { margin-left: 300px; }`
`#sidenav-overlay { z-index: 1; }`
`#sidenav

[2017-06-29 06:49] xGouley commented on #289
.navbar-fixed z-index is OK for me.
But:
if z-index = 999, then I cannot click on the navbar to close the sidenav, i must click below.
if z-index = 998, then I can.

[2017-06-29 07:27] pleopardi commented on #289
Thank you for the answers! I'll definitely make some tests today and tomorrow and get back with the best workaround among those suggested.

[2017-06-30 07:31] #289 closed

[2017-07-03 10:00] isaiah commented on #288
https://github.com/react-materialize/react-materialize/pull/286 will fix it.

[2017-07-03 20:13] jaburcodes opened #291 "Button color props"
Today to change the Button component color we have to do:
<Buttton className="red">

It would be much more user friendly if we could do:
<Buttton color="red">

In other words add a 'color' props.

I would like to work on it if possible :)

[2017-07-03 23:32] macsplan commented on #267
Thanks, can someone push a new release with the fix in? last release was in April

[2017-07-04 10:19] alextrastero commented on #267
@macsplan https://www.npmjs.com/package/react-materialize `a week ago` :)

[2017-07-04 10:21] alextrastero commented on #291
This prop would only pass his value to `className`, why not just use `className`?

[2017-07-04 10:22] alextrastero commented on #291
Current solution:
`<Button waves='light' className='pink lighten-1'>EDIT ME<Icon left>save</Icon></Button>`
Proposed solution:
`<Button waves='light' color='pink lighten-1'>EDIT ME<Icon left>save</Icon></Button>`

I'm not sure it adds any value

[2017-07-04 10:23] alextrastero commented on #291
If you would like to contribute there's a label in `issues` called `help-wanted` :)

[2017-07-05 02:42] jaburcodes commented on #291
Yes, i would love to contribute and i'll check them.

Using a color props is much more user friendly, but ok, its up to u. haha.

[2017-07-05 08:12] alextrastero commented on #291
For now, i'll leave it as is, if someone else comments we'll see...

[2017-07-05 08:12] #291 closed

[2017-07-07 07:00] hrishikhanapure opened #292 "how to focus an input"
Need a help to focus an input component of react-materialize.

[2017-07-11 20:55] bryanj0410 opened #295 "Feature Request: CollapsibleItem header able to accept html element as well as string"
Right now I am able to pass a styled div into the header prop but it is throwing a warning, saying that it should be a `string`. It would be nice to be able to pass it whatever.

[2017-07-12 10:22] tamal-appsbee commented on #246
Still there issue   $(`#${this.id}`).modal('open'); not working

[2017-07-12 12:27] alextrastero commented on #246
@tamal-appsbee what version of `react-materialize` are you using?

[2017-07-13 21:41] 1eddy87 opened #296 "Update to the current version (0.99.0) of MaterializeCSS"
Does anybody know if this project is going to be updated so that we can get some of the new goodies of MaterializeCSS? @isaiah @alextrastero

[2017-07-14 09:28] alextrastero commented on #296
@1eddy87 what goodies are you referring to?
You can decide which version of `materializecss` you want to use in your `index.html`

[2017-07-17 17:03] alextrastero commented on #296
Closing issue, let me know if any further issues

[2017-07-17 17:03] #296 closed

[2017-07-18 14:51] alextrastero opened #301 "Add to CHANGELOG"
- https://github.com/react-materialize/react-materialize/pull/300
- https://github.com/react-materialize/react-materialize/pull/299

[2017-07-18 21:01] zjacek12 commented on #246
I am having the same problem and I am using "react-materialize": "^1.0.4", The error says $ isnt defined.

[2017-07-19 06:47] alextrastero commented on #246
Hey @zjacek12, can I see your `index.html`

[2017-07-19 09:15] #301 closed

[2017-07-19 12:05] pokeguys opened #303 "How to preserve className in Dropdown trigger"
Is there any way to keep the className in trigger?
I am using dropdown, but the classes will not be preserved.

[2017-07-19 12:56] alextrastero commented on #303
Check out the linked PR, I think this should fix the issue

[2017-07-19 13:04] #303 closed

[2017-07-19 16:01] zjacek12 commented on #246
`<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">

  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material

[2017-07-19 16:01] zjacek12 commented on #246
`<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">

  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material

[2017-07-19 16:02] zjacek12 commented on #246
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">

  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+

[2017-07-19 16:05] zjacek12 commented on #246
[code]

[2017-07-19 16:26] alextrastero commented on #246
Thanks! so where are you loading the javascript that includes `react-materialize` ?

[2017-07-19 16:28] alextrastero commented on #246
ideally you should load the javascripts in this order
- jquery
- materialize
- bundle.js (bundled javascript which requires/includes reac-materialize)

[2017-07-19 16:41] zjacek12 commented on #246
[code]

I think this is what you were looking for. Once compiles the bundle script tag is inserted

[2017-07-19 16:45] alextrastero commented on #246
maybe `react-create-app` has some mechanism for adding external libraries that isn't through to `index.html`

[2017-07-19 16:46] alextrastero commented on #246
this only happens with the `Modal` ? can you try the `Dropdown`?

[2017-07-19 17:41] zjacek12 commented on #246
I dont see how using a different component would change anything since the error I get is that $ isn't defined

[2017-07-19 18:09] zjacek12 commented on #246
fixed using npm package react-async-script

[2017-07-19 19:43] alextrastero commented on #246
Yeah, so the problem is react-create-app

[2017-07-19 19:43] #246 closed

[2017-07-21 06:37] #281 closed

[2017-07-21 06:38] alextrastero commented on #292
You can accomplish this by adding an id or ref to the `<Input />` and then in `componentDidMount()` you can focus on it.

[2017-07-21 06:38] #292 closed

[2017-07-21 09:51] pokeguys commented on #295
+1
Currently it can't passthrough the classes to header.

[2017-07-24 05:49] sonAndrew commented on #256
Hi! My name is Andrew and I am a first timer, but I believe I can help if you tell me how.

[2017-07-24 09:15] #295 closed

[2017-07-26 09:56] extend1994 opened #314 "Is the library compatible with a browser?"
Hi! I am a member from CDNJS and in charge of adding this library according to https://github.com/cdnjs/cdnjs/issues/11546. In README.md, there is one line

So I think this library should be bundled first and then can be used in a browser, right?
Or you can build the bundled file(s) for this library so that I can add this library to our CDN?
Thanks!

[2017-07-26 13:58] crobinson42 opened #315 "Add webpack or rollup module bundler"
Refactor build process to use webpack or rollup module bundler and produce a UMD build to support:

-  script tag use in browser pages (ie: codepen or jsfiddle use cases)

- no longer need to include the css/js tags in the head off html

- bundle splitting imports for consumers of the library

[2017-07-26 13:59] crobinson42 commented on #314
@extend1994 This library will support your request when #315 is completed.

[2017-07-26 14:07] crobinson42 commented on #315
@ruediste @alextrastero What do you guys think about supporting this feature? I'm happy to contribute and get a PR going to start a discussion on fine tuning this feature.

I see a major benefit with this being the script tags don't need to be included in the head and can be instead included in `react-materialize`'s bundling process which would allow the library to be consumed via imports. This pa

[2017-07-27 02:18] extend1994 commented on #314
Thanks @crobinson42 :+1:

[2017-07-28 20:21] brainzest commented on #245
@alextrastero  Hi! Can you please review the commit?

[2017-07-29 00:17] kartboy16 opened #317 "Modal Options not working"
Anyone else having an issue where modalOptions does not work?  I set dismissible, ready and complete and they used to work but now they don't.

EDIT:  Using MeteorJS 1.5.1 which forces the use of Materialize 0.99.0 which for some reason modalOptions not working.  Materialize 0.100.1 seems to work but waiting for Meteor fix; [Materialize issue #5010](https://github.com/Dogfalo/materialize/issues/50

[2017-08-03 19:00] #317 closed

[2017-08-03 19:17] kartboy16 opened #319 "Modal Style"
When creating the `<Modal>` with `style={{ height: '95%', maxHeight: '95%', width: '70%', margin: '0px auto' }}` works fine the first time I click the trigger.  If I close and click again, the style goes back to the default style.

I'm assuming it's cause Materialize rewrote Modal.  Anyone else?

[code]

[2017-08-04 03:43] tiempham commented on #274
How can you? Explain me please.

[2017-08-06 09:41] alextrastero commented on #319
Hey @kartboy16 if you check in the docs, you can add that prop to the editable textarea, seems to work fine there

[2017-08-06 09:42] alextrastero commented on #274
Hey @tiempham, if you check the docs, on the Modal there's an example of no trigger, there you can find how it's done :)

[2017-08-07 02:35] tiempham commented on #274
Thank @alextrastero! I found it.

[2017-08-08 01:53] mattBlackDesign commented on #80
@alextrastero how is the progress on #286?

I have just created PR #321 which addresses @yanickrochon comment about HTML rendering matching Materialize docs. It does not address collapsible item states.

[2017-08-08 06:29] #80 closed

[2017-08-08 08:02] alextrastero opened #322 "Docs unknown props warnings"
Currently there's a warning in the docs:
`Unknown props `expanded`, `eventKey` on <li> tag`, should be happening somewhere in `Navigation.js`.

[2017-08-08 09:30] isaiah commented on #315
@crobinson42 Correct me if I'm wrong, `react-materialize` has implicit dependency on `materializecss`, which to my knowledge doesn't comfort to any module system. cc: @alextrastero

[2017-08-08 14:08] crobinson42 commented on #315
@isaiah Publishing via webpack using css-modules which import the css into the chunks will satisfy your concern regarding the dependency on stylesheets.

[2017-08-10 11:15] strin opened #325 "Unable to Use Two <Tabs/> on the Same Page"
To reproduce, simply

[code]

It seems the <Tab/> element renders with an `id` to be `tab-0`, `tab-1`, `tab-2`, ... Therefore, the scope is the same for both elements.

[2017-08-10 18:32] azmathtech opened #326 "Unable to change the NavItem text color"
I am able to change the color of the Navbar but am not able to change the text color of the NavItem.

<NavItem className="blue-text">Link</NavItem> - this does not change the color
<NavItem className="blue">Link</NavItem> - this changes the background color of the nav bar to blue just behind the link.

How can the text color be changed?

[2017-08-10 18:42] raullarosa commented on #325
I reproduced on my local machine and I am experiencing the same issue. Even after rendering one <Tabs /> in the parent component and the second <Tabs /> in the child component. The <Tabs /> that was rendered first is the one with the "higher power" and rendering the second Tabs useless.

I will look into the documentation and see if there is a way to fix this, if you need this urgently, I would re

[2017-08-10 18:48] azmathtech commented on #326
Update - I was finally able to change the text color but I had to wrap the text in a div within the Navitem and then apply the className to the div.

Any idea why a classname="color-text" does not work on the NavItem?

[2017-08-11 07:52] alextrastero commented on #326
Hey @azmathtech, as you can see here:
https://github.com/react-materialize/react-materialize/blob/master/src/NavItem.js#L12
The rest of props are passed to `li` but not to `a`, maybe we should be able to pass a prop Node that would be the link instead of an `a`, that what you could pass a custom Node with that className already applied

[2017-08-11 08:30] alextrastero commented on #326
Check out the linked PR to see if that would solve the issue :)

[2017-08-11 08:49] alextrastero commented on #325
Hey @strin @raullarosa, could you have a look at the linked PR, this will solve the init issue

[2017-08-11 18:46] azmathtech commented on #326
Thank you for the quick reply.  That makes sense.  Looking back at the code for both the Navbar and NavItem I understand why its working the way it does.

[2017-08-11 18:46] #326 closed

[2017-08-12 06:27] mehdipourfar opened #330 "SideNav does not work"
When I want to trigger sidenav, I get this error:
e.velocity is not a function

[2017-08-12 18:52] TaisukeYasuda opened #331 "Parallax example has a typo"
Although Parallax is not described in https://react-materialize.github.io/#/, I wanted to use it and found the source in `src` and the example in `example`. The example did not work, but that was just because it had a typo and used the prop `imgSrc` instead of `imageSrc`. I was able to use `import { Parallax } from 'react-materialize'` in my project, so perhaps you could fix this very quickly and

[2017-08-14 20:30] eXo5 commented on #330
Can you leave the part of the code that is giving you the error?

[2017-08-14 22:22] #325 closed

[2017-08-15 03:26] Gunnar34 opened #332 "collapsible item or dropdown in topNav/SideNav"
I've been playing around with the components for awhile and I can't seem to implement anything that would be a dropdown in Top nav but converts to collapsible in sideNav. I also wasn't able to get anything to work inside the NavItem tag except for button or dropdown. Am i missing something obvious?

[2017-08-15 08:19] alextrastero commented on #330
It seems this is a known issue: https://github.com/Dogfalo/materialize/issues/1229
It seems Aguego has the solution :)

[2017-08-15 10:09] mehdipourfar commented on #330
It worked. Thanks.
But it seems that there should be a good document on integrating this package with create-react-app

[2017-08-15 10:14] alextrastero commented on #330
Ah I see, we should add a known issues section to the readme, what other issues did you run into? how did you fix this issue?

[2017-08-15 10:15] #330 closed

[2017-08-15 11:44] alextrastero commented on #331
Hey @TaisukeYasuda, PR's are welcome :) but yes, thanks for pointing that out

[2017-08-15 13:06] mehdipourfar commented on #330
The other issue was including the scss files to the library. I've added this script
`"watch-css": "npm run build-css && node-sass-chokidar --include-path ./src/scss/ --include-path ./node_modules/materialize-css/sass/ src/scss/ -o src/css/ --watch --recursive"`
and imported library scss components to my main scss file.

[2017-08-15 21:13] mcopley08 commented on #246
Hey @zjacek12, do you have example code of how you got it working with "react-async-script"?

Also, is there no way to use things like: `$("$id").modal('open');` in a react component without having an npm package to load it?

I can include the JS file in index.html and have it accessible in the client webpage, but I feel like there's definitely a way to add the Materialize.js functions to use in c

[2017-08-16 06:26] tamal-appsbee commented on #246
@alextrastero It is working now.
Thanks

[2017-08-16 07:35] gxapplications opened #334 "NavItem does not accept many children anymore"
1.0.9 has a breaking change: The following code is not possible anymore :

[code]

This code was my way to have a full icon+text item in mobile size (side nav mode) and only icon in desktop size.
If I put a div or a span to wrap NavItem content, then styles are broken (no margin, no pointer style)...

[2017-08-16 08:44] alextrastero commented on #334
Hey @gxapplications have a look at the linked PR please

[2017-08-16 09:36] gxapplications commented on #334
Good solution for me :)

[2017-08-16 09:38] #334 closed

[2017-08-16 09:42] alextrastero commented on #334
Published, try 1.0.10

[2017-08-19 02:29] bcf3ah opened #337 "Carousel Initialization and Autoscroll"
Hello!

Is there an autoscroll option for the carousel? I didn't see one in the options link you provided (for regular MaterializeCSS), and I'm getting an error if I try use a carousel() method with jquery in componentDidMount(). Right now, I'm doing this:

`  componentDidMount(){
    var counter = 0;
    setInterval(() => {
      if(counter === 4){
        counter = 0;
      }
      counter++;

[2017-08-20 07:54] alextrastero commented on #337
@bcf3ah https://stackoverflow.com/questions/36581504/materialize-carousel-slider-autoplay

[2017-08-20 07:54] #337 closed

[2017-08-20 07:55] alextrastero commented on #337
Closing as it's not a react-materialize issue

[2017-08-20 20:22] jawadsh123 commented on #322
I went through the code and I believe this error might be happening because of the way the Collapsible component is built.
Every child of Collapsible gets the "expanded", "eventKey" and "onSelect" props.
When all of the children are "CollapsibleItem" components, there is no problem, since, "CollapsibleItem" accepts all the above props.
But in case of the docs, we have an additional <li> being rend

[2017-08-21 11:32] isaiah commented on #332
Not sure if I got your problem correctly, sounds like you have to implement the top nav and side nav separately, while you can share the data structure that supports both. For the second question, `NavItem` is simply a syntax wrap around `<li><a /></li>`

[2017-08-21 11:34] #288 closed

[2017-08-21 17:50] harishrohokale opened #339 "Javascript components are not working"
Hi All
Can someone please help me with this issue?
bundle.js:137057 Uncaught TypeError: $(...).dropdown is not a function
at Dropdown.componentDidMount (bundle.js:137057)
at bundle.js:127288
at measureLifeCyclePerf (bundle.js:127098)
at bundle.js:127287
at CallbackQueue.notifyAll (bundle.js:54095)
at ReactReconcileTransaction.close (bundle.js:132181)
at ReactReconcileTransaction.closeAll (bundle.j

[2017-08-21 18:36] alextrastero commented on #339
Are you using create-react-app?

On Aug 21, 2017 19:50, "Harish Rohokale" <notifications@github.com> wrote:

[2017-08-21 19:09] jawadsh123 commented on #322
My assumption was correct.
The problem is arising when the children of Collapsible are not CollapsibleItem but regular dom elemets.
Since there might be cases where we might want to include regular tags inside Collapsible, I've modified it to accomodate those. Now there shouldn't be any error in the console.

[2017-08-22 13:14] lloydwatkin commented on #334
I've updated my syntax to match the above which fixes things but I originally had:

[code]

Which caused:

![screenshot from 2017-08-22 12-12-10](https://user-images.githubusercontent.com/271622/29567082-099c2b7a-8744-11e7-8df7-24b0e95046da.png)

Workaround is to add a `<span/>` as above.

Adding comment not in order to get a fix, but in case anyone hits the same thing.

[2017-08-22 13:54] harishrohokale commented on #339
@alextrastero I am using https://github.com/react-materialize/react-materialize this only
I have referred the document https://react-materialize.github.io/#/

[2017-08-22 14:12] lloydwatkin opened #342 "Collapsed Navbar seems to be broken in the latest version"
Its a possibility that the API has changed but I haven't found anything to support this.

My Navbar is set up as follows (for example):

[code]

Previously when making the browser narrower the menum would collapse into:

![screenshot from 2017-08-22 15-11-02](https://user-images.githubusercontent.com/271622/29569673-219a9df8-874c-11e7-8bef-03494fc78475.png)

Which it still does, however when I cli

[2017-08-22 14:33] lloydwatkin commented on #342
I can see the HTML gets generated by the component

![screenshot from 2017-08-22 15-32-53](https://user-images.githubusercontent.com/271622/29570736-401c7a0a-874f-11e7-9d84-01a99dfacbe0.png)

[2017-08-22 14:53] lloydwatkin commented on #342
I've done a little more digging...

The generated HTML seems very similar to that in the materialize docs.
Its missing the <a> wrapper which if I add gets me the menu items, seems to caused here https://github.com/react-materialize/react-materialize/blob/master/src/NavItem.js#L5 (although its the same issue as the main nav too which doesn't cause a problem).

In order to get the sidebar to stand o

[2017-08-22 15:18] lloydwatkin commented on #342
Linked to #289, however there's still a bug if you don't have the `<a/>` tag.

[2017-08-22 16:00] lloydwatkin commented on #342
If I change my `<NavItem/>` syntax to:

[code]

This solves one issue, I don't like it but it works.

Just need to see if the workarounds solve the overlay issue for me.

[2017-08-22 16:07] alextrastero commented on #342
Hi @lloydwatkin, you're right, we need to add a bit more logic to `NavItem` to support this.
The change happened here: https://github.com/react-materialize/react-materialize/pull/328, to fix this issue: https://github.com/react-materialize/react-materialize/issues/326
Need to find another solution though...

[2017-08-22 16:07] MarcusMann commented on #254
I also noticed this

[2017-08-22 16:08] alextrastero commented on #254
Wanna pick it up @MarcusMann ?? :)

[2017-08-22 16:08] lloydwatkin commented on #342
[code]

worked for me

[2017-08-22 16:11] alextrastero commented on #342
yeah, but it doesn't solve the `NavItem` issue

[2017-08-22 16:12] alextrastero commented on #339
@harishrohokale I see, but where are you using `react-materialize` on you're own Webpack? or on some other boilerplate like `create-react-app` ?

[2017-08-22 16:14] lloydwatkin commented on #342
No, agreed. There's a workaround short term, so I can continue working and hopefully others can benefit.  A fix can come with time :)

[2017-08-22 16:42] harishrohokale commented on #339
@alextrastero I am using my own webpack but i have followed the steps to add dependencies as per the document

[2017-08-22 19:01] alextrastero commented on #339
I see, can you paste here your index.html?

On Aug 22, 2017 18:42, "Harish Rohokale" <notifications@github.com> wrote:

[2017-08-22 20:02] davidfufu opened #343 "What do the s,m,l props for the <col> component do? Why are they needed>"
Docs are unclear. Isn't the point of a responsive grid to conform to any screen size? Why have three sizes?

[2017-08-23 06:50] alextrastero commented on #343
Hi @davidfufu, it's a 12 column grid system, maybe it's clearer in these docs: http://materializecss.com/grid.html. But the idea is that you can specify how many columns you want a component to occupy on each breakpoint:
[code]

[2017-08-23 06:50] #343 closed

[2017-08-23 14:19] harishrohokale commented on #339
@alextrastero
[code]

[2017-08-23 16:02] alextrastero commented on #339
But how are you bundling you're react code? where is the `<script src="bundle.js"></script>`?

[2017-08-23 16:51] davidfufu commented on #343
Thanks, I get it now. Stupid question.

[2017-08-23 16:54] harishrohokale commented on #339
Adding bundle.js during run time by using webpack.
See attached screenshots
![screen shot 2017-08-23 at 10 22 21 pm](https://user-images.githubusercontent.com/6389000/29628007-bb9a6856-8851-11e7-8bac-b5fb0fee657d.png)

![screen shot 2017-08-23 at 10 22 40 pm](https://user-images.githubusercontent.com/6389000/29628004-b80f814e-8851-11e7-95ea-1f2e8232326e.png)

[2017-08-23 18:27] harishrohokale commented on #339
@alextrastero Any updates?

[2017-08-23 21:43] alextrastero commented on #339
Have you tried other JavaScript components? Like Modal?

On Aug 23, 2017 20:27, "Harish Rohokale" <notifications@github.com> wrote:

@alextrastero <https://github.com/alextrastero> Any updates?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/react-materialize/react-materialize/issues/339#issuecomment-324421893>,
or mute the

[2017-08-23 21:46] alextrastero commented on #343
No such thing as a stupid question :-)

On Aug 23, 2017 18:51, "davidfufu" <notifications@github.com> wrote:

[2017-08-24 02:33] MarcusMann commented on #254
Certainly!
As soon as I have time, all right?

[2017-08-24 06:26] harishrohokale commented on #339
@alextrastero Tried with other JS components too. Same issue for other

[2017-08-24 07:05] alextrastero commented on #339
Hi @harishrohokale, just tried again with the latest version, works fine for me. You might have some issue in your webpack configuration, the docs are updated with the latest version and it also works: https://react-materialize.github.io/#/dropdown.

Some users have had issues when using create-react-app because of the order in which the scripts are added to the index.html.

What are you using to

[2017-08-24 07:08] alextrastero commented on #339
Also, you might find the answer here: https://github.com/Dogfalo/materialize/issues/1229#issuecomment-242417847

[2017-08-24 15:12] harishrohokale commented on #339
@alextrastero I am using HtmlWebpackPlugin
I tried with the solution which is given in  Dogfalo/materialize#1229 (comment) i.e.
[code]

[2017-08-24 16:15] tomscholz commented on #342
This is actually an issue with materialize. The sidenav ul needs to be moved  outside of its wrappers. See https://github.com/Dogfalo/materialize/issues/3844

[2017-08-24 16:20] harishrohokale commented on #339
@alextrastero Can you provide me working seed project with webpack?

[2017-08-25 07:23] harishrohokale commented on #339
@alextrastero Any updates?

[2017-08-25 07:56] alextrastero commented on #339
Hi @harishrohokale, this issue is not a `react-materialize` issue. It seems you need to add some extra configuration to your webpack config.
As for seed project, if you clone https://github.com/alextrastero/react-webpack-boilerplate and run `npm i && npm i -S react-materialize` this works.

#330 was solved with some fix from Aguego here https://github.com/Dogfalo/materialize/issues/1229

Good luck

[2017-08-25 07:56] #339 closed

[2017-08-29 06:46] weasteam opened #345 "Add Breadcrumb to Navbar"
Is it possible to treat `Breadcrumb` as `NavItem` and added it to `Navbar`  together with other items?

[2017-08-29 07:53] weasteam opened #346 "Can you add Icon inside of NavItem (Dropdown)?"
Can you add `Icon` inside of `NavItem`  of `Dropdown`?

[2017-08-29 07:54] weasteam opened #347 "options prop does not work for Dropdown"
options prop does not work for Dropdown.

[code]

[2017-08-29 10:17] alextrastero commented on #347
Try with `{hover: true}`, the options are passed, but `belowOrigin` changes the position, maybe there's some CSS that we need to add separately

[2017-08-29 10:18] alextrastero commented on #347
Strange, `options={{belowOrigin: true, hover: true}}` works but not `options={{belowOrigin: true}}` can you confirm?

[2017-08-29 11:57] alextrastero commented on #346
`NavItem` accepts multiple children, one of them could be an `Icon`

[2017-08-30 03:35] weasteam commented on #346
This is what I get:

[code]

And I got this error:

[code]

If I change it to:

[code]

I get this one:

![screen shot 2017-08-29 at 8 25 59 pm](https://user-images.githubusercontent.com/6238854/29854233-79699efa-8cf9-11e7-84a4-94cdaa05717d.png)

Looks like there is some alignment problem.

[2017-08-30 03:37] weasteam commented on #347
Confirmed. `options={{belowOrigin: true, hover: true}}` works for me.

But without `{hover: true}`. The options do not work.

[2017-08-30 03:37] weasteam commented on #347
`{hover: false}` also does not work.

[2017-08-30 07:23] alextrastero commented on #346
Your first example works for me, what version of react-materialize are you
using?

On Wed, Aug 30, 2017 at 5:35 AM, Yonggan Wu <notifications@github.com>
wrote:

--

*Alexander Garth Odell*
alextrastero@gmail.com

[2017-08-30 07:24] alextrastero commented on #347
That seems like an issue with materializecss because all we do is pass the props to the dropdown init function

[2017-08-30 07:27] weasteam opened #348 "container class for Navbar?"
`container` is a class to limit the width of page display.

Is there any way to add `container` class to Navbar? Just like Github Navbar.

When I add the `container` to the Navbar directly, it cut off the background, which is not pretty.

[2017-08-30 07:35] weasteam commented on #346
"react-materialize": "^1.0.10",

I just installed yesterday. Let me know if there is a newer version.

[2017-08-30 07:37] weasteam commented on #347
materializecss works for me. But I am using the newest version. `0.100.2`.

The [documentation](https://react-materialize.github.io/#/), use `0.98.0`

[2017-08-30 07:38] weasteam commented on #346
I am using the newest version of materializecss. `0.100.2`, instead of `0.98.0` at [documentation](https://react-materialize.github.io/#/)

[2017-08-30 08:44] isaiah commented on #331
fixed by #333

[2017-08-30 08:44] #331 closed

[2017-08-30 08:45] isaiah commented on #322
@alextrastero could you take a look?

[2017-08-30 09:23] alextrastero commented on #348
Hey @weasteam, `container` class is limiting the page display, and that's why the NavBar is cut off, because of `container`. Why do you want to add container class to Navbar? why not add another class and style yourself?

[2017-08-30 09:33] alextrastero commented on #346
Yeah, something doesn't seem right. Maybe we should create a Label component that could have an optional icon prop

[2017-08-30 09:48] isaiah commented on #346
@alextrastero If I replace this with simply `return children`, it works. I don't remember why `cloneElement` is used in the first place. https://github.com/react-materialize/react-materialize/blob/master/src/NavItem.js#L8

[2017-08-30 15:21] alextrastero commented on #322
Review added :)

[2017-08-30 20:52] weasteam commented on #348
May be I did not describe my requirement clear enough:

What I want is to limit the content of Navbar (and still keep the background of it), not limiting the whole Navbar. See the Github as an example. If you have a big screen, the logo and the buttons do not go all the way to the edge. It stays in the middle.

Currently, if I put the `container` to Navbar, it will limit the whole Navbar. It would

[2017-09-01 11:33] w3nisar opened #350 "Select onChange getting fired twice"
Hi There,
  I am unable to figure out why a select onChange event triggers twice, please check the code

`import React, { Component } from 'react';
import '../css/Dashboard.css';
import { Preloader,Button,Icon,Modal,Row,Input } from 'react-materialize';

const Dashboard = React.createClass({

    checkResourceAccess(){
        alert("s");
    },

    render(){

        return (
            <div>

[2017-09-01 13:51] lloydwatkin opened #351 "Non-camelcase prop"
See https://github.com/react-materialize/react-materialize/blob/master/src/Dropdown.js#L67

Shouldn't `constrain_width` be `constrainWidth` ?

http://materializecss.com/dropdown.html#options

[2017-09-02 04:33] weasteam opened #355 "Any plans to create an Data Table?"
A data table would be very helpful. See below two for as examples:

https://react-md.mlaursen.com/components/data-tables

https://react-mdl.github.io/react-mdl/components/datatable/

[2017-09-04 01:22] weasteam opened #359 "Use Icon as Dropdown trigger?"
This works
[code]

But this does not work:
[code]

[2017-09-04 01:32] weasteam commented on #359
Got it working with:

[code]

[2017-09-04 01:32] #359 closed

[2017-09-04 06:52] alextrastero commented on #355
This project is supposed to be just a react port of materializecss, we already have https://github.com/react-materialize/react-materialize/blob/master/src/Table.js which is a Table layout

[2017-09-04 06:52] #355 closed

[2017-09-04 08:56] #351 closed

[2017-09-06 11:09] italopessoa opened #362 "Materialize.toast is not defined"
How can I use `Materialize.toast` without install react-materialize?
I've already added materialize css and js to my project, works great, but if I try to execute a toast, I get an error

![image](https://user-images.githubusercontent.com/9323529/30108888-899565de-92da-11e7-8a07-150b27ac1184.png)

[2017-09-07 00:06] quesurifn opened #363 "Nav left nav close when location change?"
Hello,

When ever we have the left nav open and navigate with it, after the location change it stays open. Is there a method for closing this without tapping into the css?

Thanks.

[2017-09-08 09:58] alextrastero commented on #362
This doesn't seem like a `react-materialize` issue. But it seems you might have issues with react-create-app

[2017-09-08 09:58] #362 closed

[2017-09-08 14:11] crobinson42 opened #365 "add componentWillUnmount() for jQuery inits"
Should we add `componentWillUnmount()` destory methods for instances where a jQuery initializer is firing in cdm, ie: https://github.com/react-materialize/react-materialize/blob/master/src/Parallax.js#L7

I think that there is still an initialized instance in the DOM when we don't cleanup this type of initialization from jQuery/cdm.

[2017-09-09 22:13] TaisukeYasuda opened #367 "Some modal examples don't work on the documentation website."

[2017-09-10 18:45] weasteam commented on #367
The last one works.

The first 3 does not work.

[2017-09-11 08:13] alextrastero commented on #367
Ouch! True, will have a look asap

[2017-09-11 22:54] parthsuresh commented on #102
Has this been implemented? The documentation at [react-materialize forms](https://react-materialize.github.io/#/forms) doesn't show this option.

[2017-09-12 05:57] alextrastero commented on #102
Hey, it's implemented but missing in the docs, `<Autocomplete ... />`

On Sep 12, 2017 00:54, "Parth Suresh" <notifications@github.com> wrote:

[2017-09-12 06:15] weasteam opened #368 "add onClick prop to Icon?"
`<Icon onClick={this.doSomething}>cancel</Icon>`

[2017-09-12 06:26] alextrastero commented on #243
https://github.com/react-materialize/react-materialize/pull/369

[2017-09-12 06:26] #243 closed

[2017-09-12 06:34] alextrastero commented on #368
[code]

[2017-09-12 06:35] #368 closed

[2017-09-12 16:18] gberth opened #371 "SideNav example fails"
Probably something I'm doing wrong, but would be glad for some guidance
:-)

A simple test with the example sideNav (copy/paste) gives this

ReferenceError: $ is not defined
SideNav.componentDidMount
node_modules/react-materialize/lib/SideNav.js:51
  48 |     var _props$options = this.props.options,
  49 |         options = _props$options === undefined ? {} : _props$options;
  50 |

  52 |   }
  5

[2017-09-13 07:06] alextrastero commented on #371
Hey @gberth, have a look at this related issue:
https://github.com/erikras/react-redux-universal-hot-example/issues/596#issuecomment-162713685

[2017-09-13 07:08] alextrastero commented on #371
Or this one: https://github.com/facebookincubator/create-react-app/issues/679

[2017-09-13 07:10] alextrastero opened #372 "create-react-app example"
Maybe in the docs? Many people seem to be having problems including 3rd party JS/CSS into their apps when using create-react-app. A how-to would be great.

[2017-09-13 20:57] gberth commented on #371
Thanks a lot - one step further, but not quite there :-) Seems as jquery is found, but sideNav function is not

TypeError: $(...).sideNav is not a function
SideNav.componentDidMount
node_modules/react-materialize/lib/SideNav.js:51
  48 |     var _props$options = this.props.options,
  49 |         options = _props$options === undefined ? {} : _props$options;
  50 |

  52 |   }
  53 | }, {
  54 |

[2017-09-14 18:12] weasteam opened #374 "show modal with No trigger requires jquery to work?"
As the example demonstrated at [https://react-materialize.github.io/#/modals](https://react-materialize.github.io/#/modals)

[code]

I get the error of `not found $`. It looks like I need to add `jquery` to my react. Please suggest:

1. Is there any method to make it work without using jquery?
2. If the jquery is absolutely necessary (I already included the script `<script src="https://code.jquery

[2017-09-14 20:05] kateboyko opened #375 "TypeError: Cannot read property 'getDOMNode' of undefined"
Get such error while adding Modal to the page.
the same error appears at your sample page https://react-materialize.github.io/#/modals

[code]

[2017-09-14 22:40] weasteam commented on #374
I think this might be helpful to resolve my problem: [https://github.com/react-materialize/webpack-boilplate](https://github.com/react-materialize/webpack-boilplate)

[2017-09-17 00:21] gustavo-depaula commented on #371
Try:
`npm install --save materialize-css`
And then:
`import 'materialize-css'`

[2017-09-17 19:44] gberth commented on #371
Thanks for helping :-)

Got this

ReferenceError: Velocity is not defined
(anonymous function)
node_modules/materialize-css/dist/js/materialize.js:1419

  1416 | if (Vel) {
  1417 |   Materialize.Vel = Vel;
  1418 | } else {

  1420 | }
  1421 | ;(function ($) {
  1422 |   $.fn.collapsible = function (options, methodParam) {

rgds
Gunnar

On Sun, Sep 17, 2017 at 2:21 AM, Gustavo de Paula <notifica

[2017-09-18 12:20] stan-sack opened #376 "Card reveals broken since v1.0.11"
Hey, just noticed that card reveals have broken in my app. Clicking on the image shows the ripple but doesn't display the reveal. Can confirm that this is occurring on your website: [https://react-materialize.github.io/#/cards](https://react-materialize.github.io/#/cards)

[2017-09-18 12:21] stan-sack commented on #376
I was able to fix by downgrading to v1.0.10

[2017-09-18 16:51] Haitrancntt commented on #375
Hi guy, i have the same problem, still don't have any solution for this

[2017-09-19 14:35] atpyatt commented on #276
This is because both the value and defaultValue properties of the component have been set. You should either just set defaultValue and let the component maintain it's own state, or just set value and have the parent control the state of the child component.

[2017-09-19 15:04] alextrastero commented on #374
Hey @weasteam,
1. `react-materialize` is just a react wrapper around materializecss. Materializecss depends on jquery, so yes. jQuery is absolutely necessary.

2. If you are using webpack out the box, you can include the script in your index.html. If you are using create-react-app, let me know

[2017-09-19 15:05] alextrastero commented on #374
I would use https://github.com/alextrastero/react-webpack-boilerplate which is more up to date

[2017-09-19 15:05] #374 closed

[2017-09-19 15:22] alextrastero commented on #375
Sorry guys, seems like we've been having plenty of issues with the Modals lately, https://github.com/react-materialize/react-materialize/pull/377

[2017-09-19 15:22] alextrastero commented on #375
Will publish as soon as reviewed

[2017-09-19 15:26] alextrastero commented on #371
This issues are all related to how `create-react-app` handles external libraries, is there nothing in their documentation about this?

[2017-09-19 15:39] alextrastero commented on #376
Yes, it broke here: https://github.com/react-materialize/react-materialize/pull/336, we'll fix ASAP

[2017-09-20 06:42] Haitrancntt commented on #375
ok, hope it completed soon. Thanks

[2017-09-20 11:10] alextrastero commented on #375
@kateboyko @Haitrancntt this is now resolved in `1.0.14`

[2017-09-20 11:10] #375 closed

[2017-09-20 11:10] alextrastero commented on #376
This is now solved in `1.0.14`

[2017-09-20 11:10] #376 closed

[2017-09-20 15:25] alsaydali commented on #372
A problem with what? can you specify?
I am using it with Create React App

[2017-09-20 15:36] alextrastero commented on #372
Hey @alsaydali, it would be great to have a section in the readme explaining what issues appear when using this with `create-react-app`, like how you add jquery and materializecss libraries

[2017-09-20 17:41] TedJani opened #380 "Switching from select input to text input results in uncaught DOMException"
I'm creating a component that changes it's input type based on some properties.
The components work as expected when the Input is changed from a text type to a select type, but not vice-versa.
It seems that the DOM Node cannot be removed when attempting to change back:

DOMChildrenOperations.js:65 Uncaught DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a chi

[2017-09-21 04:27] Haitrancntt commented on #375
Nice, let me check this, thanks

[2017-09-22 12:40] fengxia41103 opened #381 "material_select is not a function"
Followed doc for installation:

  <body>
    <div id="app" />
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <script type="text/javascript"
            src="https://www.gstatic.com/charts/load

[2017-09-22 14:01] alextrastero commented on #381
Hey @fengxia41103, a couple questions to help you out,
- Does `Modal` component work?
- Are you using `create-react-app`?

[2017-09-22 14:25] fengxia41103 commented on #381
Modal works.

No I'm not using `create-react-app`. This is an existing app we are adapting to materialize-css.

[2017-09-22 14:28] fengxia41103 commented on #381
Don't know if this is related.

Modal demo on `https://react-materialize.github.io/#/` doesn't popup for me either.

I'm using Ubuntu 16.04 Chrome.

[2017-09-22 14:29] fengxia41103 commented on #381
Console error:

Uncaught TypeError: Cannot read property 'getDOMNode' of undefined
    at OverlayTrigger.getContainerDOMNode (Overlay.js:95)
    at OverlayTrigger._mountOverlayTarget (Overlay.js:65)
    at OverlayTrigger._renderOverlay (Overlay.js:71)
    at OverlayTrigger.componentDidMount (Overlay.js:59)
    at CallbackQueue.notifyAll (CallbackQueue.js:76)
    at ReactReconcileTransaction.close

[2017-09-22 14:34] alextrastero commented on #381
Ah yes, this is updated now, docs needed the latest version

[2017-09-22 14:35] alextrastero commented on #381
But forms work fine here: https://react-materialize.github.io/#/forms

[2017-09-22 14:42] fengxia41103 commented on #381
Yes I see the forms are working well. What did I miss? any suggestion?

[2017-09-22 14:48] alextrastero commented on #381
Normally the issue is with `materialize.js` not being loaded, but if `Modal` works then it's something else. Can you paste the exact error here? also please try other materializejs components like dropdown

[2017-09-22 14:49] alextrastero commented on #381
related issue? https://github.com/Dogfalo/materialize/issues/4521#issuecomment-293172209

[2017-09-22 15:17] fengxia41103 commented on #381
Got me further based on #4521 above.

Both Modal and Select now rendered, sort of.

Modal pops up, but with a larger white box around it so sizing is incorrect.
Select has two `down arrorws` adjacent to each other, clicking it has no effect.

This app has been using material css for a while, so I think the issue is related to how jquery & material are loaded since these components are really jQuer

[2017-09-22 17:16] fengxia41103 commented on #381
Figured it out!

The app has also loaded Bootstrap (legacy).

[code]
Commented these lines out and it is all working :)

[2017-09-22 17:18] fengxia41103 commented on #381
So to fully make this work:

1. Make sure there is no Bootstrap loaded.
2. in `main.js`,

[code]
3. in `your.js`,
[code]

[2017-09-24 09:43] alextrastero commented on #381
Cool! closing then :)

[2017-09-24 09:43] #381 closed

[2017-09-24 13:35] kenta88 opened #382 "Pagination issue: Each child in an array or iterator should have a unique "key" prop"
When using this component
[code]
We can see this error in the console:
**Warning: Each child in an array or iterator should have a unique "key" prop.**

Version:
**"react-materialize": "^1.0.14",**

[2017-09-24 13:41] kenta88 commented on #382
Closed the issue, Error was mine implementation
[code]

[2017-09-24 13:41] #382 closed

[2017-09-26 19:34] lyczkop opened #383 "Something goes wrong in v1.0.9"
Hi, untill today I've used v1.0.6. From materialize i used only "{Table, ProgressBar, Input, Icon, Pagination, Modal, Button}"
When i upgrade to latest v.1.014 something goes wrong, my Tabs go broken and some logic to... axios from component under Tabs stop work correctly. I findout that WRONG came with v.1.0.9.
I dont know what, but something make realy mess ;/

If you have some tips, pls let me

[2017-09-27 08:17] uryyyyyyy opened #384 "React.js dependency should be peerDependencies?"
Hi.
My product wants to update `React.js` to v16.0, but `react-materialize` depends on v15.x.

Would you have plan to support v16.0? if so, I want to bring React.js to peerDependencies.
(in my case, use react-v16.0 with react-materialize works fine)

[2017-09-29 08:17] alextrastero commented on #383
Hey @lyczkop, please elaborate a little more what the problem is. I've just tested the `Tabs` and they seem to work fine. Are you getting any errors in the console? Do other materialize js components work like `Carousel`?

[2017-09-29 17:43] strin commented on #325
@alextrastero thanks for solving this issue! Is this on npm yet?

[2017-09-30 01:43] drhectapus opened #386 "Modal doesn't work"
I'm trying to nest a modal component within the navbar component, but I come up with the following error:

  `  Error: _processChildContext is not available in React 16+. This likely means you have multiple copies of React and are attempting to nest a React 15 tree inside a React 16 tree using unstable_renderSubtreeIntoContainer, which isn't supported. Try to make sure you have only one copy of Re

[2017-09-30 09:27] alextrastero commented on #386
Hey @drhectapus we don't support React16 just yet, please downgrade to 15 and it should work

[2017-09-30 09:27] #386 closed

[2017-09-30 09:27] alextrastero commented on #384
Hey @uryyyyyyy, we don't support React16 just yet, a couple components will need to be rewritten for that.

[2017-09-30 09:27] #384 closed

[2017-09-30 09:44] alextrastero commented on #380
This doesn't seem like an issue with `react-materialize`, in my opinion it's not a good idea to change a component's type based on an input `onChange`, maybe add a select with ['select', 'text'] and then onChange render a different type? or render both and hide and show depending on the state... ?

[2017-09-30 09:44] alextrastero commented on #383
Closing, let me know if this continues to be a problem

[2017-09-30 09:44] #383 closed

[2017-09-30 09:47] alextrastero commented on #325
Yeah sure it is :)

[2017-09-30 09:49] #371 closed

[2017-09-30 09:49] alextrastero commented on #367
This is solved now :)

[2017-09-30 09:49] #367 closed

[2017-09-30 09:50] alextrastero commented on #365
Is this still an issue?

[2017-09-30 09:50] #365 closed

[2017-09-30 09:51] alextrastero commented on #363
I think so, please check http://materializecss.com/side-nav.html#options, let me know if it doesn't work :)

[2017-09-30 09:51] #363 closed

[2017-09-30 09:51] alextrastero commented on #348
Did you manage to solve this?

[2017-09-30 09:52] alextrastero commented on #347
Closing, let me know if this is still an issue

[2017-09-30 09:52] alextrastero commented on #346
Closing, let me know if this still an issue

[2017-09-30 09:52] #346 closed

[2017-09-30 09:53] alextrastero commented on #345
Closing, let me know if this still an issue

[2017-09-30 09:53] #345 closed

[2017-09-30 12:10] desirelabs commented on #347
Having the same issue :
[code]
Needs `hover: true` to work.
Using react-materialize v1.0.14 and materialize 0.100.2

I used the v0.98.0 and same issue.

[2017-10-02 11:47] dmitry-yudakov opened #388 "Controlled input in Autocomplete"
Autocomplete component seems to support only uncontrolled input - the value is kept inside its internal state and I see no clear way of knowing when it's changed and also when the auto-complete  actually occurs.

I'll post a PR addressing this issue.

[2017-10-02 22:28] weasteam commented on #348
I think so, I can close it. I just use the materilizedcss to resolve the problem.

[2017-10-03 13:39] TedJani commented on #380
The changing of the input type was just an example. A more real world use case would be a parent component setting the the property dictating wether the input should be a select or text.
Also, if I use an html select element instead of the react-materialize Input, everything works as expected. I believe that there is a bug here, since when the select Input component unmounts, it results in a DOMEx

[2017-10-04 16:43] alextrastero commented on #347
True, it seems that if hover is set, the dropdown is placed after initialisation:
https://github.com/Dogfalo/materialize/blob/master/js/dropdown.js#L74
I'm not sure yet how to solve this

[2017-10-04 17:02] harishrohokale opened #392 "Tabs are not working properly"
Tabs are not working properly when this.setState({field1: this.field1}) executes. If i comment this.setState code then it works as expected. Can you please help me to fix this?

[2017-10-06 07:07] alextrastero commented on #392
Hey @harishrohokale could please paste a code example of what's not working and the expected behaviour?

[2017-10-06 07:08] alextrastero commented on #380
Hey @TedJani, would you like to give it a go and try to submit a PR? Maybe if you write a spec with your expected behaviour then it would be easier to solve, WDYT?

[2017-10-06 07:18] alextrastero commented on #350
Looking into this :)

[2017-10-07 15:03] jeromepeters commented on #277
Any updates on this?

[2017-10-08 08:19] alextrastero commented on #277
Hey @jeromepeters, `react-materialize` is just a react wrapper for `materializecss` which requires jQuery, it would require lots of effort and time to do this, so for now, it's not been planed.

[2017-10-08 22:13] weasteam opened #395 "Does Dropdown and Modal conflicted to each other?"
I am trying to have each dropdown item to trigger one same model (Use No trigger method), the content of model will be updated from `onClick` event.

I got these errors.

1) The first time to trigger model via clicking the dropdown list, only model background show up (the page get a little bit dark), the actual model does not pop out.
2) The second time to click the dropdown, the dropdown menu doe

[2017-10-09 15:38] harishrohokale commented on #392
@alextrastero Basically I have used the Tabs such as below in the same JSX file where i have the API calls to get the data from backend. Once i receive the data from backend i do this.setState({}) with some fields. Which basically change the state on ui and reinitiate the UI. I think thats causing the issue. When i do comment the API calls everything works fine.

So the issue is when i do setState

[2017-10-10 12:50] jakemonton opened #396 "Select not working on react v16.0.0"
I am using react-materialize v.1.0.14 and select is not working. Seems like there's a version mismatch since I am using v16.0.0 and react-materialize is still using v15.6.2.

<img width="1262" alt="screen shot 2017-10-10 at 8 46 16 pm" src="https://user-images.githubusercontent.com/2330966/31387316-8e3f5e86-adfc-11e7-890c-04fcacd0ca09.png">

[2017-10-10 14:10] alextrastero commented on #396
Yes, migrating to react16 is not trivial, we still haven't got round to do it :)

[2017-10-11 03:41] jakemonton commented on #396
Yeah, I understand. Is there a workaround aside from downgrading the react version to 15.6.2?

[2017-10-11 04:08] stewmystre commented on #102
Having issues with the drop down list not showing up properly when minLength={0}, it is acting like minLength={1} any ideas?

[2017-10-11 04:40] stewmystre opened #397 "Autocomplete returns null when minLength=0"
Having issues with the drop down list not showing up properly when minLength={0}, it is acting like minLength={1}

I believe I know where the issue is in the code ... Autocomplete.js line 34:

if (minLength && minLength > value.length || !value) {
      return null;
}

The "!value" will always return true for a string length of 0 regardless if minLength is set to 0

Recommend removing the '|| !val

[2017-10-11 05:50] stewmystre commented on #397
I can see why the ||!value was used as without this it will render the dropdown all the time with an empty string ... it is missing ... only activate when the input field has focus or is selected. This is what materializecss does. Not sure how to add that into the code ... is there an isSelected function maybe that can checked?

[2017-10-11 15:06] alextrastero commented on #396
I'm afraid not, `npm i -S react@15.x` is the only solution :)

[2017-10-11 15:07] #396 closed

[2017-10-12 05:39] chris-gooley opened #398 "Time Picker is not in documentation and doesn't appear to be implemented."
Is the Time picker implemented?

Materialize CSS reference: http://materializecss.com/forms.html#time-picker

[2017-10-13 01:35] chris-gooley commented on #398
Okay, seems the materialize-css package needs to be updated to at least v0.99 before this can be done.

[2017-10-13 03:07] alexgsummer opened #399 "Input component placeholder and label collide"
- Visit https://react-materialize.github.io/#/forms
- Click the `first name` field and enter some text
- Backspace and remove the text
- Tab or click another field to make `first name` field lose focus
- Notice that the placeholder and label are now rendered on top of each other (see screenshot)
<img width="537" alt="screen shot 2017-10-12 at 11 04 44 pm" src="https://user-images.githubusercontent

[2017-10-13 03:16] alexgsummer commented on #399
I found a potential solution. From [materialize-css documentation](http://materializecss.com/forms.html):

"If you are having trouble with the labels overlapping prefilled content, Try adding class="active" to the label."

[2017-10-13 04:25] chris-gooley commented on #398
#400

Created pull request to upgrade materialize-css package and implement time picker.

[2017-10-13 18:34] alextrastero commented on #392
So when Tabs receives new props, it stops working?

[2017-10-13 18:48] alextrastero commented on #398
Merged! `1.0.16`

[2017-10-13 18:48] #398 closed

[2017-10-13 18:48] alextrastero commented on #398
p.s. please continue contributing!! :)

[2017-10-14 19:40] jjbluesky opened #402 "TextArea"
I'm missing the <TextArea> component. Is it planned to implement it in the future for react-materialize? Or is it available now and I just don't see it?

[2017-10-14 23:54] DiegoCorrea opened #403 "SideBar class text color on span"
Hi,
I search on documentation and try some things to make work, but nothing work.
I want change the exit:
`<a href="#!name"><span class="white-text name">asdasd</span></a>`
To:
`<a href="#!name"><span class="black-text name">asdasd</span></a>`

when i use:
<SideNavItem userView
          user={{
            background: `${'/images/place/painel/userBackgroundImage.png'}`,
            image: `${"/im

[2017-10-15 07:54] alextrastero commented on #403
Hey @DiegoCorrea, i'm not sure I understand this well. You want to change the exit? asdasd to asdasd?

[2017-10-15 07:58] alextrastero commented on #402
`<Input type="textarea"/>` should work :)

[2017-10-15 12:34] DiegoCorrea commented on #403
Sorry for my bad explain. The GitHub read the HTML and embeed it. Sorry.
I what to change the class on span. Automatic the sidebar put "white-text" and i want to change it to another color, like black.
"
<a href="#!name"><span class="white-text name">asdasd</span></a>
To:
<a href="#!name"><span class="black-text name">asdasd</span></a>
"

[2017-10-16 08:39] dmitry-yudakov commented on #392
In Tabs render() there's **scope** variable used later in **<li key={}>**. It's regenerated on every render, which will rebuild <ul> contents every time because of their changed keys.

Meanwhile **$(...).tabs()** is only called once in componentDidMount.

Could the **scope** variable be generated in constructor and then preserved for the instance's lifetime? It could fix the issue with the tabs an

[2017-10-18 08:46] jjbluesky opened #404 "Modal - ReferenceError: Can't find variable: $"
I've tried to implement the basic modal example (https://react-materialize.github.io/#/modals). But when I click on the button, I just get an "ReferenceError: Can't find variable: $" (showOverlay OverlayTrigger.js:73).

I'm using the current version of react-materialize.
Does anyone know why this could happen?

[2017-10-18 15:16] alextrastero commented on #404
This can be because you are using `create-react-app`. If not, do you have an `index.html` including the jquery script?

[2017-10-18 20:29] jjbluesky commented on #404
Yes, unfortunately I'm using create-react-app. Is there any fix for this? Including the jquery script didn't do the trick.

[2017-10-19 07:04] alextrastero commented on #404
I see, have a look at these comments: https://github.com/facebookincubator/create-react-app/issues/679

[2017-10-19 07:04] #404 closed

[2017-10-19 09:19] jjbluesky commented on #404
After adding jquery I've got another error and this helped: [](https://github.com/react-materialize/react-materialize/issues/381)

[2017-10-19 12:41] sfcgeorge opened #405 "CollapsibleItem expanded doesn't work."
CollapsibleItem doesn't open initially even if `expanded` is set to true. I know the prop is being set properly because if I change it to "foo" then React complains that it's not a boolean, true or false it is happy with. But the collapsible doesn't initialize open as it should.

I can't obviously see the problem but it must be around here https://github.com/react-materialize/react-materialize/blo

[2017-10-19 14:09] adamdriscoll opened #406 "Errors when rendering Select control with React 16"
I am receiving the following errors when attempting to render a Select control in React 16. Running version ^1.0.16 of react-materialize.

![image](https://user-images.githubusercontent.com/1256531/31775079-2d3386f0-b4ad-11e7-9bf7-394d80787843.png)

![image](https://user-images.githubusercontent.com/1256531/31775133-5f3bb9f6-b4ad-11e7-8105-e3228a7d7165.png)

[2017-10-20 17:38] harishrohokale commented on #392
@dmitry-yudakov Worked Thanks!

[2017-10-20 17:38] #392 closed

[2017-10-20 18:25] Itagiba opened #407 "How can I change the logo text for the Navbar?"
There does not appear to be a way to change the text Logo `<Navbar brand='logo' right>` for the [Navbar.js](https://github.com/react-materialize/react-materialize/blob/master/src/Navbar.js#L49) unless you modify the actual core JS file, how can I make this an editable prop?

[2017-10-23 06:38] alextrastero commented on #407
Hey @Itagiba, `brand` prop is set to node, what do you mean by make the prop editable?

[2017-10-23 06:41] alextrastero opened #408 "Change `Tabs` lifecycle initialise"
Ref: https://github.com/react-materialize/react-materialize/issues/392

Currently the tabs are only initialised on mount, this should happen on receive props if they've changed.

[2017-10-23 06:41] alextrastero commented on #406
Hey @adamdriscoll, no react16 support yet :)

[2017-10-23 06:41] #406 closed

[2017-10-23 06:42] alextrastero commented on #372
more info: https://github.com/react-materialize/react-materialize/issues/381

ping @alsaydali ?? :)

[2017-10-23 06:43] alextrastero commented on #405
@sfcgeorge thanks, did you manage to solve this?

[2017-10-23 08:20] sfcgeorge commented on #405
Nope. I tried lots of things but I just can't get it to respect the expanded prop. It expands and contracts when clicked so I know it's not completely broken, it just won't start open.

[2017-10-23 08:28] alextrastero commented on #405
Ok, i'll have a look asap

[2017-10-24 00:18] iamjosan opened #409 "Unknown prop 'onAutocomplete'"
I'm getting the following error while trying to use the `Autocomplete` component:

`Warning: Unknown prop onAutocomplete on <div> tag. Remove this prop from the element.`

I am using `React 15.6.1` and `react-materialize 1.0.16`.

Any idea how to resolve this?

Edit
I just checked the source code for the Autocomplete component and it appears that the 'onAutocomplete' prop does not exist even thoug

[2017-10-24 07:51] alextrastero commented on #409
I wouldn't worry to much about warnings, it's something we need to fix on our end :)
As per that prop: https://github.com/react-materialize/react-materialize/blob/master/src/Autocomplete.js#L99

[2017-10-24 07:51] #409 closed

[2017-10-24 15:58] harishrohokale commented on #388
@alextrastero Is this fix available in latest release? I am also not able to get the value once autocomplete is done. Or atleast need an event which will tells us that autocomplete is done.

I tried onChange and onAutocomplete but both did not work when autocomplete is done

[2017-10-24 16:23] harishrohokale commented on #388
```<Autocomplete name='resource' onAutocomplete={this.onUpdateResource.bind(this)} title="Resource" s={12} data={this.RESOURCES}></Autocomplete>```

[2017-10-24 16:25] harishrohokale commented on #388
I have pulled down from └── react-materialize@1.0.16  (git://github.com/react-materialize/react-materialize.git#544429c5c3d1efa1317cd01fe08994d1951d4aa2)

[2017-10-25 06:15] fsolar opened #410 "Translate the Date Picker"
Hi guys, any way to translate the Date Picker? and set the start day to Monday. I tried in many ways but I did not succeed.

Thanks.

[2017-10-25 06:47] alextrastero commented on #410
I believe you can pass options to the initialise method, here are the options: http://amsul.ca/pickadate.js/date/#options

[2017-10-25 06:47] #410 closed

[2017-10-25 06:48] alextrastero commented on #388
Did that make it work?

[2017-10-25 15:01] fsolar commented on #410
I solved it by inserting the translate file (available here: https://github.com/amsul/pickadate.js/tree/3.5.6/lib/translations) in the index.html after jquery and materialize.min.js file.

Thanks.

[2017-10-25 23:48] chris-gooley opened #411 "An options array with a single element passed into a Select throws a "React.Children.only expected to receive a single React element child" error"
If an options array of length one is passed as the children to a select input, a "React.Children.only expected to receive a single React element child" is thrown from the `Input.renderIcon` method.

This is a result of the `React.Children.count(children)` returning 1 when called on an array of length 1 and the `React.Children.only(children)` method expecting a single React element to be passed to

[2017-10-26 00:28] chris-gooley commented on #411
Worked out a fix for this issue.

Added a check to test that `children` wasn't an array before continuing to set the Icon.
See the pull request for details.

[2017-10-27 06:21] Visovsiouk commented on #408
Can I try to resolve this issue?

[2017-10-27 12:26] alextrastero commented on #408
Of course @Visovsiouk :)

[2017-10-28 00:06] fsolar opened #414 "Reset select input after form submit?"
Hi guys, I'm managing a form with states, I create a handleSubmit function to sincronize with firebase with onSubmit event. The thing is that regular type="text" inputs are easy to set the state to ' ' but i cant resolve how to change the select inputs to the the default option after submit process.

[2017-10-28 22:59] CodeDraken opened #415 "React v16 issue"
I'm getting `this.updater.enqueueCallback is not a function` when using redux-form + react-materialize. I'm not sure what's causing it, but replacing react & react-dom in react-materialize with v16 fixes it.

[2017-10-29 01:13] MatheusVellone opened #416 "Fixed (always visible) SideNav"
[Materialize SideNav docs](http://materializecss.com/side-nav.html#variations) (last example) tells about adding a `fixed` class in addition to `side-nav` to create a always visible SideNav.
Tried to accomplish this behavior with the lib, but couldn't.
I've searched docs, issues, SO questions, but didn't find anything.

Looks like this feature is missing in the lib.

[2017-10-29 07:27] weasteam opened #417 "TypeError on CollapsibleItem when clicked"
When I created my own component returns a `CollapsibleItem`, it will report a type error. That to be said, by clicking `First` it works without any problem. When clicking `Second`, it will return an error:

[code]

[code]

Here is the error message:
[code]

[2017-10-29 18:23] weasteam opened #419 "change class of CollapsibleItem header"
How can I change the class of CollapsibleItem header?

When I add a class name to CollapsibleItem, it applies the class to the body, not header.

[2017-11-02 17:00] przbadu opened #420 "$ is not a function"
![screen shot 2017-11-02 at 10 43 39 pm](https://user-images.githubusercontent.com/4189129/32339323-90bcfcd8-c01f-11e7-89e5-9155dc925f94.png)

[2017-11-02 17:51] alextrastero commented on #420
Hey @przbadu, does this help: https://github.com/react-materialize/react-materialize#create-react-app

[2017-11-02 17:52] #420 closed

[2017-11-02 17:54] alextrastero commented on #419
Hey @weasteam, header prop should contains a node with a className for this to work:
[code]

[2017-11-02 17:54] alextrastero commented on #419
Let me know if this doesn't work :)

[2017-11-02 17:57] alextrastero commented on #416
True, this is not implemented yet, adding a `help-wanted` label incase anyone want's to pick this up:
https://github.com/react-materialize/react-materialize/blob/master/src/SideNav.js
Adding fixed prop should add class to 'side-nav'

[2017-11-02 17:58] alextrastero commented on #415
At this time we still don't support react16. Please downgrade to `react@15.x` and `react-dom@15.x` to make it work :)

[2017-11-02 17:58] #415 closed

[2017-11-02 18:06] alextrastero commented on #414
Hey @fsolar, I don't fully understand this.

You have a Select with a default value like so:
[code]
You then `setState` when clicking one of those options, but the defaultValue doesn't change?

[2017-11-03 02:49] MatheusVellone commented on #416
I'm not too experienced with React, but I can work on a PR to fix it.

Just need some opinions (because I'm new with React)
If the `fixed` prop exists, then `trigger` shouldn't be required (doesn't need a `trigger` prop because the side-nav is always visible). So I was thinking about [this package](https://github.com/evcohen/react-proptype-conditional-require) to conditionally set the `required` r

[2017-11-03 09:14] alextrastero commented on #416
Hey @MatheusVellone, thank you! As for the package, I would rather not add another dependency but favour adding the prop `trigger` as optional instead of required, what do you say?

[2017-11-03 13:55] nya1 opened #422 "Radio group Input not working correctly when one is "checked" by default"
Hi,
I'm having issues with 2 radio input, when one is automatically checked (via the "checked" property) the other one requires 2 clicks to be checked

[code]

If I add onClick to the 'B' input I can see the event is triggered but visually is not checked

[2017-11-03 14:27] alextrastero commented on #422
True! good catch, I'll mark this as `help-wanted` incase anyone wants to pick it up, @nya1 u up for it?

[2017-11-03 15:07] nya1 commented on #422
Sorry, I cannot help on this

[2017-11-03 15:46] MatheusVellone commented on #416
IMO, I like the idea of `trigger` being required when `fixed` is false.
Because when someone try to use it without `fixed` and without `trigger`, at least a prop validation will be shown.

As this won't add/remove any functionality and add another dependency, if you're ok with it, I'll skip it.
Is skipped, I think in a message in the docs to warn possible incorrect usages is a good

[2017-11-04 21:15] weasteam commented on #419
Not working, because the header only highlights the text. It does not highlight the `header` or icon that come with it.

[code]

This is ideal html, it would be great if the classname can be pass to `collapsible-header` like bellow.
[code]

[2017-11-05 05:52] dougneves opened #423 "Navbar always collapse in mobile"
Hello everybody,

I'm writing a cordova react app, using react-materialize for the front-end, and I want to use the SideNav component for a better looking mobile menu.
But I can't put the component as a NavBar item because the NavBar always collapse in mobile.
Is there a way to turn off NavBar collapse?

Thanks!

[2017-11-05 09:40] alextrastero commented on #419
How about:
[code]

[2017-11-06 03:28] przbadu commented on #420
@alextrastero: Yep, but I am trying to build electron app, which will be available for offline use. But the solution was simple. If you are using create-react-app, you can do:

`src/index.js`

[code]

Hope this will be helpful to someone looking for similar solution.

[2017-11-07 09:53] yuzhakovvv commented on #423
@dougneves I use this as a temporary solution in my CSS:
`.hide-on-med-and-down {
  display: block !important;
}
#nav-mobile {
  display: none;
}
.button-collapse {
  display: none;
}`

[2017-11-08 18:28] weasteam commented on #419
Nop, that is not working.

It only results in the first picture. I want the result looks like in the second picture.

![screen shot 2017-11-08 at 10 00 06 am](https://user-images.githubusercontent.com/6238854/32567210-7153e5a6-c46f-11e7-9803-dd19c1fda4f6.png)
![screen shot 2017-11-08 at 10 00 44 am](https://user-images.githubusercontent.com/6238854/32567213-73d446fe-c46f-11e7-907a-27a195a418a7.png

[2017-11-13 07:56] #411 closed

[2017-11-18 12:46] masoudMZB opened #427 "support react16"
when you release react-materialize version that supports version 16 of react

[2017-11-18 13:12] alextrastero commented on #427
1.1.0 supports react 16

[2017-11-18 13:12] #427 closed

[2017-11-18 17:42] juan-carlos-correa opened #428 "How can i use Toast component whitout Button"
I want to use Toast Component when i get the http response of a api and show the message.

Some like

Materialize.toast('I am a toast!', 4000)

Just javascript code. Whithout button. Any idea?

[2017-11-24 00:16] Jiab77 commented on #416
Hi all, I'll try to help on this as I'm using your in mine. Thanks for your great job, saved me a lot.

[2017-11-24 07:56] alextrastero commented on #416
Thanks @Jiab77

[2017-11-24 21:04] Jiab77 commented on #416
@alextrastero You're welcome. Do you have some guidelines to modify your project ?

[2017-11-25 06:21] friek108 commented on #277
MaterializeCss 1.0 alpha has been released which has no jQuery dependency.. http://next.materializecss.com

Not sure how this would be constructed but certainly looks like a possibility for the roadmap?

[2017-11-27 08:09] TaisukeYasuda opened #429 "Input value PropTypes should allow for array values"
When the Input component handles multiple values, the PropType for value should allow for PropType.array.

[2017-11-27 08:55] alextrastero commented on #429
True! thanks

[2017-11-27 09:24] alextrastero commented on #277
thanks @friek108, it sure does look promising

[2017-11-27 10:01] alextrastero commented on #416
@Jiab77 not really, we have some eslint rules, but that's it :)

[2017-11-28 12:11] AleF83 commented on #429
Hey, I want to try to solve it.

[2017-12-03 18:18] matas30rubliu commented on #102
would love to have an option to set ID for my Autcomplete element

[2017-12-03 19:09] matas30rubliu commented on #388
@alextrastero id is hardcoded for Autocomplete = creating multiple Autocomplete fields creates them with the same ID, please allow it to set as a prop.

https://github.com/react-materialize/react-materialize/blob/master/src/Autocomplete.js#L103

[2017-12-04 08:48] mlileikis opened #431 "Set Autocomplete ID from props"
Hello, I would like to add ID property for input generated by Autocomplete component.
Right now it is hardcoded as autocomplete-input https://github.com/react-materialize/react-materialize/blob/master/src/Autocomplete.js#L103.
This causes wrong behavior when multiple Autocomplete components are created, e.g. clicking one field selects the other.
Could someone look into it? I tried locally fixing n

[2017-12-04 11:55] alextrastero commented on #431
Hey @mlileikis, wanna give it a try and submit a PR? Would be glad to review it :) Have a look how it's done here: https://github.com/react-materialize/react-materialize/blob/aa9f65f096d71ebb66498b623bb338fda95fae2c/src/SideNav.js#L8 maybe.

[2017-12-04 11:56] alextrastero commented on #429
Thanks @AleF83 ! Will review this ASAP

[2017-12-04 12:15] mlileikis commented on #431
Okay I'll try to contribute, but I'm not familiar with the process with git, I'm used to mercurial.

I'll have to fork this repo and clone it, make changes, then push and you will merge it, right?

[2017-12-04 13:15] alextrastero commented on #431
Cool thanks!

[2017-12-04 14:30] mlileikis commented on #431
PR created https://github.com/react-materialize/react-materialize/pull/432

[2017-12-04 16:20] #429 closed

[2017-12-05 08:17] EtiennePeeters opened #433 "parentComponent must be a valid React Component after upgrading to 1.1.0"
Coming from [Overlay.js](https://github.com/react-materialize/react-materialize/blob/e01c95b43be635447161514c06996dacab7b6204/src/Overlay.js#L39).

**Solution: do not upgrade to 1.1.0 when using React 15.**

It did not immediately occur to me that version 1.1.0 depends on React 16. And because my package.json states `"react-materialize": "^1.0.6"`, it automatically updates to new **minor** version

[2017-12-05 08:49] alextrastero commented on #433
You are absolutely correct. I checked the components but couldn't find anything broken, that's why I opted for a minor. I'll have a look at this ASAP

[2017-12-05 08:55] alextrastero commented on #433
Is this a warning or an error? can you submit a code example here?

[2017-12-05 08:57] alextrastero opened #434 "Use React16's Portal"
Currently, we have components that use a custom made `Portal`, now that react 16 supports portal's we should use the native solution.

AC
- All components that use the `Overlay.js` should use react portals instead

Docs
https://reactjs.org/docs/portals.html

[2017-12-05 08:57] alextrastero commented on #416
Hey @Jiab77 are you still up for this? :)

[2017-12-05 08:58] alextrastero commented on #422
Hey @nya1, is it because of time or lack of knowledge, I could help you out on the latter :)

[2017-12-05 08:59] alextrastero commented on #428
Hey @juan-carlos-correa, did you manage to solve this? Is there any improvements to the documentation you think is needed to solve this for others? Cheers!

[2017-12-05 09:14] EtiennePeeters commented on #433
Thanks! Fortunately I can upgrade to React 16, so that obviously solves the problem also. But others might not be so fortunate.

It is an error.

The error in overlay.js is triggered by just rendering a `Modal`. I do not use `Overlay` myself.
_MyModal.jsx:_
[code]

[2017-12-05 11:06] nya1 commented on #422
They are both, sorry

[2017-12-05 13:44] mlileikis commented on #431
Nice, we completed this issue then, I'll close it. Before I do, when will these changes be merged to master branch? :)

[2017-12-06 13:57] Willibaur opened #436 "Material Icons not working with React components"
I have a site using Middleman, Webpack and Materialize, we have a React component in one of the pages that works ok apart from the fact that Material Icons are not rendered on Internet Explorer and Firefox; all icons in the rest of the site work fine across all browsers.
Any help would be appreciated.

## Packages used
- materialize-css 0.100.2 => I tried 0.97, 0.98 with the same result
- webpack

[2017-12-11 08:36] Dyceman commented on #433
Has this issue been solved?

[2017-12-11 08:37] alextrastero commented on #433
Hey @Dyceman, not yet, would you like to give it a try? :)

[2017-12-11 08:39] #433 closed

[2017-12-11 08:50] Dyceman opened #437 "Uncaught TypeError: data[option] is not a function"
Unable to open a modal after upgrading React  to version 16.0.0

`Uncaught TypeError: data[option] is not a function
    at HTMLDivElement.<anonymous> (app.js:35086)
    at Function.each (app.js:23973)
    at jQuery.fn.init.each (app.js:23768)
    at jQuery.fn.init.Plugin [as modal] (app.js:35080)
    at OverlayTrigger.showOverlay (app.js:6188)
    at HTMLUnknownElement.callCallback (app.js:39237)

[2017-12-11 12:05] Dyceman commented on #433
I upgraded to react16 and I've received a new error message involving the modal.

[2017-12-11 12:21] Dyceman commented on #437
Solved my issue. Had bootstrap components loaded.

[2017-12-11 12:21] #437 closed

[2017-12-13 12:50] aravind1078 commented on #317
@kartboy16  mine is react 15.6.2 react-materialize 1.0.10 meteor version  1.5.2.2 modalOptions not working
`<Modal
        id='VideoPlayer'
        modalOptions={{ dismissible: false,
          complete: this.handleClose }}
        trigger={
          <VideoPlay
            className='modal-close'
            onClick={this.handleTrigger}
            id='myBtn3'
            style={{ marginBottom: '

[2017-12-15 23:13] Jiab77 commented on #416
Sorry, yes I'm still on, just having a work that taking me a lot of time. I took time to read the sourcecode, I've cloned your repository and started studying the way to include this features among other missing ones.
I was also busy on my personal project, had to rework the design completely and some personal issues to finish lol anyway, yes I'm still insterested by helping on this project, just

[2017-12-15 23:14] Jiab77 commented on #416
also thanks for your guidelines :+1:

[2017-12-17 20:25] guboi72 opened #438 "Uncaught TypeError: $(...).pickatime is not a function"
Hi, I use react and materialize and I can't make the timepicker work. I looked on your site https://react-materialize.github.io/#/forms and you seem to have the same error in console. Can you confirm that you have the same console error.

I use vanilla materialize by importing it from my index.html.

```<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>```
`

[2017-12-18 04:21] benfluleck commented on #433
Cheers for this i used this fix on my vscode and it worked and removed the errors however when i pushed to production on Heroku i encountered the same errors. Any thoughts?

[2017-12-18 09:43] alextrastero commented on #433
Hey @benfluleck, what errors specifically?

[2017-12-18 19:54] Dyceman commented on #438
That happens when the dom element you are trying to access is out of scope. I currently having the same issue trying to close a modal.

[2017-12-18 20:45] jimmdd opened #439 ""Uncaught Error: parentComponent must be a valid React Component" when use Modal"
I got the following erros when I tried to use Modal. It was running fine and suddenly not working. I checked my project set ups and everything else and I can't figure out why until I comment out the modal. It will give me this same error every time I try to use Modal even for the sample code from react-materialize example.

I am running on `"react-materialize": "^1.0.14" `when the issue happens, I

[2017-12-18 20:47] #439 closed

[2017-12-18 21:03] alextrastero commented on #439
Hey @jimmdd, what was the issue? incase someone else runs into this problem :)

[2017-12-18 21:04] alextrastero commented on #436
Hey @Willibaur, this doesn't seem to be an issue with `react-materialize`, as we only provide the javascript :), did you manage to solve this?

[2017-12-18 21:04] #436 closed

[2017-12-18 23:05] Pechalka opened #441 "server for docs started with errors Module not found: Error: Can't resolve 'materialize-css/css/ghpages-materialize.css"
It's because no materialize-css package.json and last version have other folder structure. I will fix it.